<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/aura-browser-5.27.3.tar.xz">aura-browser-5.27.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7419d4f82a57e3965e869a23078830f9b2fd953bec68debd66a5a74c1c77da03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/bluedevil-5.27.3.tar.xz">bluedevil-5.27.3</a></td>
   <td align="right">355kB</td>
   <td><tt>2b302e45090a2470428594e8617ee18f4bfd651ec5dd96aef0ab8e2bdb161bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/breeze-5.27.3.tar.xz">breeze-5.27.3</a></td>
   <td align="right">83MB</td>
   <td><tt>7764f5bcce91e487c8756ab7c0d8a14d2bc36f97c8c33f82a70d81380e78798a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/breeze-grub-5.27.3.tar.xz">breeze-grub-5.27.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>06f0ea79f4475d49d7dbad8b9a1ea7751966b3f5985edd2d7919285628ddf256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/breeze-gtk-5.27.3.tar.xz">breeze-gtk-5.27.3</a></td>
   <td align="right">39kB</td>
   <td><tt>37b9b189c04ab21dc56c3e6b7447c454028beaf7f0abdcaa25983b59733fbf79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/breeze-plymouth-5.27.3.tar.xz">breeze-plymouth-5.27.3</a></td>
   <td align="right">108kB</td>
   <td><tt>55933cb80b8e128f79c327ba20195fce9217b958879c8ae1ef0dd4a335d1144f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/discover-5.27.3.tar.xz">discover-5.27.3</a></td>
   <td align="right">844kB</td>
   <td><tt>88c4845068b3820dfac670ea63e9ffbae0d5fb733b68d965612009033fda0adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/drkonqi-5.27.3.tar.xz">drkonqi-5.27.3</a></td>
   <td align="right">835kB</td>
   <td><tt>c3cbd3ab917742b1b70a7857c0d30989139f65318993ad0131f22ebb30d835dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/flatpak-kcm-5.27.3.tar.xz">flatpak-kcm-5.27.3</a></td>
   <td align="right">210kB</td>
   <td><tt>3691c87e639d4015affd800bb1eb69878c1754b2491845a74c2cae91d13d5bfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kactivitymanagerd-5.27.3.tar.xz">kactivitymanagerd-5.27.3</a></td>
   <td align="right">122kB</td>
   <td><tt>64104a3a8c40b0e60f4d2fb0c314cfb93ebe4f7fd4c74af48311d388f3e8ee24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kde-cli-tools-5.27.3.tar.xz">kde-cli-tools-5.27.3</a></td>
   <td align="right">642kB</td>
   <td><tt>a1a20176752b0d3e9af7ae063d5077855c0438ec4dc280dc85f0bb34f6f93aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kdecoration-5.27.3.tar.xz">kdecoration-5.27.3</a></td>
   <td align="right">51kB</td>
   <td><tt>070e184f79768198af6490f33a82677f27a7231da80c8d07981adfe3b0a9fedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kde-gtk-config-5.27.3.tar.xz">kde-gtk-config-5.27.3</a></td>
   <td align="right">73kB</td>
   <td><tt>aaac548e0e3e17cd2751f7a6912e9b43e58bedd01a46381dc700116b5ae97111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kdeplasma-addons-5.27.3.tar.xz">kdeplasma-addons-5.27.3</a></td>
   <td align="right">798kB</td>
   <td><tt>1ca9b8b27ade05b2092f36c584bc901c88d3012658939afd2e7569175ed73b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kgamma5-5.27.3.tar.xz">kgamma5-5.27.3</a></td>
   <td align="right">84kB</td>
   <td><tt>de89a5146eff62f633a068d0fa1eddb1c9fb77d7a296320941ffa747777cb67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/khotkeys-5.27.3.tar.xz">khotkeys-5.27.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e61bcbf598078980c4d5b37800e040d457f55f463ad141d6ea4dceb884b806eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kinfocenter-5.27.3.tar.xz">kinfocenter-5.27.3</a></td>
   <td align="right">991kB</td>
   <td><tt>847f6bb3b7c3f37ea6554a3526d8b89b32df28afff4c806850416f089fcf988b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kmenuedit-5.27.3.tar.xz">kmenuedit-5.27.3</a></td>
   <td align="right">904kB</td>
   <td><tt>f71038297852b53e04fc5e6da8f1b9af54113b9a70cdab98bbdc2e850667dc88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kpipewire-5.27.3.tar.xz">kpipewire-5.27.3</a></td>
   <td align="right">57kB</td>
   <td><tt>a6ac260158e2a9b7b92fa91f9cd4c2d3193b0db7e79a3e1a156ccfeba694252d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kscreen-5.27.3.tar.xz">kscreen-5.27.3</a></td>
   <td align="right">179kB</td>
   <td><tt>c10e67f36d325f96747613f2dd707cba21764941bf186e01b8cbe05f3368bd35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kscreenlocker-5.27.3.tar.xz">kscreenlocker-5.27.3</a></td>
   <td align="right">155kB</td>
   <td><tt>1aa99a34be2688fe3f0464467dae5bd79385b92dc15b1842abfa9684b35c8854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/ksshaskpass-5.27.3.tar.xz">ksshaskpass-5.27.3</a></td>
   <td align="right">27kB</td>
   <td><tt>a541353eeaedde7c54d723b26e3940cde399325a9b2a81e73542093341eff62d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/ksystemstats-5.27.3.tar.xz">ksystemstats-5.27.3</a></td>
   <td align="right">111kB</td>
   <td><tt>426848657dfaf5b0c5b88d8fab3ea49a0b0ce58927d55060007cfeb2d5256366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kwallet-pam-5.27.3.tar.xz">kwallet-pam-5.27.3</a></td>
   <td align="right">22kB</td>
   <td><tt>e218299df53fcf0369f6b65eb907a0fbac602a8a75a85c6fc7d8a7d92fea1fdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kwayland-integration-5.27.3.tar.xz">kwayland-integration-5.27.3</a></td>
   <td align="right">25kB</td>
   <td><tt>cd0118f39855eff157ef88ff7ddce7affe74305ceefd6bc5593edc9fe09f6f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kwin-5.27.3.tar.xz">kwin-5.27.3</a></td>
   <td align="right">7.2MB</td>
   <td><tt>e82c12813813e09352083362aea4052b6355b0cc3742eec90a9e9e0315afc0e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/kwrited-5.27.3.tar.xz">kwrited-5.27.3</a></td>
   <td align="right">22kB</td>
   <td><tt>c20851605e0e6e0951b1ef8f7b03394722e5ed02ca010f80c2cb0eac2d6658d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/layer-shell-qt-5.27.3.tar.xz">layer-shell-qt-5.27.3</a></td>
   <td align="right">17kB</td>
   <td><tt>0e9ccdc7d6b6c73abb38bf67b7e54118ab0ec476b09095a80392751b029f72e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/libkscreen-5.27.3.tar.xz">libkscreen-5.27.3</a></td>
   <td align="right">111kB</td>
   <td><tt>85d77116323d6792e2b82263a240eff263cb2a25d2f4d1a6e2c4b005a8e9c65f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/libksysguard-5.27.3.tar.xz">libksysguard-5.27.3</a></td>
   <td align="right">851kB</td>
   <td><tt>3ff2bb6f7cd614e081729dd4dd99ae627b3a4a2f0e6953654db70093afd1bb1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/milou-5.27.3.tar.xz">milou-5.27.3</a></td>
   <td align="right">55kB</td>
   <td><tt>eb6c2d92a63b8ab1209ae1360d6b51f21872dc91b8f0853212bc5a6962156e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/oxygen-5.27.3.tar.xz">oxygen-5.27.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9011f8edd2c63594f129e0744823dde1b44fa25ffc20e4ef7fa9feb7909335b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/oxygen-sounds-5.27.3.tar.xz">oxygen-sounds-5.27.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0db93cd09e38079eb183e65d99ee8dabfb3c7eb99a8927c7497b50eae164f7ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plank-player-5.27.3.tar.xz">plank-player-5.27.3</a></td>
   <td align="right">154kB</td>
   <td><tt>3cd3bb6b2403195eb60cff49cb09666125ed485c4957d7934c8813cd62336247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-bigscreen-5.27.3.tar.xz">plasma-bigscreen-5.27.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7de4bd70ee421845544fba906fec37360131e794e2476761092e354480b0e16e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-browser-integration-5.27.3.tar.xz">plasma-browser-integration-5.27.3</a></td>
   <td align="right">206kB</td>
   <td><tt>cde2c04b0ee5bde50cf19921192982ade30250bd57fec8440b5aac1e86a73b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-desktop-5.27.3.tar.xz">plasma-desktop-5.27.3</a></td>
   <td align="right">13MB</td>
   <td><tt>e2ddd1a219b178068e4a91425185c752ff0616a8b09a80b6ccdbbb1104f334e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-disks-5.27.3.tar.xz">plasma-disks-5.27.3</a></td>
   <td align="right">90kB</td>
   <td><tt>2ec52b16702a6469c01b27858952b93ee2d8c52f4d30c3ee9a868c191c6e3c55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-firewall-5.27.3.tar.xz">plasma-firewall-5.27.3</a></td>
   <td align="right">353kB</td>
   <td><tt>01d8bde505459c4b1a959e54ad562b193995f2dd479bac6bb71f98f66004a461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-integration-5.27.3.tar.xz">plasma-integration-5.27.3</a></td>
   <td align="right">87kB</td>
   <td><tt>260518daaa7a608b488a4ed979ffb17ab1b447a97921a8dce6e1e04f3278998e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-mobile-5.27.3.tar.xz">plasma-mobile-5.27.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>2eb93da0a513f15cc7d9339fb8f38eb9d2c09661cf9a1c8caa6c2bc1704ec065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-nano-5.27.3.tar.xz">plasma-nano-5.27.3</a></td>
   <td align="right">72kB</td>
   <td><tt>2379bd05f6597c57b7baf42d4fef3d5df8c37d4cb2320aaecfe5ec36405e3b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-nm-5.27.3.tar.xz">plasma-nm-5.27.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>765b575ded2fac766dbf6ff61c9ff17189c57c1fe7f507435848608ca834c408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-pa-5.27.3.tar.xz">plasma-pa-5.27.3</a></td>
   <td align="right">158kB</td>
   <td><tt>2179107ee434fc92f7f73f69b268b4927ab90c7c61456846062ef672b2e6f09c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-remotecontrollers-5.27.3.tar.xz">plasma-remotecontrollers-5.27.3</a></td>
   <td align="right">78kB</td>
   <td><tt>3ce4c841fb538c012618f120922cb6595060a4208a0516bd41532004a12e5511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-sdk-5.27.3.tar.xz">plasma-sdk-5.27.3</a></td>
   <td align="right">312kB</td>
   <td><tt>4460e17a5f5176db5ffd71bb315a81608914905461d40f4afa8de6d10d415f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-systemmonitor-5.27.3.tar.xz">plasma-systemmonitor-5.27.3</a></td>
   <td align="right">167kB</td>
   <td><tt>c70c35ed996645f264520c8ee74c3085ac401a2565aed0104060c2ef2ce25988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-tests-5.27.3.tar.xz">plasma-tests-5.27.3</a></td>
   <td align="right">1kB</td>
   <td><tt>f70b3e6ccac4ec60dce2480e874bfab5ce6eb5b1a5286a116f7c05941d0d50c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-thunderbolt-5.27.3.tar.xz">plasma-thunderbolt-5.27.3</a></td>
   <td align="right">70kB</td>
   <td><tt>a5d4a0d5277fd997f5cc51cff13a468c6838f44a4624dda74d6dd293730d1a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-vault-5.27.3.tar.xz">plasma-vault-5.27.3</a></td>
   <td align="right">182kB</td>
   <td><tt>9ab2682122001f113f41a53e0ed6f521e37aad00ba384fa7f8e9390b5a9b9746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-welcome-5.27.3.tar.xz">plasma-welcome-5.27.3</a></td>
   <td align="right">801kB</td>
   <td><tt>a46a1813182f3f7e0f6c422c836e662b5e837698752dcd608dec78cfd6bfd5d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-workspace-5.27.3.tar.xz">plasma-workspace-5.27.3</a></td>
   <td align="right">17MB</td>
   <td><tt>f4d337edb03178a1b8381dfaf21c4aee19bb670366866c9eb4fd42418307e13c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plasma-workspace-wallpapers-5.27.3.tar.xz">plasma-workspace-wallpapers-5.27.3</a></td>
   <td align="right">89MB</td>
   <td><tt>8c4c1066328f2aad3a503d2be95497850e2dab9667fccab1e5e97ac36289fade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/plymouth-kcm-5.27.3.tar.xz">plymouth-kcm-5.27.3</a></td>
   <td align="right">44kB</td>
   <td><tt>8f296bdf89b79c1c39acbd64367dbc8712a5566b61fd94128208609a448ce626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/polkit-kde-agent-1-5.27.3.tar.xz">polkit-kde-agent-1-5.27.3</a></td>
   <td align="right">51kB</td>
   <td><tt>9d4115fb4cff03257131586bd285bb27c2ed115c5b22ce73c622d47ec0c3afab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/powerdevil-5.27.3.tar.xz">powerdevil-5.27.3</a></td>
   <td align="right">767kB</td>
   <td><tt>c807d4ddfa173a7bf2b6d6476eec21d6359386d7e0b7f99fe75595674ab56c99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/qqc2-breeze-style-5.27.3.tar.xz">qqc2-breeze-style-5.27.3</a></td>
   <td align="right">64kB</td>
   <td><tt>64991dac1c4b456f9ea1900e8a4e9e2c587df0d70e076d7d93cf2c8680130d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/sddm-kcm-5.27.3.tar.xz">sddm-kcm-5.27.3</a></td>
   <td align="right">89kB</td>
   <td><tt>ba85b5553c279f134d7607bdf4cb833985f988493f33d3aa1a3954eff5bf2c42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/systemsettings-5.27.3.tar.xz">systemsettings-5.27.3</a></td>
   <td align="right">218kB</td>
   <td><tt>04bca4105361416318c652d7fbf6a04ec2344365ba588d312b5d40e02d4c503e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.3/xdg-desktop-portal-kde-5.27.3.tar.xz">xdg-desktop-portal-kde-5.27.3</a></td>
   <td align="right">135kB</td>
   <td><tt>cdba28348d165195da7db7f6c5a8f4e17f67de0e41133c6ca5de2de2539f8734</tt></td>
</tr>

</table>
