
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/attica-5.28.0.tar.xz">attica-5.28.0</a></td>
   <td align="right">58kB</td>
   <td><tt>dc2e62d3c4fe864ee4c0b6b5568bee8ca4900913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/baloo-5.28.0.tar.xz">baloo-5.28.0</a></td>
   <td align="right">195kB</td>
   <td><tt>eef0fe5f8a26eb570f2c8a90cb1e764e6323d05b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/bluez-qt-5.28.0.tar.xz">bluez-qt-5.28.0</a></td>
   <td align="right">72kB</td>
   <td><tt>9f000e747f95b3b78f5b91653ade67dcca12c812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/breeze-icons-5.28.0.tar.xz">breeze-icons-5.28.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a50b78ee3fdf2ae2b4f4652bf397ec16a392986d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/extra-cmake-modules-5.28.0.tar.xz">extra-cmake-modules-5.28.0</a></td>
   <td align="right">294kB</td>
   <td><tt>9c073a86bfc83dedc40293eb313642caa0e69056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/frameworkintegration-5.28.0.tar.xz">frameworkintegration-5.28.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7966d3c42e0da4d1b477dba859e34e27c8ed8b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kactivities-5.28.0.tar.xz">kactivities-5.28.0</a></td>
   <td align="right">59kB</td>
   <td><tt>07021730514ba3c600cfbfba935e20a1c662e974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kactivities-stats-5.28.0.tar.xz">kactivities-stats-5.28.0</a></td>
   <td align="right">57kB</td>
   <td><tt>73d4228ac553f6949de33828d1ed981780d73fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kapidox-5.28.0.tar.xz">kapidox-5.28.0</a></td>
   <td align="right">385kB</td>
   <td><tt>cd4b19de3e34a8e768f1edecf512f4e4f3df6d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/karchive-5.28.0.tar.xz">karchive-5.28.0</a></td>
   <td align="right">108kB</td>
   <td><tt>26b4bc8a67c46d1bf3470990b06e5038d1da7304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kauth-5.28.0.tar.xz">kauth-5.28.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>faf7d5af52839681d547e9fe01df30cab03be73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kbookmarks-5.28.0.tar.xz">kbookmarks-5.28.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>978b33c1b5a52d461f1dffcbe7565ab11bad4603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kcmutils-5.28.0.tar.xz">kcmutils-5.28.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>111db398d5c79ab16574ba30916429f02b6d1451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kcodecs-5.28.0.tar.xz">kcodecs-5.28.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3a792caa1b7a6e575c2395cca3871e8d1f04c4a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kcompletion-5.28.0.tar.xz">kcompletion-5.28.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ae9ff91fb7eec3d2c703067d2a2c17408cb38a98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kconfig-5.28.0.tar.xz">kconfig-5.28.0</a></td>
   <td align="right">227kB</td>
   <td><tt>87a52526f988b5dec2cd902fe499d6aa40a71e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kconfigwidgets-5.28.0.tar.xz">kconfigwidgets-5.28.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f4099a8d414cba24b482cf30b9c4bfac3e5dbeef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kcoreaddons-5.28.0.tar.xz">kcoreaddons-5.28.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c72c8e542464cf5906ddae8df293a0a3b5552641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kcrash-5.28.0.tar.xz">kcrash-5.28.0</a></td>
   <td align="right">20kB</td>
   <td><tt>37427343970ec1e06fbc322a79b7518ea8b299b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kdbusaddons-5.28.0.tar.xz">kdbusaddons-5.28.0</a></td>
   <td align="right">33kB</td>
   <td><tt>ae0683535016b7e89e7d47ba481f96f56d470c7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kdeclarative-5.28.0.tar.xz">kdeclarative-5.28.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e217f26abb3c91aefc8405ae480bd5bc2980b701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kded-5.28.0.tar.xz">kded-5.28.0</a></td>
   <td align="right">35kB</td>
   <td><tt>a0c7fa2e0ab66b09c1586c65c44840accdf51d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kdesignerplugin-5.28.0.tar.xz">kdesignerplugin-5.28.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0eab2fcbab08469fc0cc1ca9abbdc4f3c1d9df09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kdesu-5.28.0.tar.xz">kdesu-5.28.0</a></td>
   <td align="right">43kB</td>
   <td><tt>32c391fc1607869d179ecd16606adf05eff0c273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kdewebkit-5.28.0.tar.xz">kdewebkit-5.28.0</a></td>
   <td align="right">28kB</td>
   <td><tt>62b82d0c5563a8d17302e65a61f86dadc3fd6568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kdnssd-5.28.0.tar.xz">kdnssd-5.28.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2fdc3c1934fb03826dc13385412e6e2342e879f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kdoctools-5.28.0.tar.xz">kdoctools-5.28.0</a></td>
   <td align="right">427kB</td>
   <td><tt>876eda41dec290a8dac0683aaed03785dd2967fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kemoticons-5.28.0.tar.xz">kemoticons-5.28.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b9c03495318390795f8ffca0cba1c097a3a18ee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kfilemetadata-5.28.0.tar.xz">kfilemetadata-5.28.0</a></td>
   <td align="right">131kB</td>
   <td><tt>c969edbefa7ec9fb34e7629bd28f693d54e3ddf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kglobalaccel-5.28.0.tar.xz">kglobalaccel-5.28.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>59dfcd69ef4addfebba378517939f417dc9f8193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kguiaddons-5.28.0.tar.xz">kguiaddons-5.28.0</a></td>
   <td align="right">38kB</td>
   <td><tt>cc4b2651ebd59a8cebb1d9cc36998c82d5f5bd40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/ki18n-5.28.0.tar.xz">ki18n-5.28.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>40fd8dfdd40e231f0b9151f1a9335fc5f4ed4787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kiconthemes-5.28.0.tar.xz">kiconthemes-5.28.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>bcb195caf212fbea3694f503535ec5dc0cdd3e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kidletime-5.28.0.tar.xz">kidletime-5.28.0</a></td>
   <td align="right">25kB</td>
   <td><tt>a194949bc27a3062720f669bf7a02cd0cb7af0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kimageformats-5.28.0.tar.xz">kimageformats-5.28.0</a></td>
   <td align="right">199kB</td>
   <td><tt>94568ef3d1022f4291858f0e828a3064824acab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kinit-5.28.0.tar.xz">kinit-5.28.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>58ef77756607dc4f28502e41963e5a083b2d3070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kio-5.28.0.tar.xz">kio-5.28.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e51352a544a23a5c8ee3dd0ab4aaa23b3d33ecc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kitemmodels-5.28.0.tar.xz">kitemmodels-5.28.0</a></td>
   <td align="right">379kB</td>
   <td><tt>ed9980843e29709fd388c1620ae3a2f2925deb45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kitemviews-5.28.0.tar.xz">kitemviews-5.28.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9bedd82450589033958ece622f2d4d9d26689b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kjobwidgets-5.28.0.tar.xz">kjobwidgets-5.28.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>4a33dcff0749dfe9c00ae38a5bf1bdd0fb222b51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/knewstuff-5.28.0.tar.xz">knewstuff-5.28.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2cb9f2168fb7c2b8e4d8a705c01d1b276670fca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/knotifications-5.28.0.tar.xz">knotifications-5.28.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>727e333aa79b16cad2fd5173ab59460bf30a52bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/knotifyconfig-5.28.0.tar.xz">knotifyconfig-5.28.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f1f6fea2733be18462a3ea1310f953f28d30cd93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kpackage-5.28.0.tar.xz">kpackage-5.28.0</a></td>
   <td align="right">160kB</td>
   <td><tt>64436f47853042ae58ff9a59f0ea16e6baa5bd33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kparts-5.28.0.tar.xz">kparts-5.28.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>42d006ec45c43d4ac10b6871bdd4caae36b6e3b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kpeople-5.28.0.tar.xz">kpeople-5.28.0</a></td>
   <td align="right">58kB</td>
   <td><tt>e86d97b0c9d6a3265f5359d4f00b0edec0fd938e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kplotting-5.28.0.tar.xz">kplotting-5.28.0</a></td>
   <td align="right">28kB</td>
   <td><tt>9fd8ef9294d5a859bda9810aa8d758a048c99f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kpty-5.28.0.tar.xz">kpty-5.28.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>6340c6c9fcf615c0ad647096e8098e3a9f0ccf0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/krunner-5.28.0.tar.xz">krunner-5.28.0</a></td>
   <td align="right">65kB</td>
   <td><tt>a484ce114a719be42515c47f03ef2b21a629306c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kservice-5.28.0.tar.xz">kservice-5.28.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>057bbb289075309797d9baf4e37d58a6f0d447d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/ktexteditor-5.28.0.tar.xz">ktexteditor-5.28.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>991c1c6a4023380e760ee28fc6642efae772b8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/ktextwidgets-5.28.0.tar.xz">ktextwidgets-5.28.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>df0446d9d78fbcd76987694ad98834c6ea31c9b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kunitconversion-5.28.0.tar.xz">kunitconversion-5.28.0</a></td>
   <td align="right">751kB</td>
   <td><tt>c7f5a9666eb7d34533f1f1e5b34670cce2ca19f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kwallet-5.28.0.tar.xz">kwallet-5.28.0</a></td>
   <td align="right">301kB</td>
   <td><tt>f9aeb2ee054b59af338d3ff13846bf6863cbe2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kwayland-5.28.0.tar.xz">kwayland-5.28.0</a></td>
   <td align="right">237kB</td>
   <td><tt>8942b08ba6cf1aa98b5e898867607737a0832e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kwidgetsaddons-5.28.0.tar.xz">kwidgetsaddons-5.28.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>1c3a7302db964d37c381e8dfb416c4ece5268722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kwindowsystem-5.28.0.tar.xz">kwindowsystem-5.28.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>8d0bf612a40abfee17ba2e85bea10225c43bc417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kxmlgui-5.28.0.tar.xz">kxmlgui-5.28.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9eb76ca494100dfc8757776870aa8afe1a241429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kxmlrpcclient-5.28.0.tar.xz">kxmlrpcclient-5.28.0</a></td>
   <td align="right">27kB</td>
   <td><tt>1051f5f36766f4a8d52149a567646941041a05e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/modemmanager-qt-5.28.0.tar.xz">modemmanager-qt-5.28.0</a></td>
   <td align="right">95kB</td>
   <td><tt>bcc7965a8682c2fd666c2fe8ec34382e8fe3d5b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/networkmanager-qt-5.28.0.tar.xz">networkmanager-qt-5.28.0</a></td>
   <td align="right">153kB</td>
   <td><tt>5b2bdb9b4c68b36eaa0bc137b8522329e16204c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/oxygen-icons5-5.28.0.tar.xz">oxygen-icons5-5.28.0</a></td>
   <td align="right">223MB</td>
   <td><tt>9a317a0ffd3bab010962d684c0d8fe9dbc5178e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/plasma-framework-5.28.0.tar.xz">plasma-framework-5.28.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>c086534853e197c11d110fe1f2b3abe84d867a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/solid-5.28.0.tar.xz">solid-5.28.0</a></td>
   <td align="right">269kB</td>
   <td><tt>d5d8ab41ce474d738d5a600ac7dffa97ee3500e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/sonnet-5.28.0.tar.xz">sonnet-5.28.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>fa7ee2f346b1692b8f50e8ca0984b662b798ff0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/syntax-highlighting-5.28.0.tar.xz">syntax-highlighting-5.28.0</a></td>
   <td align="right">863kB</td>
   <td><tt>8bddc3c95a1e8ed203bedaf5ff223c56674263f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/threadweaver-5.28.0.tar.xz">threadweaver-5.28.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3454a872f9e6c38d7a1ddaf8017301a33011271e</tt></td>
</tr>

</table>
