
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/attica-5.73.0.tar.xz">attica-5.73.0</a></td>
   <td align="right">65kB</td>
   <td><tt>d94dc361d119adcbc9021b48a4f80762a9e8a7c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/baloo-5.73.0.tar.xz">baloo-5.73.0</a></td>
   <td align="right">270kB</td>
   <td><tt>1551d0ea9845c94ff4313474ea714a216bd9b49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/bluez-qt-5.73.0.tar.xz">bluez-qt-5.73.0</a></td>
   <td align="right">100kB</td>
   <td><tt>ca93933401aeb9a70749ae7823a69769bc9ae456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/breeze-icons-5.73.0.tar.xz">breeze-icons-5.73.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a8094f07be206653b765f32ddfdd032506332949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/extra-cmake-modules-5.73.0.tar.xz">extra-cmake-modules-5.73.0</a></td>
   <td align="right">336kB</td>
   <td><tt>d0d8fabe37deb256589d956bb254c69e639fdda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/frameworkintegration-5.73.0.tar.xz">frameworkintegration-5.73.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>da564249d233eff533da583d8218f3fa2cb0b344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kactivities-5.73.0.tar.xz">kactivities-5.73.0</a></td>
   <td align="right">73kB</td>
   <td><tt>bcf09804e76323fb5d5f6283c6240e59c2dd51d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kactivities-stats-5.73.0.tar.xz">kactivities-stats-5.73.0</a></td>
   <td align="right">75kB</td>
   <td><tt>8d5eb542ddf2c518fe6f7218a27aa45a3a6bcb4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kapidox-5.73.0.tar.xz">kapidox-5.73.0</a></td>
   <td align="right">155kB</td>
   <td><tt>46bfe4f233b7d4a1d86e9566a368189cff3bec73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/karchive-5.73.0.tar.xz">karchive-5.73.0</a></td>
   <td align="right">964kB</td>
   <td><tt>4c013b087141ae43bc415c6fe62a22c7db088d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kauth-5.73.0.tar.xz">kauth-5.73.0</a></td>
   <td align="right">87kB</td>
   <td><tt>5156189af5f46dfb7cd94deff1b19a297792bfa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kbookmarks-5.73.0.tar.xz">kbookmarks-5.73.0</a></td>
   <td align="right">125kB</td>
   <td><tt>b14dfb76a88e80741916199772c82ef851318ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kcalendarcore-5.73.0.tar.xz">kcalendarcore-5.73.0</a></td>
   <td align="right">248kB</td>
   <td><tt>6073e590854ba709e434caac71eed39cebe751da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kcmutils-5.73.0.tar.xz">kcmutils-5.73.0</a></td>
   <td align="right">240kB</td>
   <td><tt>31f494721b1025e15d4230fe760b53019adf84be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kcodecs-5.73.0.tar.xz">kcodecs-5.73.0</a></td>
   <td align="right">224kB</td>
   <td><tt>94d6a1fbf19db6fc33d6a305828c9e829926a39b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kcompletion-5.73.0.tar.xz">kcompletion-5.73.0</a></td>
   <td align="right">120kB</td>
   <td><tt>aceb5bb63f981fc64e7ecd1c5b95d5474b049e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kconfig-5.73.0.tar.xz">kconfig-5.73.0</a></td>
   <td align="right">256kB</td>
   <td><tt>5e7827f57bba5942d1b2c264a5b486914f35b729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kconfigwidgets-5.73.0.tar.xz">kconfigwidgets-5.73.0</a></td>
   <td align="right">375kB</td>
   <td><tt>984f1f15d8a8c33d56bd1ac334330e30b591571c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kcontacts-5.73.0.tar.xz">kcontacts-5.73.0</a></td>
   <td align="right">532kB</td>
   <td><tt>086474607bb4e83be27220da940238555ad992b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kcoreaddons-5.73.0.tar.xz">kcoreaddons-5.73.0</a></td>
   <td align="right">397kB</td>
   <td><tt>5bb3423407a0226f58e7311faae86be488f7ac80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kcrash-5.73.0.tar.xz">kcrash-5.73.0</a></td>
   <td align="right">24kB</td>
   <td><tt>ff7a961a43fe0baea070460e9c7b14299d0d2c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kdav-5.73.0.tar.xz">kdav-5.73.0</a></td>
   <td align="right">59kB</td>
   <td><tt>36d7c518b20b1980bed3ff7fd4ce204e5af78cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kdbusaddons-5.73.0.tar.xz">kdbusaddons-5.73.0</a></td>
   <td align="right">43kB</td>
   <td><tt>eb2cef3796b85df719c1cfeb690a4ae9ab1da244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kdeclarative-5.73.0.tar.xz">kdeclarative-5.73.0</a></td>
   <td align="right">175kB</td>
   <td><tt>c886bd4b7dc90dbb68ed8cf0ae1e2dbfe1491b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kded-5.73.0.tar.xz">kded-5.73.0</a></td>
   <td align="right">37kB</td>
   <td><tt>48a1d764fe6811222d9f26a5b7903ea695629bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kdesu-5.73.0.tar.xz">kdesu-5.73.0</a></td>
   <td align="right">46kB</td>
   <td><tt>be633393e6dfcbfa3fa9d2944a26639c6a940692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kdnssd-5.73.0.tar.xz">kdnssd-5.73.0</a></td>
   <td align="right">58kB</td>
   <td><tt>19330d0771ad36d2965c0398272a714c8f5a4548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kdoctools-5.73.0.tar.xz">kdoctools-5.73.0</a></td>
   <td align="right">416kB</td>
   <td><tt>4b28d2928452d4289456244bee8589ddc2c52878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kemoticons-5.73.0.tar.xz">kemoticons-5.73.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d7de27267a3fd24edef9cef8516b5806006c1431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kfilemetadata-5.73.0.tar.xz">kfilemetadata-5.73.0</a></td>
   <td align="right">415kB</td>
   <td><tt>dafdec6a3a021a78d675f53d1a839cfe85dc27d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kglobalaccel-5.73.0.tar.xz">kglobalaccel-5.73.0</a></td>
   <td align="right">83kB</td>
   <td><tt>1b09a05500a5829274a0833aa72ba2920ff41071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kguiaddons-5.73.0.tar.xz">kguiaddons-5.73.0</a></td>
   <td align="right">52kB</td>
   <td><tt>fe9141a84293022451154356f479cba97d01295f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kholidays-5.73.0.tar.xz">kholidays-5.73.0</a></td>
   <td align="right">220kB</td>
   <td><tt>dcc008500e721ab06d68e07cfc1c80e56f80e3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/ki18n-5.73.0.tar.xz">ki18n-5.73.0</a></td>
   <td align="right">577kB</td>
   <td><tt>94f1ac7feebfde6a091bdf4cfd6723d8e219de73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kiconthemes-5.73.0.tar.xz">kiconthemes-5.73.0</a></td>
   <td align="right">205kB</td>
   <td><tt>e9244008c9e3e84e6cef37062c5d35df5927d317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kidletime-5.73.0.tar.xz">kidletime-5.73.0</a></td>
   <td align="right">28kB</td>
   <td><tt>e8a6443dbfad5d1b4e8881f8282bb481fe5ca4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kimageformats-5.73.0.tar.xz">kimageformats-5.73.0</a></td>
   <td align="right">398kB</td>
   <td><tt>68164f8e967d5db285c44b0af83c42f9c7b145ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kinit-5.73.0.tar.xz">kinit-5.73.0</a></td>
   <td align="right">117kB</td>
   <td><tt>b14bf8c41ce40c1416118c6bea7bf3745a6adca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kio-5.73.0.tar.xz">kio-5.73.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>c8448b3fd2771120cc15674893377413b0d06093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kirigami2-5.73.0.tar.xz">kirigami2-5.73.0</a></td>
   <td align="right">268kB</td>
   <td><tt>a0942228d468e528b21a9380d367c23b4bd8e564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kitemmodels-5.73.0.tar.xz">kitemmodels-5.73.0</a></td>
   <td align="right">390kB</td>
   <td><tt>9f33e1097ea26b96ab90a6f5c84e2cc082c74d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kitemviews-5.73.0.tar.xz">kitemviews-5.73.0</a></td>
   <td align="right">76kB</td>
   <td><tt>86bfbae2e3133f9912c23c2a70da694ebebcf2b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kjobwidgets-5.73.0.tar.xz">kjobwidgets-5.73.0</a></td>
   <td align="right">92kB</td>
   <td><tt>f1b0e2a5cb706831b132a68d272edd1ef1e42758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/knewstuff-5.73.0.tar.xz">knewstuff-5.73.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8e3618572356134cc3f1caa32def79223f36dd80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/knotifications-5.73.0.tar.xz">knotifications-5.73.0</a></td>
   <td align="right">119kB</td>
   <td><tt>aff30ffba42b848a8a0941b67d39188ba6356c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/knotifyconfig-5.73.0.tar.xz">knotifyconfig-5.73.0</a></td>
   <td align="right">84kB</td>
   <td><tt>5599ba6bce9cbda1bb89f689c6a2106b178c4135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kpackage-5.73.0.tar.xz">kpackage-5.73.0</a></td>
   <td align="right">139kB</td>
   <td><tt>c86f375126a24984927233cb468a0e9ceaee7dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kparts-5.73.0.tar.xz">kparts-5.73.0</a></td>
   <td align="right">184kB</td>
   <td><tt>b01f5b6dd9c91d2b10c4a9d16e242ad4d36405bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kpeople-5.73.0.tar.xz">kpeople-5.73.0</a></td>
   <td align="right">60kB</td>
   <td><tt>7d1ab1f96a21ae7bfd758f37818775d0f0a7c87d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kplotting-5.73.0.tar.xz">kplotting-5.73.0</a></td>
   <td align="right">32kB</td>
   <td><tt>b1da9ecaf72c544007854e723c436da59ce486c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kpty-5.73.0.tar.xz">kpty-5.73.0</a></td>
   <td align="right">59kB</td>
   <td><tt>8948e954b9d6966ebda9ac5696ff454de4afadb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kquickcharts-5.73.0.tar.xz">kquickcharts-5.73.0</a></td>
   <td align="right">94kB</td>
   <td><tt>b0615e77cdb9ae75a64b0c5102504726196e2bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/krunner-5.73.0.tar.xz">krunner-5.73.0</a></td>
   <td align="right">65kB</td>
   <td><tt>488fa866cb7352825004f0a6d3e53f6cde004ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kservice-5.73.0.tar.xz">kservice-5.73.0</a></td>
   <td align="right">253kB</td>
   <td><tt>acd7fb3dbc160960a5f90406e35d76d931c7bbe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/ktexteditor-5.73.0.tar.xz">ktexteditor-5.73.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>43791b5753b8cbc9fa192d6a8338de6b8bc71fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/ktextwidgets-5.73.0.tar.xz">ktextwidgets-5.73.0</a></td>
   <td align="right">315kB</td>
   <td><tt>479b34929eada0f9895bfbd173f6a5e7419d2a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kunitconversion-5.73.0.tar.xz">kunitconversion-5.73.0</a></td>
   <td align="right">837kB</td>
   <td><tt>54a7bcf623407b406905d6765d07a1bef514f8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kwallet-5.73.0.tar.xz">kwallet-5.73.0</a></td>
   <td align="right">290kB</td>
   <td><tt>af49573575c7db02c5f603a2d395be18876854c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kwayland-5.73.0.tar.xz">kwayland-5.73.0</a></td>
   <td align="right">337kB</td>
   <td><tt>83400085148eecb230cdc368e287fe7ff4c8dac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kwidgetsaddons-5.73.0.tar.xz">kwidgetsaddons-5.73.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5a2b5c53f4ad9fb32e287bc3b7b8931d5aa72123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kwindowsystem-5.73.0.tar.xz">kwindowsystem-5.73.0</a></td>
   <td align="right">175kB</td>
   <td><tt>7944df5771bb57a4f98d1c2ce91b428872f4a5ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/kxmlgui-5.73.0.tar.xz">kxmlgui-5.73.0</a></td>
   <td align="right">842kB</td>
   <td><tt>f0ebf5c43a17ed57d244de7130c0ee4af78cf34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/modemmanager-qt-5.73.0.tar.xz">modemmanager-qt-5.73.0</a></td>
   <td align="right">111kB</td>
   <td><tt>f9e8efbada353a2ddbd447acdfc8496fdaca93cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/networkmanager-qt-5.73.0.tar.xz">networkmanager-qt-5.73.0</a></td>
   <td align="right">191kB</td>
   <td><tt>31b49c718454debfa11fb48d6337530922d8dacc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/oxygen-icons5-5.73.0.tar.xz">oxygen-icons5-5.73.0</a></td>
   <td align="right">225MB</td>
   <td><tt>332a62218520bd63766bbbfb3b185fb8861b9dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/plasma-framework-5.73.0.tar.xz">plasma-framework-5.73.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>82560df7474893677ab0e7c9ddb4b1a39ac2ee14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/prison-5.73.0.tar.xz">prison-5.73.0</a></td>
   <td align="right">40kB</td>
   <td><tt>0ae6332c9ea70d81d3a203f3fe4cff2a0fd6e8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/purpose-5.73.0.tar.xz">purpose-5.73.0</a></td>
   <td align="right">151kB</td>
   <td><tt>dc5986cc7915e5d55cdf10a0f3d4698fe0285440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/qqc2-desktop-style-5.73.0.tar.xz">qqc2-desktop-style-5.73.0</a></td>
   <td align="right">58kB</td>
   <td><tt>a78f652965b4a4359253d93605b09b0317b0ea61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/solid-5.73.0.tar.xz">solid-5.73.0</a></td>
   <td align="right">263kB</td>
   <td><tt>95390d12b936917edc481f44ad4e56192bd812b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/sonnet-5.73.0.tar.xz">sonnet-5.73.0</a></td>
   <td align="right">288kB</td>
   <td><tt>53d4e53e06408e8c4dcd64c9741930e249cafe2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/syndication-5.73.0.tar.xz">syndication-5.73.0</a></td>
   <td align="right">496kB</td>
   <td><tt>ff4343c275f0ae212cee0d98c3c966087154c2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/syntax-highlighting-5.73.0.tar.xz">syntax-highlighting-5.73.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>69965917473da31b1f6feceb4167550191e542c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.73/threadweaver-5.73.0.tar.xz">threadweaver-5.73.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f3bb1bc186250bffb5ad932651e7d38b566b4d1b</tt></td>
</tr>

</table>
