
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/attica-5.17.0.tar.xz">attica-5.17.0</a></td>
   <td align="right">59kB</td>
   <td><tt>bcb5c5e7148b6bc452e6a98ebd2c413893ad9a8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/baloo-5.17.0.tar.xz">baloo-5.17.0</a></td>
   <td align="right">176kB</td>
   <td><tt>9e1e04141b7a2fa249c904ec3b81e1127327b555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/bluez-qt-5.17.0.tar.xz">bluez-qt-5.17.0</a></td>
   <td align="right">71kB</td>
   <td><tt>eb50edd38a320ff650d125f21a25de38d1ef19cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/breeze-icons-5.17.0.tar.xz">breeze-icons-5.17.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9e1d685d365be997287630b8ac57fbc9e8691567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/extra-cmake-modules-5.17.0.tar.xz">extra-cmake-modules-5.17.0</a></td>
   <td align="right">136kB</td>
   <td><tt>8093d72964170246a97e337c259cd4e6f71b627a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/frameworkintegration-5.17.0.tar.xz">frameworkintegration-5.17.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3572499b7d1078c5076166846f67ba7d652e2a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kactivities-5.17.0.tar.xz">kactivities-5.17.0</a></td>
   <td align="right">180kB</td>
   <td><tt>b5e6315b41e8a65291e8a968a4a262abdc92e291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kapidox-5.17.0.tar.xz">kapidox-5.17.0</a></td>
   <td align="right">129kB</td>
   <td><tt>ae793dc9a86a21c655ba92dc57ef6cd0f435ddb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/karchive-5.17.0.tar.xz">karchive-5.17.0</a></td>
   <td align="right">106kB</td>
   <td><tt>8ce6961448d85b577f95cf6e8d2e7c103d80d877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kauth-5.17.0.tar.xz">kauth-5.17.0</a></td>
   <td align="right">80kB</td>
   <td><tt>66f746a641776219284dce22483f60ba7b7eb042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kbookmarks-5.17.0.tar.xz">kbookmarks-5.17.0</a></td>
   <td align="right">112kB</td>
   <td><tt>a62a8f90775608fc870659c099e93aa7eaf654e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kcmutils-5.17.0.tar.xz">kcmutils-5.17.0</a></td>
   <td align="right">229kB</td>
   <td><tt>527c3501c03ef074e2ebcda868e97c1f29aec830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kcodecs-5.17.0.tar.xz">kcodecs-5.17.0</a></td>
   <td align="right">211kB</td>
   <td><tt>efc6b02d2d47fbfc17988e9dae7dbc3dc9286293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kcompletion-5.17.0.tar.xz">kcompletion-5.17.0</a></td>
   <td align="right">113kB</td>
   <td><tt>bfd5a266a897d3a030b73e8bce9589a150fa98fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kconfig-5.17.0.tar.xz">kconfig-5.17.0</a></td>
   <td align="right">219kB</td>
   <td><tt>1fd4f512e9802ac2c6bf0eb46d99c1264eed5249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kconfigwidgets-5.17.0.tar.xz">kconfigwidgets-5.17.0</a></td>
   <td align="right">350kB</td>
   <td><tt>6a536bff6942a2fb5866217831719309591e956c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kcoreaddons-5.17.0.tar.xz">kcoreaddons-5.17.0</a></td>
   <td align="right">303kB</td>
   <td><tt>6a4d1f85ba454be77262ceb028d39526d2665748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kcrash-5.17.0.tar.xz">kcrash-5.17.0</a></td>
   <td align="right">19kB</td>
   <td><tt>bcfc88621cc5190034cdac1d78c625214431201e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kdbusaddons-5.17.0.tar.xz">kdbusaddons-5.17.0</a></td>
   <td align="right">33kB</td>
   <td><tt>4fe5c803988d587ede5a84e6c7a1a9a100e9bb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kdeclarative-5.17.0.tar.xz">kdeclarative-5.17.0</a></td>
   <td align="right">163kB</td>
   <td><tt>27ee0cd88e20292283a1820f71b2180aa4178754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kded-5.17.0.tar.xz">kded-5.17.0</a></td>
   <td align="right">35kB</td>
   <td><tt>33f5955220e572ebf77f8866339cea4a9d1dfb39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kdesignerplugin-5.17.0.tar.xz">kdesignerplugin-5.17.0</a></td>
   <td align="right">85kB</td>
   <td><tt>02bd683e94a21bbc0071fe3615599289c93fd5d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kdesu-5.17.0.tar.xz">kdesu-5.17.0</a></td>
   <td align="right">42kB</td>
   <td><tt>1e6cbbc287e7ad485c69c4c71d8695d680a26f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kdewebkit-5.17.0.tar.xz">kdewebkit-5.17.0</a></td>
   <td align="right">28kB</td>
   <td><tt>9489aadefd46b4db8f0c1484d78d31c1724e47d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kdnssd-5.17.0.tar.xz">kdnssd-5.17.0</a></td>
   <td align="right">55kB</td>
   <td><tt>89e166ac5883a4ec48ac112f2f42893ef1fea6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kdoctools-5.17.0.tar.xz">kdoctools-5.17.0</a></td>
   <td align="right">398kB</td>
   <td><tt>5c8352d2fce3be284b99038764bd26af71d6f5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kemoticons-5.17.0.tar.xz">kemoticons-5.17.0</a></td>
   <td align="right">92kB</td>
   <td><tt>06b26e7e5e6765c9bdff94a3ede542a404fab41e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kfilemetadata-5.17.0.tar.xz">kfilemetadata-5.17.0</a></td>
   <td align="right">121kB</td>
   <td><tt>b75242a8086ca7c69bfe6cf8a11f03d8cef862b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kglobalaccel-5.17.0.tar.xz">kglobalaccel-5.17.0</a></td>
   <td align="right">79kB</td>
   <td><tt>797a4851faad99b2ab48d12fb07377fb6fbb199f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kguiaddons-5.17.0.tar.xz">kguiaddons-5.17.0</a></td>
   <td align="right">38kB</td>
   <td><tt>88852001b648c6b97ab365b5d23d5bf956ff01a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/ki18n-5.17.0.tar.xz">ki18n-5.17.0</a></td>
   <td align="right">582kB</td>
   <td><tt>270dd1195af0b84f9d6b264ca2df2fe17ac29140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kiconthemes-5.17.0.tar.xz">kiconthemes-5.17.0</a></td>
   <td align="right">191kB</td>
   <td><tt>3999863155b50aee7d85d432aeb61fd86d26f74b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kidletime-5.17.0.tar.xz">kidletime-5.17.0</a></td>
   <td align="right">25kB</td>
   <td><tt>4cd34feef1feec30278de5977cd2a45d4eeacc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kimageformats-5.17.0.tar.xz">kimageformats-5.17.0</a></td>
   <td align="right">83kB</td>
   <td><tt>d2b367c15e5b9631b046ef56e95999be583f5abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kinit-5.17.0.tar.xz">kinit-5.17.0</a></td>
   <td align="right">114kB</td>
   <td><tt>c3b211cb0e3ffadc91acc07415a0a1e5544cd7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kio-5.17.0.tar.xz">kio-5.17.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>78acb09cf9682476478eae215970d7bc97b7c68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kitemmodels-5.17.0.tar.xz">kitemmodels-5.17.0</a></td>
   <td align="right">374kB</td>
   <td><tt>95f7d326957b2563d5c744b0d4bda6e56d6c2211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kitemviews-5.17.0.tar.xz">kitemviews-5.17.0</a></td>
   <td align="right">72kB</td>
   <td><tt>f9c062d8c3c667c08ac9c70f74c93027b18d4a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kjobwidgets-5.17.0.tar.xz">kjobwidgets-5.17.0</a></td>
   <td align="right">86kB</td>
   <td><tt>be677d909955a29198bfe4f879340dba5aac8527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/knewstuff-5.17.0.tar.xz">knewstuff-5.17.0</a></td>
   <td align="right">838kB</td>
   <td><tt>5f1afb2b4e0c87ff63d720c874307a61b1414c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/knotifications-5.17.0.tar.xz">knotifications-5.17.0</a></td>
   <td align="right">90kB</td>
   <td><tt>2881ba5b0286e71284a63b40453a7915cdb18810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/knotifyconfig-5.17.0.tar.xz">knotifyconfig-5.17.0</a></td>
   <td align="right">80kB</td>
   <td><tt>ac474e36623f36f329ce20f3e7ae0ddad9e44e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kpackage-5.17.0.tar.xz">kpackage-5.17.0</a></td>
   <td align="right">102kB</td>
   <td><tt>f62acb398266a92f113bf407cc98fea0a1a9f87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kparts-5.17.0.tar.xz">kparts-5.17.0</a></td>
   <td align="right">150kB</td>
   <td><tt>5952c710fab7587a1adeeca273597bf97cb95362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kpeople-5.17.0.tar.xz">kpeople-5.17.0</a></td>
   <td align="right">56kB</td>
   <td><tt>00e1ee0bad0df42a682f3be62f202cbde631aaff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kplotting-5.17.0.tar.xz">kplotting-5.17.0</a></td>
   <td align="right">28kB</td>
   <td><tt>98cc998ee3165d07be9b86ba300206797e24d128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kpty-5.17.0.tar.xz">kpty-5.17.0</a></td>
   <td align="right">55kB</td>
   <td><tt>2ebf018abfc6efa542db393d3ed0d29facb6a336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kservice-5.17.0.tar.xz">kservice-5.17.0</a></td>
   <td align="right">262kB</td>
   <td><tt>2f1e71a8d98096e3e0d6cb2e98b0c5f3fdc39c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/ktexteditor-5.17.0.tar.xz">ktexteditor-5.17.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>38cca78f8d8faf8e29a0eba91dcc7bf0c5d13965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/ktextwidgets-5.17.0.tar.xz">ktextwidgets-5.17.0</a></td>
   <td align="right">299kB</td>
   <td><tt>c8352561a2f00cf40b472ca5095b5ac11afebf7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kunitconversion-5.17.0.tar.xz">kunitconversion-5.17.0</a></td>
   <td align="right">613kB</td>
   <td><tt>ab3f5047177162c642dcd6147118e83a2eee80be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kwallet-5.17.0.tar.xz">kwallet-5.17.0</a></td>
   <td align="right">279kB</td>
   <td><tt>7571d208c000d2d5333f052d707e05e8bb378675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kwidgetsaddons-5.17.0.tar.xz">kwidgetsaddons-5.17.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a9923ececfcc7d270c654f43797fa88c774337d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kwindowsystem-5.17.0.tar.xz">kwindowsystem-5.17.0</a></td>
   <td align="right">159kB</td>
   <td><tt>fccf95e65af41ae7709f0eba58e75ff8516e9ae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kxmlgui-5.17.0.tar.xz">kxmlgui-5.17.0</a></td>
   <td align="right">844kB</td>
   <td><tt>0fce5d3dd138117b81fb803ea2f9ac5bde23059b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/kxmlrpcclient-5.17.0.tar.xz">kxmlrpcclient-5.17.0</a></td>
   <td align="right">27kB</td>
   <td><tt>f6ea8adbad5ba901820e5881e5d5440ce2835031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/modemmanager-qt-5.17.0.tar.xz">modemmanager-qt-5.17.0</a></td>
   <td align="right">96kB</td>
   <td><tt>1d82765e919cdf2df6f7847c7644d7325bad0fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/networkmanager-qt-5.17.0.tar.xz">networkmanager-qt-5.17.0</a></td>
   <td align="right">151kB</td>
   <td><tt>2c69f57163a526b69ada367e0cc4a645dcd3a96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/oxygen-icons5-5.17.0.tar.xz">oxygen-icons5-5.17.0</a></td>
   <td align="right">220MB</td>
   <td><tt>cbbee2117abaccd0aad4fb65e8a98e0f0df75c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/plasma-framework-5.17.0.tar.xz">plasma-framework-5.17.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>35f68d301db61dceb8cdeeb7a50fbe1953f99279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/solid-5.17.0.tar.xz">solid-5.17.0</a></td>
   <td align="right">260kB</td>
   <td><tt>fce6a8b66fb6a8d22f64505aeedc3514c455861e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/sonnet-5.17.0.tar.xz">sonnet-5.17.0</a></td>
   <td align="right">275kB</td>
   <td><tt>0c0b3d21232f75c9d91b64804995eb74dd3492f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.17/threadweaver-5.17.0.tar.xz">threadweaver-5.17.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>bafa7db4d09959089cb10f77feee5faeb07497b9</tt></td>
</tr>

</table>
