<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/baloo-5.1.2.tar.xz">baloo-5.1.2</a></td>
   <td align="right">227kB</td>
   <td><tt>fb3eb0e7644894934f5ef7852af47ec0422df7b5b32c2a359a920f9fab1acdfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/breeze-5.1.2.tar.xz">breeze-5.1.2</a></td>
   <td align="right">16MB</td>
   <td><tt>8441ac35dfb50267505ed438ada81e82a16777775ecf32e32208c2f64576ebb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kde-cli-tools-5.1.2.tar.xz">kde-cli-tools-5.1.2</a></td>
   <td align="right">465kB</td>
   <td><tt>8b1bde770806793749464fa079181f26728bf3eb0853d07e354b942808906faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kdeplasma-addons-5.1.2.tar.xz">kdeplasma-addons-5.1.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2e0cd44f97492c9a1266b3174007ef8ab59647c93a88eb4793ac7462f3b6d949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kfilemetadata-5.1.2.tar.xz">kfilemetadata-5.1.2</a></td>
   <td align="right">84kB</td>
   <td><tt>b1bd31b0ef9e2de5673912a072b48c6bc206e2634fb05281783181dad2165f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/khelpcenter-5.1.2.tar.xz">khelpcenter-5.1.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>74bb6e5ac7424f153b3eebba736efdbcf06c3886484c14e9ff9dbcb5f552fc39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/khotkeys-5.1.2.tar.xz">khotkeys-5.1.2</a></td>
   <td align="right">725kB</td>
   <td><tt>38994e24b799637885ef13b65df108e48c683c90ed2f1a2bdaf823775dded24f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kinfocenter-5.1.2.tar.xz">kinfocenter-5.1.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c076e2abcf40669309cd65d947606ef6f91ba838ec881e8388a1e6a8c147e0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kio-extras-5.1.2.tar.xz">kio-extras-5.1.2</a></td>
   <td align="right">475kB</td>
   <td><tt>1f00f6d661b465d2053fa68e32dead851e272e71d493945d5e8ab516b5f69e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kmenuedit-5.1.2.tar.xz">kmenuedit-5.1.2</a></td>
   <td align="right">333kB</td>
   <td><tt>9215a068b1203a98f459e9670110a3af16fc35b6a1cdb55d062be21027aa09b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/ksysguard-5.1.2.tar.xz">ksysguard-5.1.2</a></td>
   <td align="right">429kB</td>
   <td><tt>bf765445ce98cc383f1aae3f1726576c96942c21f3cf763273eedd06307f760d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kwayland-5.1.2.tar.xz">kwayland-5.1.2</a></td>
   <td align="right">58kB</td>
   <td><tt>0562bb309b5c08a5d0584b0cb838da6845a739a71d39e351b509e305577ba76c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kwin-5.1.2.tar.xz">kwin-5.1.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>4e427141956c0ee87ac86be995ecab6e00a53e52c65a469bbc9e45e5114f4bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/kwrited-5.1.2.tar.xz">kwrited-5.1.2</a></td>
   <td align="right">18kB</td>
   <td><tt>c5005bbd64f1ccf5d263a61ecefe95578abd184eec86c64c8021fe40671b552f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/libkscreen-5.1.2.tar.xz">libkscreen-5.1.2</a></td>
   <td align="right">59kB</td>
   <td><tt>697d7f3ba890327b5469745d58dc65931c0bb83e91f7555dac8855ab04017acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/libksysguard-5.1.2.tar.xz">libksysguard-5.1.2</a></td>
   <td align="right">538kB</td>
   <td><tt>b3f4d8b4a8d5c34edbbd35a638fe9101f292c4b4ff1088912b0f9c6820963218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/libmm-qt-5.1.2.tar.xz">libmm-qt-5.1.2</a></td>
   <td align="right">74kB</td>
   <td><tt>6473818154ffe506a616495640f2a9f638811a782b7a45ce3ca2b6230bfea3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/libnm-qt-5.1.2.tar.xz">libnm-qt-5.1.2</a></td>
   <td align="right">138kB</td>
   <td><tt>75a395b886c2913f6cce86ef8f6451cc181734040f735433a002c7b2a8f4a3be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/milou-5.1.2.tar.xz">milou-5.1.2</a></td>
   <td align="right">48kB</td>
   <td><tt>6a6aeda717b05b8a2b03b51ecd6b0eac10897d26bc2f4bd74b48acde3eaf5c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/oxygen-5.1.2.tar.xz">oxygen-5.1.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>9e0a81bf5b18143995f628e68948ba4eaa879b9553d959d74ae0727c0ac39437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/oxygen-fonts-5.1.2.tar.xz">oxygen-fonts-5.1.2</a></td>
   <td align="right">157kB</td>
   <td><tt>5cbceb97a73c7b20dc7bb3ad16bd67638e620a668614fd55d9b29bfbb433c015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/plasma-desktop-5.1.2.tar.xz">plasma-desktop-5.1.2</a></td>
   <td align="right">5.7MB</td>
   <td><tt>67d71d86895ed0899766111d6c8d050365c3ea6f272bf7b9819591851673c15a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/plasma-nm-5.1.2.tar.xz">plasma-nm-5.1.2</a></td>
   <td align="right">479kB</td>
   <td><tt>e7d6a68a7c6c2d05e3b11632ceeae221549443b70e15bcb6c0cc69d9fe92dcc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/plasma-workspace-5.1.2.tar.xz">plasma-workspace-5.1.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>b329a2e4120e5bd6bcd718e4bba2763bc4ccd3a97031e13c7d71d5da679cfc0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/plasma-workspace-wallpapers-5.1.2.tar.xz">plasma-workspace-wallpapers-5.1.2</a></td>
   <td align="right">27MB</td>
   <td><tt>dd559d1654590e15f21a68c0d04dae5c3db690f1d7ce424ae5809975423ebea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/powerdevil-5.1.2.tar.xz">powerdevil-5.1.2</a></td>
   <td align="right">410kB</td>
   <td><tt>d78e06232c9f1eaf1cdca0613bf1fecfd34a0e15c704e1b0203b8706af20002f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.2/systemsettings-5.1.2.tar.xz">systemsettings-5.1.2</a></td>
   <td align="right">132kB</td>
   <td><tt>7e031f471d89504caa4672b258107721fe5845c7266bf6b9d61f77d5033d5a80</tt></td>
</tr>

</table>
