
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/attica-5.92.0.tar.xz">attica-5.92.0</a></td>
   <td align="right">67kB</td>
   <td><tt>bd7eb40d6ef4c5272412b24650829a8c69b0d333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/baloo-5.92.0.tar.xz">baloo-5.92.0</a></td>
   <td align="right">280kB</td>
   <td><tt>014253ec364ba581aa270718c9aef722bd15b6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/bluez-qt-5.92.0.tar.xz">bluez-qt-5.92.0</a></td>
   <td align="right">111kB</td>
   <td><tt>1976a8a68ea60ec8310f3aa777d3a9fb83882442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/breeze-icons-5.92.0.tar.xz">breeze-icons-5.92.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>62270a0ec4c55fcaba862dacb1272af1cfea48b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/extra-cmake-modules-5.92.0.tar.xz">extra-cmake-modules-5.92.0</a></td>
   <td align="right">322kB</td>
   <td><tt>b0344672d3fc467e4e07c7cf373c3fa03e91a1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/frameworkintegration-5.92.0.tar.xz">frameworkintegration-5.92.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>402c64fac985cba497fd7064d33890d5623ec78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kactivities-5.92.0.tar.xz">kactivities-5.92.0</a></td>
   <td align="right">72kB</td>
   <td><tt>aaa27e7bd3fe3c96b8739a4e3a01f9641952d33c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kactivities-stats-5.92.0.tar.xz">kactivities-stats-5.92.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b970db9d9104c4d5e8c50ab6542a4b7f9e250729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kapidox-5.92.0.tar.xz">kapidox-5.92.0</a></td>
   <td align="right">192kB</td>
   <td><tt>6179c56412a83074cc12f3c5bee348ff330152db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/karchive-5.92.0.tar.xz">karchive-5.92.0</a></td>
   <td align="right">963kB</td>
   <td><tt>d7577e7dc90779cae3145d096799f666742d7ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kauth-5.92.0.tar.xz">kauth-5.92.0</a></td>
   <td align="right">88kB</td>
   <td><tt>f983f56a726c46aeb789b25ce1927e86d1f07ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kbookmarks-5.92.0.tar.xz">kbookmarks-5.92.0</a></td>
   <td align="right">127kB</td>
   <td><tt>07ca43f5239408683cc06eef6fff98dd66859251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kcalendarcore-5.92.0.tar.xz">kcalendarcore-5.92.0</a></td>
   <td align="right">256kB</td>
   <td><tt>d840e3121531cf4946477d88d18179abd0919a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kcmutils-5.92.0.tar.xz">kcmutils-5.92.0</a></td>
   <td align="right">168kB</td>
   <td><tt>ba146c8ce59f4758aabd0fe0a08d142823998a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kcodecs-5.92.0.tar.xz">kcodecs-5.92.0</a></td>
   <td align="right">231kB</td>
   <td><tt>02ef6bf12c6bc949ab512cfe3b49a388fe3d2e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kcompletion-5.92.0.tar.xz">kcompletion-5.92.0</a></td>
   <td align="right">121kB</td>
   <td><tt>b9d7704bc98b7bd3c4cac586ef97660cf1421cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kconfig-5.92.0.tar.xz">kconfig-5.92.0</a></td>
   <td align="right">274kB</td>
   <td><tt>225ae85f7fdb458d81bd82f436d28ca117eafef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kconfigwidgets-5.92.0.tar.xz">kconfigwidgets-5.92.0</a></td>
   <td align="right">404kB</td>
   <td><tt>19ff199f123fcf9bf7bab68a8a00a5f72b514302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kcontacts-5.92.0.tar.xz">kcontacts-5.92.0</a></td>
   <td align="right">188kB</td>
   <td><tt>6abf065ad01b52ccc1c7b846d511a7a156ece73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kcoreaddons-5.92.0.tar.xz">kcoreaddons-5.92.0</a></td>
   <td align="right">444kB</td>
   <td><tt>6eb9a1e0e10e4009bc1363a8d8d098057f03e445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kcrash-5.92.0.tar.xz">kcrash-5.92.0</a></td>
   <td align="right">27kB</td>
   <td><tt>d7b9f90a7a2b706b1fff2866b39ff49f21b40e5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kdav-5.92.0.tar.xz">kdav-5.92.0</a></td>
   <td align="right">62kB</td>
   <td><tt>d0a535e67a3cdb2bc9888bc43dc11a54acc4820f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kdbusaddons-5.92.0.tar.xz">kdbusaddons-5.92.0</a></td>
   <td align="right">46kB</td>
   <td><tt>da688f1970cf94df211efad012d037a42737f3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kdeclarative-5.92.0.tar.xz">kdeclarative-5.92.0</a></td>
   <td align="right">198kB</td>
   <td><tt>03cab31e50ef1d142babe2e296fb0b3cd74f02c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kded-5.92.0.tar.xz">kded-5.92.0</a></td>
   <td align="right">38kB</td>
   <td><tt>7eeea4a216593e56100dfe1a712d0009caf2e4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kdesu-5.92.0.tar.xz">kdesu-5.92.0</a></td>
   <td align="right">54kB</td>
   <td><tt>dd5e6cbed4f9e9201a0be85003527e1be8f60704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kdnssd-5.92.0.tar.xz">kdnssd-5.92.0</a></td>
   <td align="right">59kB</td>
   <td><tt>b7af8927c7f75b0ccf8694cb2a54944e71291d6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kdoctools-5.92.0.tar.xz">kdoctools-5.92.0</a></td>
   <td align="right">430kB</td>
   <td><tt>015b0ea909ae9194fbccfb9629782a267bdb4c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kemoticons-5.92.0.tar.xz">kemoticons-5.92.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>71835f1e3c5f371f46b5a419b6befd0c6fc160f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kfilemetadata-5.92.0.tar.xz">kfilemetadata-5.92.0</a></td>
   <td align="right">420kB</td>
   <td><tt>4157386b0e2f594d8ab62ad74601aeddd9af8daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kglobalaccel-5.92.0.tar.xz">kglobalaccel-5.92.0</a></td>
   <td align="right">91kB</td>
   <td><tt>6dc9d11dd28de1f269e7addb921a5d493e8da58f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kguiaddons-5.92.0.tar.xz">kguiaddons-5.92.0</a></td>
   <td align="right">70kB</td>
   <td><tt>da6417913903f5259bc498e182106590bf8befa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kholidays-5.92.0.tar.xz">kholidays-5.92.0</a></td>
   <td align="right">229kB</td>
   <td><tt>2c62a71ffb7a46bc15f023bef2e980185b9b1041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/ki18n-5.92.0.tar.xz">ki18n-5.92.0</a></td>
   <td align="right">933kB</td>
   <td><tt>4874adb288df388fc42187898acfc7a68ac3b8f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kiconthemes-5.92.0.tar.xz">kiconthemes-5.92.0</a></td>
   <td align="right">220kB</td>
   <td><tt>8b40b1fd1c3fd5eeb3586604993e1897f8cb081e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kidletime-5.92.0.tar.xz">kidletime-5.92.0</a></td>
   <td align="right">28kB</td>
   <td><tt>19e874aa83c55f193d2d1e99c2cbc64fa83e4d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kimageformats-5.92.0.tar.xz">kimageformats-5.92.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ed4f476d395ff7f33f5115b8cf30832e2a5359ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kinit-5.92.0.tar.xz">kinit-5.92.0</a></td>
   <td align="right">116kB</td>
   <td><tt>5531c65ae1daf4f5e64a0fb2eb947624d6827dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kio-5.92.0.tar.xz">kio-5.92.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>da75d356c0f44bf6033f6ff324e22e5a0cc38200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kirigami2-5.92.0.tar.xz">kirigami2-5.92.0</a></td>
   <td align="right">346kB</td>
   <td><tt>dd5e74e86f602696ccb22c8055fe9bf3bee8e678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kitemmodels-5.92.0.tar.xz">kitemmodels-5.92.0</a></td>
   <td align="right">397kB</td>
   <td><tt>f63a877430c80ffba4a26ff756baf55ec31d88b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kitemviews-5.92.0.tar.xz">kitemviews-5.92.0</a></td>
   <td align="right">75kB</td>
   <td><tt>d8d31670a4784de80a70a642252ce2d0d039782b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kjobwidgets-5.92.0.tar.xz">kjobwidgets-5.92.0</a></td>
   <td align="right">99kB</td>
   <td><tt>df25228ce32dd747205957105d2a3ad69df89b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/knewstuff-5.92.0.tar.xz">knewstuff-5.92.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c0043307a1b7b6167bc23c1b48d76fedcb18b9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/knotifications-5.92.0.tar.xz">knotifications-5.92.0</a></td>
   <td align="right">128kB</td>
   <td><tt>9cf62f5eb1f9b62618e4089e4c621bac16c4c05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/knotifyconfig-5.92.0.tar.xz">knotifyconfig-5.92.0</a></td>
   <td align="right">85kB</td>
   <td><tt>3c53632fc779ebcb6fe50aa0174a5172707be640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kpackage-5.92.0.tar.xz">kpackage-5.92.0</a></td>
   <td align="right">137kB</td>
   <td><tt>009e92de45b12bb01bbd6900bc5911a1037fcb0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kparts-5.92.0.tar.xz">kparts-5.92.0</a></td>
   <td align="right">192kB</td>
   <td><tt>462aaed22b6451217f40c2311124737364b5179c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kpeople-5.92.0.tar.xz">kpeople-5.92.0</a></td>
   <td align="right">57kB</td>
   <td><tt>ffcc42b6623dd74e8a448efbf6bd75cf42f45e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kplotting-5.92.0.tar.xz">kplotting-5.92.0</a></td>
   <td align="right">32kB</td>
   <td><tt>7ffa52f62f01d23bab21b70bf47335d4eaba9ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kpty-5.92.0.tar.xz">kpty-5.92.0</a></td>
   <td align="right">57kB</td>
   <td><tt>ed420b7e51bd105d971e2cb500b8de232d863c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kquickcharts-5.92.0.tar.xz">kquickcharts-5.92.0</a></td>
   <td align="right">106kB</td>
   <td><tt>7955c52abd296fdb3324dbdbbea5ee254f699573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/krunner-5.92.0.tar.xz">krunner-5.92.0</a></td>
   <td align="right">84kB</td>
   <td><tt>b6713b1186330a8390f5b78d8ecc941449cc0d9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kservice-5.92.0.tar.xz">kservice-5.92.0</a></td>
   <td align="right">261kB</td>
   <td><tt>1340fd08ea7f7e8091e2a4804fb9cd59e53bba8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/ktexteditor-5.92.0.tar.xz">ktexteditor-5.92.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>894eba420c0a31c616fba0ec26bbf145791561dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/ktextwidgets-5.92.0.tar.xz">ktextwidgets-5.92.0</a></td>
   <td align="right">321kB</td>
   <td><tt>ccd89df0955a8870e165e7470c4a57894d7b1d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kunitconversion-5.92.0.tar.xz">kunitconversion-5.92.0</a></td>
   <td align="right">872kB</td>
   <td><tt>9318bf8f1586aeb072f5cea8a0c407eefd9272ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kwallet-5.92.0.tar.xz">kwallet-5.92.0</a></td>
   <td align="right">298kB</td>
   <td><tt>164dd93dc3fcb0a72bfd73e84262d4fe04d5e597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kwayland-5.92.0.tar.xz">kwayland-5.92.0</a></td>
   <td align="right">327kB</td>
   <td><tt>13547d615e79f58f4a77807439b253361f284bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kwidgetsaddons-5.92.0.tar.xz">kwidgetsaddons-5.92.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0324381fcf1298932341be515fde3a374985eae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kwindowsystem-5.92.0.tar.xz">kwindowsystem-5.92.0</a></td>
   <td align="right">177kB</td>
   <td><tt>03ca96861867e7c68b607d9e51bbc2a146a66a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/kxmlgui-5.92.0.tar.xz">kxmlgui-5.92.0</a></td>
   <td align="right">874kB</td>
   <td><tt>bf3066df77f801662870de9f9c522f4fd752af08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/modemmanager-qt-5.92.0.tar.xz">modemmanager-qt-5.92.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c00ae50be1b7c7cc2cc1fc241c186275bb4145f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/networkmanager-qt-5.92.0.tar.xz">networkmanager-qt-5.92.0</a></td>
   <td align="right">193kB</td>
   <td><tt>1d6ef990ac7c7cd80b59fb71a7231aafa414876a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/oxygen-icons5-5.92.0.tar.xz">oxygen-icons5-5.92.0</a></td>
   <td align="right">227MB</td>
   <td><tt>ac002b776064238ea854f43db2b2f0ecad4823f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/plasma-framework-5.92.0.tar.xz">plasma-framework-5.92.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>cec65cd9edd5e5515a7cadc6bfcc53d856eb2c70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/prison-5.92.0.tar.xz">prison-5.92.0</a></td>
   <td align="right">46kB</td>
   <td><tt>7b8c225a235656fb472014cfcabceefa7b20c01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/purpose-5.92.0.tar.xz">purpose-5.92.0</a></td>
   <td align="right">169kB</td>
   <td><tt>d5266a246cbd5a371e2a4e7f307f6d5d13efaba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/qqc2-desktop-style-5.92.0.tar.xz">qqc2-desktop-style-5.92.0</a></td>
   <td align="right">63kB</td>
   <td><tt>7c93fb37db42f1c5037716a5fc78d32389497aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/solid-5.92.0.tar.xz">solid-5.92.0</a></td>
   <td align="right">251kB</td>
   <td><tt>21694762c4c206c8fba2c73fd84229ef6b995566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/sonnet-5.92.0.tar.xz">sonnet-5.92.0</a></td>
   <td align="right">301kB</td>
   <td><tt>0f6931c26d81d16fc0fea5a1c6d0e79df5392301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/syndication-5.92.0.tar.xz">syndication-5.92.0</a></td>
   <td align="right">498kB</td>
   <td><tt>5499479d54f0f07e7908383410ae557321d9525c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/syntax-highlighting-5.92.0.tar.xz">syntax-highlighting-5.92.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>88984c7d6344465d53d7fe0c594adf506d4a8b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.92/threadweaver-5.92.0.tar.xz">threadweaver-5.92.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>fadcf2eac6f145ef711618997e5529fd921e2b4d</tt></td>
</tr>

</table>
