<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-21.07.80.tar.xz">akonadi-21.07.80</a></td>
   <td align="right">1567kB</td>
   <td><tt>b70d7bd36acb53b91c49ffe10ac7552da17f7eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-calendar-21.07.80.tar.xz">akonadi-calendar-21.07.80</a></td>
   <td align="right">344kB</td>
   <td><tt>ff121e7a1347e6cb750e290145ed29f703610f94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-calendar-tools-21.07.80.tar.xz">akonadi-calendar-tools-21.07.80</a></td>
   <td align="right">230kB</td>
   <td><tt>838695e41f6a43469440f843bf8ec40e9c8a4584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadiconsole-21.07.80.tar.xz">akonadiconsole-21.07.80</a></td>
   <td align="right">195kB</td>
   <td><tt>5a809e6cfe1acbee638479d81f159ba69ac8a51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-contacts-21.07.80.tar.xz">akonadi-contacts-21.07.80</a></td>
   <td align="right">412kB</td>
   <td><tt>8647360a6332ccdef327b94ecfd27c918b7baa3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-import-wizard-21.07.80.tar.xz">akonadi-import-wizard-21.07.80</a></td>
   <td align="right">498kB</td>
   <td><tt>6714ef784fc8851cfe5b49ff5f58d425dc0e2730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-mime-21.07.80.tar.xz">akonadi-mime-21.07.80</a></td>
   <td align="right">137kB</td>
   <td><tt>223e9c1147ae51ed5e5b8c80fb255589293084b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-notes-21.07.80.tar.xz">akonadi-notes-21.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>99c4859f65120064caa068e8bca59cc19c4d69a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akonadi-search-21.07.80.tar.xz">akonadi-search-21.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>75e61fddc74f7b7b9843814e3ac008f58dabfe40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/akregator-21.07.80.tar.xz">akregator-21.07.80</a></td>
   <td align="right">2197kB</td>
   <td><tt>2752731dcdfa9aac6a38ed715bbfde5800e96ac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/analitza-21.07.80.tar.xz">analitza-21.07.80</a></td>
   <td align="right">338kB</td>
   <td><tt>000ea2a279a543623dcb69f4095a891a8a8c6252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ark-21.07.80.tar.xz">ark-21.07.80</a></td>
   <td align="right">2704kB</td>
   <td><tt>694a27c6a6983ce721bb748b3a7eebc192799920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/artikulate-21.07.80.tar.xz">artikulate-21.07.80</a></td>
   <td align="right">1064kB</td>
   <td><tt>7a018c40c6bf443c39c4dda89b689bfa089bb67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/audiocd-kio-21.07.80.tar.xz">audiocd-kio-21.07.80</a></td>
   <td align="right">510kB</td>
   <td><tt>89bd21bbb0baa39e775425d404af55df28de5830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/baloo-widgets-21.07.80.tar.xz">baloo-widgets-21.07.80</a></td>
   <td align="right">256kB</td>
   <td><tt>4818ba30197c7e6d38798fcea4f62b8999586fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/blinken-21.07.80.tar.xz">blinken-21.07.80</a></td>
   <td align="right">2649kB</td>
   <td><tt>902bb804158d01863b305147c7ab03b7b778bba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/bomber-21.07.80.tar.xz">bomber-21.07.80</a></td>
   <td align="right">811kB</td>
   <td><tt>58809fa6d9e21fe62b0666e815c3114ac6b16fc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/bovo-21.07.80.tar.xz">bovo-21.07.80</a></td>
   <td align="right">203kB</td>
   <td><tt>431a4229efda060c4553383925d9ec267592dfdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/calendarsupport-21.07.80.tar.xz">calendarsupport-21.07.80</a></td>
   <td align="right">750kB</td>
   <td><tt>88b55ee17d6365d58bb184eb0e6e75247acfcc36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/cantor-21.07.80.tar.xz">cantor-21.07.80</a></td>
   <td align="right">8966kB</td>
   <td><tt>9396cfb9dfc9e426ed2fa47f9874b9de86f139c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/cervisia-21.07.80.tar.xz">cervisia-21.07.80</a></td>
   <td align="right">1866kB</td>
   <td><tt>0b57c9392d00c8bc42acfca280d458b101889e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/dolphin-21.07.80.tar.xz">dolphin-21.07.80</a></td>
   <td align="right">5174kB</td>
   <td><tt>3cd9fe64f8bfbbe37feaf85b8cefb01c4115a9e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/dolphin-plugins-21.07.80.tar.xz">dolphin-plugins-21.07.80</a></td>
   <td align="right">245kB</td>
   <td><tt>fa94e5e15994bbc08a328d0f6e2daf503df5b924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/dragon-21.07.80.tar.xz">dragon-21.07.80</a></td>
   <td align="right">1626kB</td>
   <td><tt>2558af4c7e66b79ba12fcce552890922e85fc861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/elisa-21.07.80.tar.xz">elisa-21.07.80</a></td>
   <td align="right">1697kB</td>
   <td><tt>3bcb705f6c99696fc050755fff76145aa3c65970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/eventviews-21.07.80.tar.xz">eventviews-21.07.80</a></td>
   <td align="right">440kB</td>
   <td><tt>fb1cf35e28da85d14ea4e6a190d91421421bda9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ffmpegthumbs-21.07.80.tar.xz">ffmpegthumbs-21.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>ab3553c9705cda7d2a886b9e6c2ac8edbf992943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/filelight-21.07.80.tar.xz">filelight-21.07.80</a></td>
   <td align="right">667kB</td>
   <td><tt>722ff36903c09bd06452340a1a457308b4fb12ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/granatier-21.07.80.tar.xz">granatier-21.07.80</a></td>
   <td align="right">2047kB</td>
   <td><tt>6f63594ebe6af51ef25935fcc38d8cc01e4dd725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/grantlee-editor-21.07.80.tar.xz">grantlee-editor-21.07.80</a></td>
   <td align="right">108kB</td>
   <td><tt>d2bc45bfb2612acaddfba7654f16dd47797102ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/grantleetheme-21.07.80.tar.xz">grantleetheme-21.07.80</a></td>
   <td align="right">58kB</td>
   <td><tt>5f41ab0517e2ffb802343363c929713b91d1ff46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/gwenview-21.07.80.tar.xz">gwenview-21.07.80</a></td>
   <td align="right">6657kB</td>
   <td><tt>97ab82d7eeedfb36317f8f5421c9b4ba603396db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/incidenceeditor-21.07.80.tar.xz">incidenceeditor-21.07.80</a></td>
   <td align="right">527kB</td>
   <td><tt>656eaf401298e81f4fc9f78655e09ebca6ae8d1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/itinerary-21.07.80.tar.xz">itinerary-21.07.80</a></td>
   <td align="right">400kB</td>
   <td><tt>09c29859ff755c346ace39f20428db0048af9741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/juk-21.07.80.tar.xz">juk-21.07.80</a></td>
   <td align="right">1966kB</td>
   <td><tt>04c5e0366dc00c4f635593f70e1f0e37579c9b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/k3b-21.07.80.tar.xz">k3b-21.07.80</a></td>
   <td align="right">10493kB</td>
   <td><tt>e1e6e4ba46cfc5dca94a1db18d663f4526f44798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kaccounts-integration-21.07.80.tar.xz">kaccounts-integration-21.07.80</a></td>
   <td align="right">84kB</td>
   <td><tt>4c1f8d3ef6cb3a4dc59100b6e1df3efaffae8263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kaccounts-providers-21.07.80.tar.xz">kaccounts-providers-21.07.80</a></td>
   <td align="right">61kB</td>
   <td><tt>68745edb40dee7ca61afad67f35219296f746243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kaddressbook-21.07.80.tar.xz">kaddressbook-21.07.80</a></td>
   <td align="right">3248kB</td>
   <td><tt>1cc660c71bac9b00c9cc2d6fc321cb65b9d772b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kajongg-21.07.80.tar.xz">kajongg-21.07.80</a></td>
   <td align="right">4453kB</td>
   <td><tt>4d11b5d538e0df9cfcc05956ff2114725e77fc91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kalarm-21.07.80.tar.xz">kalarm-21.07.80</a></td>
   <td align="right">2101kB</td>
   <td><tt>fcc39f788fc4f103eda1ebd25c7c6654430d6709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kalarmcal-21.07.80.tar.xz">kalarmcal-21.07.80</a></td>
   <td align="right">614kB</td>
   <td><tt>94fca4c5f32da03a4ef0ed9073872f0edc4b1a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kalgebra-21.07.80.tar.xz">kalgebra-21.07.80</a></td>
   <td align="right">1002kB</td>
   <td><tt>a34baa4b62fe4d1df4126f33ae67fe60e84e4978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kalzium-21.07.80.tar.xz">kalzium-21.07.80</a></td>
   <td align="right">24014kB</td>
   <td><tt>a3ab36d389235cbfc8a9d96d85e451c0bd29af5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kamera-21.07.80.tar.xz">kamera-21.07.80</a></td>
   <td align="right">113kB</td>
   <td><tt>dcd9c7a823d38ac3c1598a6f63961c1f24ed7960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kamoso-21.07.80.tar.xz">kamoso-21.07.80</a></td>
   <td align="right">208kB</td>
   <td><tt>a30d2c3d9db8ecff07a378563e97510f9c102db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kanagram-21.07.80.tar.xz">kanagram-21.07.80</a></td>
   <td align="right">7850kB</td>
   <td><tt>23c3da73aa4456777689b6cb3b129a6be6b3954c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kapman-21.07.80.tar.xz">kapman-21.07.80</a></td>
   <td align="right">2413kB</td>
   <td><tt>eba91a81fd4279fb27d58d2254ab5c908a45b26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kapptemplate-21.07.80.tar.xz">kapptemplate-21.07.80</a></td>
   <td align="right">326kB</td>
   <td><tt>798358d68c8562da48b2ed6eeab46ec8ac0d6c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kate-21.07.80.tar.xz">kate-21.07.80</a></td>
   <td align="right">7111kB</td>
   <td><tt>98e18f01bc74233f8ee3808453629b2478f27134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/katomic-21.07.80.tar.xz">katomic-21.07.80</a></td>
   <td align="right">1400kB</td>
   <td><tt>2b49a5785e211b7429f8423b2606e7c2872b37b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kbackup-21.07.80.tar.xz">kbackup-21.07.80</a></td>
   <td align="right">375kB</td>
   <td><tt>f9baf4de2aad41a6e2aaa0812b58947161b3ff89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kblackbox-21.07.80.tar.xz">kblackbox-21.07.80</a></td>
   <td align="right">511kB</td>
   <td><tt>76be54cced6b76000744fa27b8d38260c0112ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kblocks-21.07.80.tar.xz">kblocks-21.07.80</a></td>
   <td align="right">2050kB</td>
   <td><tt>fc0de4e680cb3f88a8a994cbe08044d13ef61de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kbounce-21.07.80.tar.xz">kbounce-21.07.80</a></td>
   <td align="right">3443kB</td>
   <td><tt>a96c2bd68060066ffb386c082fb639a8a625d9af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kbreakout-21.07.80.tar.xz">kbreakout-21.07.80</a></td>
   <td align="right">2492kB</td>
   <td><tt>3d8023cecbaa7f694644914430c9e98f2b44a9e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kbruch-21.07.80.tar.xz">kbruch-21.07.80</a></td>
   <td align="right">5496kB</td>
   <td><tt>7311d27a708cc0c4831e8396bd4bcb89b84a84f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kcachegrind-21.07.80.tar.xz">kcachegrind-21.07.80</a></td>
   <td align="right">834kB</td>
   <td><tt>74d4b8e6a3579373bf3b34890d1de00f1ea7b597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kcalc-21.07.80.tar.xz">kcalc-21.07.80</a></td>
   <td align="right">370kB</td>
   <td><tt>f4d14e5446d07cbee05c95354f2b6bc782df7cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kcalutils-21.07.80.tar.xz">kcalutils-21.07.80</a></td>
   <td align="right">329kB</td>
   <td><tt>0ff68770d229ef181c7089aeb420e1cdd0a35adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kcharselect-21.07.80.tar.xz">kcharselect-21.07.80</a></td>
   <td align="right">360kB</td>
   <td><tt>68a748e259dd7c94c7506ab1864f6f2ca6d08f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kcolorchooser-21.07.80.tar.xz">kcolorchooser-21.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>c4317d4cc14b4999c9a1f65c8966ca4243208ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kcron-21.07.80.tar.xz">kcron-21.07.80</a></td>
   <td align="right">889kB</td>
   <td><tt>c6572c955736d7b690dd829a03d5e942ed7a70a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdebugsettings-21.07.80.tar.xz">kdebugsettings-21.07.80</a></td>
   <td align="right">87kB</td>
   <td><tt>82427d51a6c41c00138cd4b369d68119958bfcaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdeconnect-kde-21.07.80.tar.xz">kdeconnect-kde-21.07.80</a></td>
   <td align="right">575kB</td>
   <td><tt>56096e1143f91c1205f132f23a7752c39bf382de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kde-dev-scripts-21.07.80.tar.xz">kde-dev-scripts-21.07.80</a></td>
   <td align="right">357kB</td>
   <td><tt>fc51c8cecc2f7c034e49ea309fd54b98e01729c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kde-dev-utils-21.07.80.tar.xz">kde-dev-utils-21.07.80</a></td>
   <td align="right">66kB</td>
   <td><tt>843a80f7328cdc7cffbd5711c5c3481c0f4c682a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdeedu-data-21.07.80.tar.xz">kdeedu-data-21.07.80</a></td>
   <td align="right">327kB</td>
   <td><tt>dc444c5b655541b140a88d2ff4026f45836893a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdegraphics-mobipocket-21.07.80.tar.xz">kdegraphics-mobipocket-21.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>efad1d36b35f8ad1254fa032ac94e44a34ff7e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdegraphics-thumbnailers-21.07.80.tar.xz">kdegraphics-thumbnailers-21.07.80</a></td>
   <td align="right">46kB</td>
   <td><tt>ac368b47edc3e5a1cb0495b6fa773cd4bac001bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdenetwork-filesharing-21.07.80.tar.xz">kdenetwork-filesharing-21.07.80</a></td>
   <td align="right">369kB</td>
   <td><tt>0dc4ad3888063f167e95f2dd0da5708015f8e90e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdenlive-21.07.80.tar.xz">kdenlive-21.07.80</a></td>
   <td align="right">11516kB</td>
   <td><tt>704029d7d9f04bad354e4b1ab98cda298c2368d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdepim-addons-21.07.80.tar.xz">kdepim-addons-21.07.80</a></td>
   <td align="right">2222kB</td>
   <td><tt>4a90879dcc9bbdc6c80e37bc4d21201c83591fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdepim-runtime-21.07.80.tar.xz">kdepim-runtime-21.07.80</a></td>
   <td align="right">1777kB</td>
   <td><tt>1066e33ff75aa9bb3a18b42e0f24b10c273fefad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdesdk-kioslaves-21.07.80.tar.xz">kdesdk-kioslaves-21.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>5d23efc428e1100eda72589a5f90c95b210fc108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdesdk-thumbnailers-21.07.80.tar.xz">kdesdk-thumbnailers-21.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>7c931bab319f6f104e47e8b5075418684742efb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdf-21.07.80.tar.xz">kdf-21.07.80</a></td>
   <td align="right">461kB</td>
   <td><tt>648b9804e04815c9220549b06188524373756593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdialog-21.07.80.tar.xz">kdialog-21.07.80</a></td>
   <td align="right">112kB</td>
   <td><tt>41b01612abdb7ea3585ae3ad326a2c73234254d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kdiamond-21.07.80.tar.xz">kdiamond-21.07.80</a></td>
   <td align="right">4589kB</td>
   <td><tt>d28de73c40bf43f646fe6641d03df2a8e225a1de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/keditbookmarks-21.07.80.tar.xz">keditbookmarks-21.07.80</a></td>
   <td align="right">197kB</td>
   <td><tt>63b80f2df3ea56b6211ce513407f1257f1642159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kfind-21.07.80.tar.xz">kfind-21.07.80</a></td>
   <td align="right">279kB</td>
   <td><tt>bf035cca42915bb6c5b0b65806266155adf0d6cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kfloppy-21.07.80.tar.xz">kfloppy-21.07.80</a></td>
   <td align="right">205kB</td>
   <td><tt>814b0cc84a33068b7ab38fa482385eb184d138d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kfourinline-21.07.80.tar.xz">kfourinline-21.07.80</a></td>
   <td align="right">702kB</td>
   <td><tt>2c1facc571fba0babb67ae6cfa985ca6ba3ca427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kgeography-21.07.80.tar.xz">kgeography-21.07.80</a></td>
   <td align="right">10742kB</td>
   <td><tt>b23d3dc649b240e189b66ef2a62f323cce8a6205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kget-21.07.80.tar.xz">kget-21.07.80</a></td>
   <td align="right">5502kB</td>
   <td><tt>4653cb7a814817763d1b3ba59755199e9c723291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kgoldrunner-21.07.80.tar.xz">kgoldrunner-21.07.80</a></td>
   <td align="right">4641kB</td>
   <td><tt>b57df6e19deb10ba46378c6080b2f628697268d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kgpg-21.07.80.tar.xz">kgpg-21.07.80</a></td>
   <td align="right">2875kB</td>
   <td><tt>2365139b75ddbbdf7395f84b640fe784765410ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/khangman-21.07.80.tar.xz">khangman-21.07.80</a></td>
   <td align="right">7250kB</td>
   <td><tt>645a30c03c770eacbee85f455e503718353c75bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/khelpcenter-21.07.80.tar.xz">khelpcenter-21.07.80</a></td>
   <td align="right">4190kB</td>
   <td><tt>aa0795c041114ef40e9ac92eb600bb01f7e158d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kidentitymanagement-21.07.80.tar.xz">kidentitymanagement-21.07.80</a></td>
   <td align="right">153kB</td>
   <td><tt>71a508b10ec6234ac37e69e0c3d357ea080998f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kig-21.07.80.tar.xz">kig-21.07.80</a></td>
   <td align="right">3100kB</td>
   <td><tt>c6f6742d64671563433ee38bedca4b39abc85c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kigo-21.07.80.tar.xz">kigo-21.07.80</a></td>
   <td align="right">5128kB</td>
   <td><tt>c50f6311531159e66d90973b3ead85024e707987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/killbots-21.07.80.tar.xz">killbots-21.07.80</a></td>
   <td align="right">1165kB</td>
   <td><tt>4a330d3e0bbf9f94f9643fefcfd8872016385edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kimagemapeditor-21.07.80.tar.xz">kimagemapeditor-21.07.80</a></td>
   <td align="right">1062kB</td>
   <td><tt>b8b211064ab69038a184d4c6af211bd1cae9643d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kimap-21.07.80.tar.xz">kimap-21.07.80</a></td>
   <td align="right">124kB</td>
   <td><tt>4732c0131612641a5026284c7062f0fb3ae62b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kio-extras-21.07.80.tar.xz">kio-extras-21.07.80</a></td>
   <td align="right">609kB</td>
   <td><tt>59b230bd870dbbf539ca65d7d7ee2c8db0e2f83a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kio-gdrive-21.07.80.tar.xz">kio-gdrive-21.07.80</a></td>
   <td align="right">67kB</td>
   <td><tt>f6f51fea9d24141094d81ff929c440e41c6477af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kipi-plugins-21.07.80.tar.xz">kipi-plugins-21.07.80</a></td>
   <td align="right">1508kB</td>
   <td><tt>a9b8b970de302d3745838e5089a00c1acac00a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kirigami-gallery-21.07.80.tar.xz">kirigami-gallery-21.07.80</a></td>
   <td align="right">321kB</td>
   <td><tt>b8aa803b0523b4fd2c2239b88d2bce503229977c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kiriki-21.07.80.tar.xz">kiriki-21.07.80</a></td>
   <td align="right">356kB</td>
   <td><tt>ef4ce183f269cf8213fcd5bfccaea4736224d084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kiten-21.07.80.tar.xz">kiten-21.07.80</a></td>
   <td align="right">11047kB</td>
   <td><tt>c8de0853bdfe310fdddc693c3558c97848a6c757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kitinerary-21.07.80.tar.xz">kitinerary-21.07.80</a></td>
   <td align="right">1795kB</td>
   <td><tt>19b71583c637c30647b048e88016d2a4d1360fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kjumpingcube-21.07.80.tar.xz">kjumpingcube-21.07.80</a></td>
   <td align="right">315kB</td>
   <td><tt>33c45ff7ae127aba20d5e69f194ef45f52d6841b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kldap-21.07.80.tar.xz">kldap-21.07.80</a></td>
   <td align="right">167kB</td>
   <td><tt>9e1231f73fc48480e8b31cfaa6106520d120d815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kleopatra-21.07.80.tar.xz">kleopatra-21.07.80</a></td>
   <td align="right">2079kB</td>
   <td><tt>37a8d7a86ddab3e68c74cde9734d807bdee3bb1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/klettres-21.07.80.tar.xz">klettres-21.07.80</a></td>
   <td align="right">46031kB</td>
   <td><tt>ecb93c430c026af864e529d3055a67adc277c1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/klickety-21.07.80.tar.xz">klickety-21.07.80</a></td>
   <td align="right">1457kB</td>
   <td><tt>05c2fab6147de7abb2187d87ba487c31650a78a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/klines-21.07.80.tar.xz">klines-21.07.80</a></td>
   <td align="right">1682kB</td>
   <td><tt>4674946ee9bae77821845393e12d1abada306316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmag-21.07.80.tar.xz">kmag-21.07.80</a></td>
   <td align="right">689kB</td>
   <td><tt>a0f225aa2ddc5a9840b485b2125b2d7ad32b4c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmahjongg-21.07.80.tar.xz">kmahjongg-21.07.80</a></td>
   <td align="right">3972kB</td>
   <td><tt>0493e8ecd1d0534c3a77acf722e96805c2170787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmail-21.07.80.tar.xz">kmail-21.07.80</a></td>
   <td align="right">6761kB</td>
   <td><tt>201f4940f6e11c286d80ec27a49f2a1088803f16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmail-account-wizard-21.07.80.tar.xz">kmail-account-wizard-21.07.80</a></td>
   <td align="right">161kB</td>
   <td><tt>71bc1fc80fc0713c8d3ad174a9e415908060b44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmailtransport-21.07.80.tar.xz">kmailtransport-21.07.80</a></td>
   <td align="right">168kB</td>
   <td><tt>1ef7caadc8c5a01ac8369ea7bf1c71525452577b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmbox-21.07.80.tar.xz">kmbox-21.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>2da101627947c4f6245ec58dd97577e7597c987f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmime-21.07.80.tar.xz">kmime-21.07.80</a></td>
   <td align="right">151kB</td>
   <td><tt>aed73e53e02a7a0a1e152c5568443f9d2c4c676d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmines-21.07.80.tar.xz">kmines-21.07.80</a></td>
   <td align="right">966kB</td>
   <td><tt>20e0f771c6d40361094d37b95d45421b45f49a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmix-21.07.80.tar.xz">kmix-21.07.80</a></td>
   <td align="right">1135kB</td>
   <td><tt>8ff5fc143010080f2785e206f45dd47bd23c937c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmousetool-21.07.80.tar.xz">kmousetool-21.07.80</a></td>
   <td align="right">118kB</td>
   <td><tt>a6f91a66134b294066c2bdd82ee1413127e7db18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmouth-21.07.80.tar.xz">kmouth-21.07.80</a></td>
   <td align="right">2051kB</td>
   <td><tt>1427345ac234157bdf1c4b59fde1501615fefcdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kmplot-21.07.80.tar.xz">kmplot-21.07.80</a></td>
   <td align="right">2971kB</td>
   <td><tt>b3e1a21fc073ffb61ae08451011af92741f7d276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/knavalbattle-21.07.80.tar.xz">knavalbattle-21.07.80</a></td>
   <td align="right">1343kB</td>
   <td><tt>59b12b6d00250c8ddd670e345234b5ee66553128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/knetwalk-21.07.80.tar.xz">knetwalk-21.07.80</a></td>
   <td align="right">1241kB</td>
   <td><tt>aeb8b634adbcff2c9b3c98de53de4ea0ddc7e5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/knights-21.07.80.tar.xz">knights-21.07.80</a></td>
   <td align="right">3453kB</td>
   <td><tt>e8764194848654bbb576b21a48f2b7944b1d6565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/knotes-21.07.80.tar.xz">knotes-21.07.80</a></td>
   <td align="right">334kB</td>
   <td><tt>0a0d52f8a715ebbcc0fc9069113edda0056d2ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kolf-21.07.80.tar.xz">kolf-21.07.80</a></td>
   <td align="right">1018kB</td>
   <td><tt>13598044cfa6b055876ba40401592d505eafb2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kollision-21.07.80.tar.xz">kollision-21.07.80</a></td>
   <td align="right">284kB</td>
   <td><tt>d04aef6289e837d11b50b0f345fcfb391fd7c6ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kolourpaint-21.07.80.tar.xz">kolourpaint-21.07.80</a></td>
   <td align="right">5580kB</td>
   <td><tt>2d7274b08bb9128aac4f7b1dd17b10763c7346bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kompare-21.07.80.tar.xz">kompare-21.07.80</a></td>
   <td align="right">919kB</td>
   <td><tt>32c38e4bbe314da95a34405acdef0773f9610ca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/konqueror-21.07.80.tar.xz">konqueror-21.07.80</a></td>
   <td align="right">7241kB</td>
   <td><tt>abc36011e948ee45a139868ce3b2ddaf5253abbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/konquest-21.07.80.tar.xz">konquest-21.07.80</a></td>
   <td align="right">655kB</td>
   <td><tt>c5ac7f688cf1a2476de27860b2d2f4b65c8000bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/konsole-21.07.80.tar.xz">konsole-21.07.80</a></td>
   <td align="right">1338kB</td>
   <td><tt>b7be5039e93113df75b0ba908a9703aacb242ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kontact-21.07.80.tar.xz">kontact-21.07.80</a></td>
   <td align="right">790kB</td>
   <td><tt>b2cb76e34a56350d6b982e574fdc25efee6f8f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kontactinterface-21.07.80.tar.xz">kontactinterface-21.07.80</a></td>
   <td align="right">38kB</td>
   <td><tt>d54617495f43af6943632ca208820c253d31739b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kontrast-21.07.80.tar.xz">kontrast-21.07.80</a></td>
   <td align="right">121kB</td>
   <td><tt>92b3be2172db4dc246fd67dd3d047fea7b447823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/konversation-21.07.80.tar.xz">konversation-21.07.80</a></td>
   <td align="right">4150kB</td>
   <td><tt>dbcab8c23c997f504476a74524daffae11742763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kopeninghours-21.07.80.tar.xz">kopeninghours-21.07.80</a></td>
   <td align="right">63kB</td>
   <td><tt>9e3b73ea3979d01f75801f52518e96bb54ccf80f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kopete-21.07.80.tar.xz">kopete-21.07.80</a></td>
   <td align="right">9437kB</td>
   <td><tt>2d2eca5c3e51a0383b957296399539fe8da8e799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/korganizer-21.07.80.tar.xz">korganizer-21.07.80</a></td>
   <td align="right">2336kB</td>
   <td><tt>75c0aa7528a96508581a17a744eb46fb135f4b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kosmindoormap-21.07.80.tar.xz">kosmindoormap-21.07.80</a></td>
   <td align="right">331kB</td>
   <td><tt>0a5ba092f8f3a4462b11bb147b28d8a47e5a68da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kpat-21.07.80.tar.xz">kpat-21.07.80</a></td>
   <td align="right">3640kB</td>
   <td><tt>42bc1da19ee1cab7dcfdfe0bae1a15ef4f8aba95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kpimtextedit-21.07.80.tar.xz">kpimtextedit-21.07.80</a></td>
   <td align="right">199kB</td>
   <td><tt>56a734f6710834b33ad54c1666495e5289c74738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kpkpass-21.07.80.tar.xz">kpkpass-21.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>f3e4d189d4a08b29848d4d5b9c92fa450c67995f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kpmcore-21.07.80.tar.xz">kpmcore-21.07.80</a></td>
   <td align="right">575kB</td>
   <td><tt>f638fab1d1a318dfcafb136d05ed6ab6c4bdb060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kpublictransport-21.07.80.tar.xz">kpublictransport-21.07.80</a></td>
   <td align="right">398kB</td>
   <td><tt>d59e46df9bf4ac7c7d5fe3b5a78c077b8c4da464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kqtquickcharts-21.07.80.tar.xz">kqtquickcharts-21.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>1111e3ec659a4d0a18ee3c22e6cfe130cc9cff4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/krdc-21.07.80.tar.xz">krdc-21.07.80</a></td>
   <td align="right">1545kB</td>
   <td><tt>b532d263180164f94722216599597fdaa51bd7ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kreversi-21.07.80.tar.xz">kreversi-21.07.80</a></td>
   <td align="right">939kB</td>
   <td><tt>d5a1603ad9a6d2986162f09bc69a56d2b11f6a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/krfb-21.07.80.tar.xz">krfb-21.07.80</a></td>
   <td align="right">1263kB</td>
   <td><tt>a8c2fe665568ccaf7d69273b42c70975a7470373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kross-interpreters-21.07.80.tar.xz">kross-interpreters-21.07.80</a></td>
   <td align="right">147kB</td>
   <td><tt>3c619fb40a457ac8c3b311b1b4fcbd4c63aff51e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kruler-21.07.80.tar.xz">kruler-21.07.80</a></td>
   <td align="right">270kB</td>
   <td><tt>f1585e18ced08f8a4ce8f51742ed2ea78d82ce0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kshisen-21.07.80.tar.xz">kshisen-21.07.80</a></td>
   <td align="right">963kB</td>
   <td><tt>a819262ff53ce5595cbd084073278c1778c3abc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ksirk-21.07.80.tar.xz">ksirk-21.07.80</a></td>
   <td align="right">6833kB</td>
   <td><tt>edef58e3bcf7a7cfd17350a8fd56df6dcd972661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ksmtp-21.07.80.tar.xz">ksmtp-21.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>8ea5e15896540f44fa5c21db3eb58937ab7a879b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ksnakeduel-21.07.80.tar.xz">ksnakeduel-21.07.80</a></td>
   <td align="right">532kB</td>
   <td><tt>6eba1294efd2d069ef65787e1d2adde3fa052731</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kspaceduel-21.07.80.tar.xz">kspaceduel-21.07.80</a></td>
   <td align="right">606kB</td>
   <td><tt>0955edaa32d4bc87132823cd505ebf4808a2e694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ksquares-21.07.80.tar.xz">ksquares-21.07.80</a></td>
   <td align="right">261kB</td>
   <td><tt>9efd430d61b6bbe29e1542b965a93109ea9bb2fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ksudoku-21.07.80.tar.xz">ksudoku-21.07.80</a></td>
   <td align="right">1640kB</td>
   <td><tt>51826b9a564ce591607be01f37f3ad37854702f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ksystemlog-21.07.80.tar.xz">ksystemlog-21.07.80</a></td>
   <td align="right">1918kB</td>
   <td><tt>6704d59c7a126eefeb1c16aae3248552cae860d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kteatime-21.07.80.tar.xz">kteatime-21.07.80</a></td>
   <td align="right">292kB</td>
   <td><tt>41109eb3800d65951fb1aedea3b65ea3aab922fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktimer-21.07.80.tar.xz">ktimer-21.07.80</a></td>
   <td align="right">379kB</td>
   <td><tt>f4a4c2d9de3325359c0e3a61d81ad22b10305521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktnef-21.07.80.tar.xz">ktnef-21.07.80</a></td>
   <td align="right">298kB</td>
   <td><tt>d99c091ad5221ad4d4041e4702c87c87ce895201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktorrent-21.07.80.tar.xz">ktorrent-21.07.80</a></td>
   <td align="right">2041kB</td>
   <td><tt>60cb135cc74d11225b7ba374fec7035e5f01742d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktouch-21.07.80.tar.xz">ktouch-21.07.80</a></td>
   <td align="right">4849kB</td>
   <td><tt>218c37966c064a99e29830e4afb1349e78fe4372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-accounts-kcm-21.07.80.tar.xz">ktp-accounts-kcm-21.07.80</a></td>
   <td align="right">259kB</td>
   <td><tt>82dfa01d99d493518de37271ee8c46d013e475c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-approver-21.07.80.tar.xz">ktp-approver-21.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>901aaa6f28f883802ac56712f931e914bbaf36d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-auth-handler-21.07.80.tar.xz">ktp-auth-handler-21.07.80</a></td>
   <td align="right">46kB</td>
   <td><tt>c2be8408169b3993ec5936ba6511de8809638f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-call-ui-21.07.80.tar.xz">ktp-call-ui-21.07.80</a></td>
   <td align="right">96kB</td>
   <td><tt>4d90ee5879cd1630cd32d5a228a631d3ffb95047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-common-internals-21.07.80.tar.xz">ktp-common-internals-21.07.80</a></td>
   <td align="right">440kB</td>
   <td><tt>391a9f4f6ec807638b3fce54e88b58ae517eb7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-contact-list-21.07.80.tar.xz">ktp-contact-list-21.07.80</a></td>
   <td align="right">149kB</td>
   <td><tt>1ec3118bcc2e12e17fb55b8ed19bdb5c6112408f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-contact-runner-21.07.80.tar.xz">ktp-contact-runner-21.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>2974301c756762eacbc86794977e7465f2c40ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-desktop-applets-21.07.80.tar.xz">ktp-desktop-applets-21.07.80</a></td>
   <td align="right">43kB</td>
   <td><tt>0d0dad143d57fb26eef1e4591fab244268f981d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-filetransfer-handler-21.07.80.tar.xz">ktp-filetransfer-handler-21.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>ad7e8b99ba03157ab1835eaae8bedb198fcaf773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-kded-module-21.07.80.tar.xz">ktp-kded-module-21.07.80</a></td>
   <td align="right">96kB</td>
   <td><tt>1439d14aa9f7ca80590a10d34e9795c77bd9f777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-send-file-21.07.80.tar.xz">ktp-send-file-21.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>9252b17668514424cf16a570bc3dd20597d132bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktp-text-ui-21.07.80.tar.xz">ktp-text-ui-21.07.80</a></td>
   <td align="right">463kB</td>
   <td><tt>abcbd8173150bb62eb9335d74c3dc220a22a1593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/ktuberling-21.07.80.tar.xz">ktuberling-21.07.80</a></td>
   <td align="right">69118kB</td>
   <td><tt>0a5bd9e43538f6adf2d1e06ef13f4ca4b2a5605c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kturtle-21.07.80.tar.xz">kturtle-21.07.80</a></td>
   <td align="right">1925kB</td>
   <td><tt>9c3331497fb0475cde5940ac3c6461b3f1341b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kubrick-21.07.80.tar.xz">kubrick-21.07.80</a></td>
   <td align="right">335kB</td>
   <td><tt>0e68268ce207065bdcaeb8706b7f3ff56943d26d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kwalletmanager-21.07.80.tar.xz">kwalletmanager-21.07.80</a></td>
   <td align="right">778kB</td>
   <td><tt>aa70d6fe776c391348db2f6e3fec455d6dd4f0b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kwave-21.07.80.tar.xz">kwave-21.07.80</a></td>
   <td align="right">6737kB</td>
   <td><tt>a09c6b067a1ed7e5dfccb6fc565ce76438c7588c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/kwordquiz-21.07.80.tar.xz">kwordquiz-21.07.80</a></td>
   <td align="right">4110kB</td>
   <td><tt>61f76a85c2ec4cf7a267770ea807a1b76b3fa38a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libgravatar-21.07.80.tar.xz">libgravatar-21.07.80</a></td>
   <td align="right">33kB</td>
   <td><tt>ad9385a441b2f247a7709c7511a0fca96ce30c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkcddb-21.07.80.tar.xz">libkcddb-21.07.80</a></td>
   <td align="right">420kB</td>
   <td><tt>14b67900c738ece6b9c2d01f349c4747eb7cdb2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkcompactdisc-21.07.80.tar.xz">libkcompactdisc-21.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>9d5d3b41413d9b9196e39fd97789ac8434050c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkdcraw-21.07.80.tar.xz">libkdcraw-21.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>057a06d739ad11f4a6b88f12c3c877a3efa49444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkdegames-21.07.80.tar.xz">libkdegames-21.07.80</a></td>
   <td align="right">6253kB</td>
   <td><tt>88ac0785d3750c242d3dcef1c55f869002e025b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkdepim-21.07.80.tar.xz">libkdepim-21.07.80</a></td>
   <td align="right">247kB</td>
   <td><tt>4db50c1cc0c733c0571981865bfd60fe89408e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkeduvocdocument-21.07.80.tar.xz">libkeduvocdocument-21.07.80</a></td>
   <td align="right">212kB</td>
   <td><tt>81d6f56eaf798b425c5a55e7eadb03a4cc1d34ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkexiv2-21.07.80.tar.xz">libkexiv2-21.07.80</a></td>
   <td align="right">58kB</td>
   <td><tt>e2bd9af548cf5a72c698a81af3369a2bfbe5854d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkgapi-21.07.80.tar.xz">libkgapi-21.07.80</a></td>
   <td align="right">241kB</td>
   <td><tt>d0f7075ca7c45b01d81d8d9d388e37787435a908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkipi-21.07.80.tar.xz">libkipi-21.07.80</a></td>
   <td align="right">100kB</td>
   <td><tt>6ee33b938d9597c5d8df068c7903ea4dbedcfa60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkleo-21.07.80.tar.xz">libkleo-21.07.80</a></td>
   <td align="right">424kB</td>
   <td><tt>931bb7c2d759810f34d030262617a277623b8409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkmahjongg-21.07.80.tar.xz">libkmahjongg-21.07.80</a></td>
   <td align="right">1642kB</td>
   <td><tt>044b4872091270379567e0d853498603de220598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libkomparediff2-21.07.80.tar.xz">libkomparediff2-21.07.80</a></td>
   <td align="right">168kB</td>
   <td><tt>b98e30d95101357a41e4672fb3ea3a7c60fc41a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libksane-21.07.80.tar.xz">libksane-21.07.80</a></td>
   <td align="right">151kB</td>
   <td><tt>fab4c8e32ba65b16da9b889b7221b790224663b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libksieve-21.07.80.tar.xz">libksieve-21.07.80</a></td>
   <td align="right">554kB</td>
   <td><tt>ca004a1ad8a1d6b01d3d2391de048f09e92666b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/libktorrent-21.07.80.tar.xz">libktorrent-21.07.80</a></td>
   <td align="right">592kB</td>
   <td><tt>ecb4a398cc51e7aa69ffdd1b05b2034c9b9d2a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/lokalize-21.07.80.tar.xz">lokalize-21.07.80</a></td>
   <td align="right">1982kB</td>
   <td><tt>c7c206d962e90506b972275a0e83c14a5d7d51dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/lskat-21.07.80.tar.xz">lskat-21.07.80</a></td>
   <td align="right">1200kB</td>
   <td><tt>1f601caa88eeb58537fff6cffcefed1d25059429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/mailcommon-21.07.80.tar.xz">mailcommon-21.07.80</a></td>
   <td align="right">712kB</td>
   <td><tt>da1fb25ee89e2a0a5748d810d06566d1970e5c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/mailimporter-21.07.80.tar.xz">mailimporter-21.07.80</a></td>
   <td align="right">545kB</td>
   <td><tt>7ed902d1437448b73797c2eb1149184151149c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/marble-21.07.80.tar.xz">marble-21.07.80</a></td>
   <td align="right">51160kB</td>
   <td><tt>b5b92eddadca35094917b8c5ed6daf6a14a70b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/markdownpart-21.07.80.tar.xz">markdownpart-21.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>9d9a71de17bce52b535273a50e65b1052540ff60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/mbox-importer-21.07.80.tar.xz">mbox-importer-21.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>f8d2cf418a0876438db095e86ce430ec628e0039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/messagelib-21.07.80.tar.xz">messagelib-21.07.80</a></td>
   <td align="right">10544kB</td>
   <td><tt>524cbe7a6013092687353e9c9d2753edc18dd9c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/minuet-21.07.80.tar.xz">minuet-21.07.80</a></td>
   <td align="right">27073kB</td>
   <td><tt>b14f7136532ff6b7bcf9ed2f43540ac0bfdda5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/okular-21.07.80.tar.xz">okular-21.07.80</a></td>
   <td align="right">7893kB</td>
   <td><tt>f113ec25e357af46f9b860034fa04581b4984b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/palapeli-21.07.80.tar.xz">palapeli-21.07.80</a></td>
   <td align="right">2028kB</td>
   <td><tt>8cc1e8853d97c72cb6d0a6776e84042522bedc5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/parley-21.07.80.tar.xz">parley-21.07.80</a></td>
   <td align="right">8675kB</td>
   <td><tt>5daf3c82f756ddf7e3ade8c844c07038e5a0ea18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/partitionmanager-21.07.80.tar.xz">partitionmanager-21.07.80</a></td>
   <td align="right">2048kB</td>
   <td><tt>e1814e7398e6a4a24dad1b40dc484651836b8883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/picmi-21.07.80.tar.xz">picmi-21.07.80</a></td>
   <td align="right">1337kB</td>
   <td><tt>8cf268b9245e8bdd961dd8af99a7854e465a0bcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/pimcommon-21.07.80.tar.xz">pimcommon-21.07.80</a></td>
   <td align="right">359kB</td>
   <td><tt>d9899e5e51b3c157c94a16d19e153a18dae27ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/pim-data-exporter-21.07.80.tar.xz">pim-data-exporter-21.07.80</a></td>
   <td align="right">387kB</td>
   <td><tt>dee870418be97a973ffa4d4c948c21c4e7c475bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/pim-sieve-editor-21.07.80.tar.xz">pim-sieve-editor-21.07.80</a></td>
   <td align="right">446kB</td>
   <td><tt>2a408919c977fa1e72d3b0997026eda3404d0e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/poxml-21.07.80.tar.xz">poxml-21.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>158e3805311f19552da015d20483658de476c5c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/print-manager-21.07.80.tar.xz">print-manager-21.07.80</a></td>
   <td align="right">263kB</td>
   <td><tt>bdb5c30847352a8e9445819686abbc2a5d46abe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/rocs-21.07.80.tar.xz">rocs-21.07.80</a></td>
   <td align="right">1518kB</td>
   <td><tt>457772dea556876f3863a8756841fa332665c63b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/signon-kwallet-extension-21.07.80.tar.xz">signon-kwallet-extension-21.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>3ee0b1a18a77a25716c4c84bec1ed9fb37c87a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/skanlite-21.07.80.tar.xz">skanlite-21.07.80</a></td>
   <td align="right">2369kB</td>
   <td><tt>455e8390dc05f70a8fe899f332f228b1fc660d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/spectacle-21.07.80.tar.xz">spectacle-21.07.80</a></td>
   <td align="right">1184kB</td>
   <td><tt>d8369a1c4797a5bb2ccb21e6cb4b057837f07843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/step-21.07.80.tar.xz">step-21.07.80</a></td>
   <td align="right">948kB</td>
   <td><tt>947bae90c3ed4563aaed280c12e81ab70adbd320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/svgpart-21.07.80.tar.xz">svgpart-21.07.80</a></td>
   <td align="right">23kB</td>
   <td><tt>5d09cd4de4c7535f3a98d9314208072b0f465ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/sweeper-21.07.80.tar.xz">sweeper-21.07.80</a></td>
   <td align="right">368kB</td>
   <td><tt>9c8793cf808094f5f0c9459a947f907f795c9393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/umbrello-21.07.80.tar.xz">umbrello-21.07.80</a></td>
   <td align="right">5517kB</td>
   <td><tt>a44ebc36cf97beb43ac21607e65c0cabff9c8a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/yakuake-21.07.80.tar.xz">yakuake-21.07.80</a></td>
   <td align="right">383kB</td>
   <td><tt>5caadec01c0e95891ea9d8e281b44101f1d4c67d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.80/src/zeroconf-ioslave-21.07.80.tar.xz">zeroconf-ioslave-21.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>39501869f90ce36fa83d03842742b95aae385104</tt></td>
</tr>

</table>
