
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/attica-5.57.0.tar.xz">attica-5.57.0</a></td>
   <td align="right">61kB</td>
   <td><tt>931573e76bfcf2c00e67bd5b487026b492e8f2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/baloo-5.57.0.tar.xz">baloo-5.57.0</a></td>
   <td align="right">234kB</td>
   <td><tt>fe5a23782567a16ca2fbabb7419e6fe1b66d8899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/bluez-qt-5.57.0.tar.xz">bluez-qt-5.57.0</a></td>
   <td align="right">79kB</td>
   <td><tt>3b763e5ae4ff5375522e883ef8e75ba147d19b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/breeze-icons-5.57.0.tar.xz">breeze-icons-5.57.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>408963afa6020e690282a7582ab5dbfc9f6791b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/extra-cmake-modules-5.57.0.tar.xz">extra-cmake-modules-5.57.0</a></td>
   <td align="right">319kB</td>
   <td><tt>1db65eb2100b329bbc042190c69d9320b05c52f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/frameworkintegration-5.57.0.tar.xz">frameworkintegration-5.57.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>26c6175e34b4b9dde0bdbabae8c8df291f817c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kactivities-5.57.0.tar.xz">kactivities-5.57.0</a></td>
   <td align="right">60kB</td>
   <td><tt>e5b4314e6a4f2a409c918d4bd7a62cbdd2613cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kactivities-stats-5.57.0.tar.xz">kactivities-stats-5.57.0</a></td>
   <td align="right">59kB</td>
   <td><tt>bc6ec14600c2462dbc8aff7e084acd00712f95f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kapidox-5.57.0.tar.xz">kapidox-5.57.0</a></td>
   <td align="right">387kB</td>
   <td><tt>e9b45f52de47e58e86541d73efa601955f94e7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/karchive-5.57.0.tar.xz">karchive-5.57.0</a></td>
   <td align="right">429kB</td>
   <td><tt>1763f71307f842a7dc34c02abec57fc2407e5220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kauth-5.57.0.tar.xz">kauth-5.57.0</a></td>
   <td align="right">83kB</td>
   <td><tt>9ea4266ab9375b5febb25bdbc002850a6de23e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kbookmarks-5.57.0.tar.xz">kbookmarks-5.57.0</a></td>
   <td align="right">116kB</td>
   <td><tt>f7aac514342e2d022d2da11706d8d1ceafa93107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kcmutils-5.57.0.tar.xz">kcmutils-5.57.0</a></td>
   <td align="right">232kB</td>
   <td><tt>df0b9e69c27910ebb80ac2cf58c4e067c3120130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kcodecs-5.57.0.tar.xz">kcodecs-5.57.0</a></td>
   <td align="right">215kB</td>
   <td><tt>eab0fb829d71fa4f3ff54d1bb3a2ef8ae7dfd1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kcompletion-5.57.0.tar.xz">kcompletion-5.57.0</a></td>
   <td align="right">113kB</td>
   <td><tt>88859f29259e7ab3afb7be570d8a008559e8843a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kconfig-5.57.0.tar.xz">kconfig-5.57.0</a></td>
   <td align="right">234kB</td>
   <td><tt>17e19e898b1af5cb6920bbd8495eaec62298f320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kconfigwidgets-5.57.0.tar.xz">kconfigwidgets-5.57.0</a></td>
   <td align="right">367kB</td>
   <td><tt>a4de9f440ab230e430c448c957bd09ebefc49d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kcoreaddons-5.57.0.tar.xz">kcoreaddons-5.57.0</a></td>
   <td align="right">352kB</td>
   <td><tt>908c1b5ee54f995624ca7b62d80ef4ef38e62c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kcrash-5.57.0.tar.xz">kcrash-5.57.0</a></td>
   <td align="right">22kB</td>
   <td><tt>d0636780b5d59622c79c713571d4c94cdd47b3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kdbusaddons-5.57.0.tar.xz">kdbusaddons-5.57.0</a></td>
   <td align="right">36kB</td>
   <td><tt>bdba69c24afbdef9fa6bdfb1aca12b72a9905a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kdeclarative-5.57.0.tar.xz">kdeclarative-5.57.0</a></td>
   <td align="right">169kB</td>
   <td><tt>4bd1082d71f264343ea524520cb8da60995174bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kded-5.57.0.tar.xz">kded-5.57.0</a></td>
   <td align="right">37kB</td>
   <td><tt>0959cb1a9b7cc621e08be2605a8fab5a96133ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kdesignerplugin-5.57.0.tar.xz">kdesignerplugin-5.57.0</a></td>
   <td align="right">88kB</td>
   <td><tt>1065ae34b58a0a5d4421b52c8496269f452be774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kdesu-5.57.0.tar.xz">kdesu-5.57.0</a></td>
   <td align="right">45kB</td>
   <td><tt>3c53d1db41546d8ec19ae310d3f53fcdc1d0f1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kdewebkit-5.57.0.tar.xz">kdewebkit-5.57.0</a></td>
   <td align="right">28kB</td>
   <td><tt>7c0b4f93c39749e8e3fb60aef5b1ac928b7b1c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kdnssd-5.57.0.tar.xz">kdnssd-5.57.0</a></td>
   <td align="right">56kB</td>
   <td><tt>90ff75d530a78dcc0fb65412de82743b719b263c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kdoctools-5.57.0.tar.xz">kdoctools-5.57.0</a></td>
   <td align="right">416kB</td>
   <td><tt>919ee1761324e2ba3bc2b416abbbdc37b000dc6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kemoticons-5.57.0.tar.xz">kemoticons-5.57.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>870d83a700aa379e9cf36b01b1f59cf465952f6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kfilemetadata-5.57.0.tar.xz">kfilemetadata-5.57.0</a></td>
   <td align="right">400kB</td>
   <td><tt>604b70f7dca78562a31a4d86bff4d0102144ff03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kglobalaccel-5.57.0.tar.xz">kglobalaccel-5.57.0</a></td>
   <td align="right">82kB</td>
   <td><tt>c3d6e8281d6feacef3389be61bf9a53040904644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kguiaddons-5.57.0.tar.xz">kguiaddons-5.57.0</a></td>
   <td align="right">39kB</td>
   <td><tt>e6d128472ef3da4285fda4eb7f701e56ba80ae98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kholidays-5.57.0.tar.xz">kholidays-5.57.0</a></td>
   <td align="right">197kB</td>
   <td><tt>f59df113c7a278f8b93a3c869edabaf2b4e74f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/ki18n-5.57.0.tar.xz">ki18n-5.57.0</a></td>
   <td align="right">573kB</td>
   <td><tt>15914a353ddbd766a015312e7c385ee107671faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kiconthemes-5.57.0.tar.xz">kiconthemes-5.57.0</a></td>
   <td align="right">202kB</td>
   <td><tt>248364c05d37cf4a6027abf1b1113bf6cc4ca6d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kidletime-5.57.0.tar.xz">kidletime-5.57.0</a></td>
   <td align="right">26kB</td>
   <td><tt>1e7fd484e922003c69370eff11545cb221fc30ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kimageformats-5.57.0.tar.xz">kimageformats-5.57.0</a></td>
   <td align="right">199kB</td>
   <td><tt>e8472e379f8bbbf4a3b573b17c5755c546c917dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kinit-5.57.0.tar.xz">kinit-5.57.0</a></td>
   <td align="right">117kB</td>
   <td><tt>b1b6ef1eb12ff7448b3fd7e1f661562f8f2d13e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kio-5.57.0.tar.xz">kio-5.57.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>dc4eb6d00b76256a96a6a62a03b6162f74b4a684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kirigami2-5.57.0.tar.xz">kirigami2-5.57.0</a></td>
   <td align="right">134kB</td>
   <td><tt>69b7c79d9bb7696bab3942b4ffde67947d0e5bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kitemmodels-5.57.0.tar.xz">kitemmodels-5.57.0</a></td>
   <td align="right">380kB</td>
   <td><tt>fe4ee6aaa2669fbe6f0306a2543ffb3c90725e23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kitemviews-5.57.0.tar.xz">kitemviews-5.57.0</a></td>
   <td align="right">73kB</td>
   <td><tt>df334fafcc9822a917986bbc50dea336f7f8ee87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kjobwidgets-5.57.0.tar.xz">kjobwidgets-5.57.0</a></td>
   <td align="right">85kB</td>
   <td><tt>5927bcbb2398f55bebe9a71bb236394270871777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/knewstuff-5.57.0.tar.xz">knewstuff-5.57.0</a></td>
   <td align="right">988kB</td>
   <td><tt>64a6aa9eae6e6174e5403fa57793a757267da552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/knotifications-5.57.0.tar.xz">knotifications-5.57.0</a></td>
   <td align="right">110kB</td>
   <td><tt>f4278789306c10f690bcb99e997c484fe9214ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/knotifyconfig-5.57.0.tar.xz">knotifyconfig-5.57.0</a></td>
   <td align="right">81kB</td>
   <td><tt>c6510d59e8ee178073056e3abe9bfc1d13a7b058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kpackage-5.57.0.tar.xz">kpackage-5.57.0</a></td>
   <td align="right">130kB</td>
   <td><tt>0a09eb74cb2ed7928b9585b3c27af6ea195dddde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kparts-5.57.0.tar.xz">kparts-5.57.0</a></td>
   <td align="right">171kB</td>
   <td><tt>c784c76df7f8ea17bdf36a70edba2a35f7c38401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kpeople-5.57.0.tar.xz">kpeople-5.57.0</a></td>
   <td align="right">59kB</td>
   <td><tt>d080f9952f0c9bb7ff10685b5f9dc1189a570748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kplotting-5.57.0.tar.xz">kplotting-5.57.0</a></td>
   <td align="right">29kB</td>
   <td><tt>19632adb4e2a1df63dc0cb82e68f1b869c3547b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kpty-5.57.0.tar.xz">kpty-5.57.0</a></td>
   <td align="right">56kB</td>
   <td><tt>8c43ec1f719b89a5b5ad880802c0649e4392e68e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/krunner-5.57.0.tar.xz">krunner-5.57.0</a></td>
   <td align="right">60kB</td>
   <td><tt>ddb0a3448302866b8c6547a545971ae11b4d7f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kservice-5.57.0.tar.xz">kservice-5.57.0</a></td>
   <td align="right">245kB</td>
   <td><tt>79949b9f396c96183abb3f87bc04c63aa2846396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/ktexteditor-5.57.0.tar.xz">ktexteditor-5.57.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>197c248e6d5823d0bde622d8cc53a74406e20030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/ktextwidgets-5.57.0.tar.xz">ktextwidgets-5.57.0</a></td>
   <td align="right">301kB</td>
   <td><tt>b8f5839099763fdd50c7957edd599220e845a214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kunitconversion-5.57.0.tar.xz">kunitconversion-5.57.0</a></td>
   <td align="right">754kB</td>
   <td><tt>083c8010370f7742a849ead136fcd80ece8cf134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kwallet-5.57.0.tar.xz">kwallet-5.57.0</a></td>
   <td align="right">300kB</td>
   <td><tt>80cce87e592e41e78fd02120b87e1edf47b50876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kwayland-5.57.0.tar.xz">kwayland-5.57.0</a></td>
   <td align="right">332kB</td>
   <td><tt>be59cc806827cab195ef5d08cf1f1dcb5013a5f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kwidgetsaddons-5.57.0.tar.xz">kwidgetsaddons-5.57.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e031198b0fa8f1c09605133aa9034f7e7e4ce42f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kwindowsystem-5.57.0.tar.xz">kwindowsystem-5.57.0</a></td>
   <td align="right">166kB</td>
   <td><tt>efd03b7c4c1046cf0be9e1c29e34e6ecf1131088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kxmlgui-5.57.0.tar.xz">kxmlgui-5.57.0</a></td>
   <td align="right">850kB</td>
   <td><tt>9263f0e50156d3c58d27d07eee298e1af4d6d54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/kxmlrpcclient-5.57.0.tar.xz">kxmlrpcclient-5.57.0</a></td>
   <td align="right">28kB</td>
   <td><tt>cb557ce96a5eceb278f46641330fba7a3f9ada57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/modemmanager-qt-5.57.0.tar.xz">modemmanager-qt-5.57.0</a></td>
   <td align="right">99kB</td>
   <td><tt>783693b64c7df67e46c57c94d49a70aa6d8c5e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/networkmanager-qt-5.57.0.tar.xz">networkmanager-qt-5.57.0</a></td>
   <td align="right">178kB</td>
   <td><tt>f302b9c99d0d167c27a6470e7e72cb8ebe534c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/oxygen-icons5-5.57.0.tar.xz">oxygen-icons5-5.57.0</a></td>
   <td align="right">225MB</td>
   <td><tt>47baeee95223d389580c4dbb5fdc387e652fa9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/plasma-framework-5.57.0.tar.xz">plasma-framework-5.57.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>17d6a4535335cf4dcf7898ca5cabe74e3688387e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/prison-5.57.0.tar.xz">prison-5.57.0</a></td>
   <td align="right">40kB</td>
   <td><tt>8c164174b08401a1b9161a76602ab84ac0318c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/purpose-5.57.0.tar.xz">purpose-5.57.0</a></td>
   <td align="right">141kB</td>
   <td><tt>4b1c889b1ea1aed3149b690fedf7ec407bf7e82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/qqc2-desktop-style-5.57.0.tar.xz">qqc2-desktop-style-5.57.0</a></td>
   <td align="right">43kB</td>
   <td><tt>41d8b2f71af44fcfd8e948f5d39c9e9d32f5f027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/solid-5.57.0.tar.xz">solid-5.57.0</a></td>
   <td align="right">252kB</td>
   <td><tt>adfcf6eee3e6d077da93900c3745f43e891870e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/sonnet-5.57.0.tar.xz">sonnet-5.57.0</a></td>
   <td align="right">280kB</td>
   <td><tt>2c72709bdfa8dee4754055db63cda491801b6155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/syndication-5.57.0.tar.xz">syndication-5.57.0</a></td>
   <td align="right">155kB</td>
   <td><tt>5930ca7b11a1a91ab81dbb0a6c346a72d45dba41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/syntax-highlighting-5.57.0.tar.xz">syntax-highlighting-5.57.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8d714067187c2ce6f3fcaf94d87e75c477992095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.57/threadweaver-5.57.0.tar.xz">threadweaver-5.57.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ec96e4fbfc7194c0e746da6168e1af9ef39020d3</tt></td>
</tr>

</table>
