
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/attica-5.94.0.tar.xz">attica-5.94.0</a></td>
   <td align="right">67kB</td>
   <td><tt>d927a89a62e9d3ff704199f1d6a81aa945d19229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/baloo-5.94.0.tar.xz">baloo-5.94.0</a></td>
   <td align="right">282kB</td>
   <td><tt>3ea2eea6d215881244d074b19108bcd11c8e675b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/bluez-qt-5.94.0.tar.xz">bluez-qt-5.94.0</a></td>
   <td align="right">111kB</td>
   <td><tt>8a1f43afd437cad63d77ba6d31ba04a59cbc9dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/breeze-icons-5.94.0.tar.xz">breeze-icons-5.94.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5afb06725398d96b4bb41334df2fc0250c40b3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/extra-cmake-modules-5.94.0.tar.xz">extra-cmake-modules-5.94.0</a></td>
   <td align="right">323kB</td>
   <td><tt>fbf8b825f638d3a3579bafbc11779c7e487b615c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/frameworkintegration-5.94.0.tar.xz">frameworkintegration-5.94.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f1e4a73962ade4bcb54a0aeac55636e4098e6c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kactivities-5.94.0.tar.xz">kactivities-5.94.0</a></td>
   <td align="right">72kB</td>
   <td><tt>5886ad9228fd48f9ece742e5f3ebb91462d76acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kactivities-stats-5.94.0.tar.xz">kactivities-stats-5.94.0</a></td>
   <td align="right">82kB</td>
   <td><tt>ff155148e170a4caf73443aab4a836817c4ae9e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kapidox-5.94.0.tar.xz">kapidox-5.94.0</a></td>
   <td align="right">192kB</td>
   <td><tt>065d628932e68e281fd915d5202a2b85315f9f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/karchive-5.94.0.tar.xz">karchive-5.94.0</a></td>
   <td align="right">963kB</td>
   <td><tt>d1f4e14aa19cd0fbbc60c431d473b36e6b09a5ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kauth-5.94.0.tar.xz">kauth-5.94.0</a></td>
   <td align="right">88kB</td>
   <td><tt>51a5b409940da739366ee88290cbb5efc8bbd481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kbookmarks-5.94.0.tar.xz">kbookmarks-5.94.0</a></td>
   <td align="right">127kB</td>
   <td><tt>2014cb5ec27f6e5e0b22986ed82b29e044c77a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kcalendarcore-5.94.0.tar.xz">kcalendarcore-5.94.0</a></td>
   <td align="right">260kB</td>
   <td><tt>f0a1b219bd783f2c20c7d3378f5e7c32a62484dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kcmutils-5.94.0.tar.xz">kcmutils-5.94.0</a></td>
   <td align="right">180kB</td>
   <td><tt>41faad6d4f77a690a50161110b05909262164832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kcodecs-5.94.0.tar.xz">kcodecs-5.94.0</a></td>
   <td align="right">231kB</td>
   <td><tt>ab5870ed9580cd163e036224a54ec7842381bc2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kcompletion-5.94.0.tar.xz">kcompletion-5.94.0</a></td>
   <td align="right">121kB</td>
   <td><tt>4256eec68bceea1a04d9bea4aed1fdf4a71c5b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kconfig-5.94.0.tar.xz">kconfig-5.94.0</a></td>
   <td align="right">275kB</td>
   <td><tt>ba32e61575573298a4b84938f387d53b05ccc108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kconfigwidgets-5.94.0.tar.xz">kconfigwidgets-5.94.0</a></td>
   <td align="right">407kB</td>
   <td><tt>6c284ddee638236511e9e084ae3af1d2bf06dcbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kcontacts-5.94.0.tar.xz">kcontacts-5.94.0</a></td>
   <td align="right">188kB</td>
   <td><tt>c7bf620e01c3eb74448db85cad8e8f8e5e95cd5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kcoreaddons-5.94.0.tar.xz">kcoreaddons-5.94.0</a></td>
   <td align="right">445kB</td>
   <td><tt>8343f3486408da66b07ab34220598ccffe6047f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kcrash-5.94.0.tar.xz">kcrash-5.94.0</a></td>
   <td align="right">27kB</td>
   <td><tt>746c7ae9ad587e3c2140dddd8a1d141ed21fefb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kdav-5.94.0.tar.xz">kdav-5.94.0</a></td>
   <td align="right">62kB</td>
   <td><tt>c1dbd35db6c07421d1fe5a0895cd166daeaf8d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kdbusaddons-5.94.0.tar.xz">kdbusaddons-5.94.0</a></td>
   <td align="right">46kB</td>
   <td><tt>4b78f63f5eefc88e3dfd98ecf4ddb1057afe087e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kdeclarative-5.94.0.tar.xz">kdeclarative-5.94.0</a></td>
   <td align="right">200kB</td>
   <td><tt>3164de9413ef6e1bcd55ef69fedcc78b8b8ddd1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kded-5.94.0.tar.xz">kded-5.94.0</a></td>
   <td align="right">38kB</td>
   <td><tt>b428ca852357503238b4f14c7687975cc692f66b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kdesu-5.94.0.tar.xz">kdesu-5.94.0</a></td>
   <td align="right">54kB</td>
   <td><tt>fb731a7e6ed3c49b9d53d1e34bc4c5b93827af4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kdnssd-5.94.0.tar.xz">kdnssd-5.94.0</a></td>
   <td align="right">59kB</td>
   <td><tt>27c80e52584ad11f439e3dc1cc7c3db7ed534652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kdoctools-5.94.0.tar.xz">kdoctools-5.94.0</a></td>
   <td align="right">430kB</td>
   <td><tt>c7f0b25cf63a226ec3816c1561c5e7aa82cd81c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kemoticons-5.94.0.tar.xz">kemoticons-5.94.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2fb6a5d10d6205940311f122ea378f255456ff5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kfilemetadata-5.94.0.tar.xz">kfilemetadata-5.94.0</a></td>
   <td align="right">425kB</td>
   <td><tt>d94bf9234fbdf9a582c240d89519b44707436f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kglobalaccel-5.94.0.tar.xz">kglobalaccel-5.94.0</a></td>
   <td align="right">93kB</td>
   <td><tt>3a2c8aba9eae2f6d689b73bd0e5e1d19046db5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kguiaddons-5.94.0.tar.xz">kguiaddons-5.94.0</a></td>
   <td align="right">71kB</td>
   <td><tt>04063cfe0e8a682f8260596d7b149f85ff88df7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kholidays-5.94.0.tar.xz">kholidays-5.94.0</a></td>
   <td align="right">233kB</td>
   <td><tt>a762ce4587cc305220c6e5ee13de0311b24b6268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/ki18n-5.94.0.tar.xz">ki18n-5.94.0</a></td>
   <td align="right">932kB</td>
   <td><tt>a00006369562121b62fa0e36f0834e418aadd6cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kiconthemes-5.94.0.tar.xz">kiconthemes-5.94.0</a></td>
   <td align="right">221kB</td>
   <td><tt>9ea145c86bb7ed1c6b3a70ad9d356cc678b03c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kidletime-5.94.0.tar.xz">kidletime-5.94.0</a></td>
   <td align="right">28kB</td>
   <td><tt>95eed938eb92c1db78c2601c75f366574810318e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kimageformats-5.94.0.tar.xz">kimageformats-5.94.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a90a7e6035753d2c437f93a78f0720d981736331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kinit-5.94.0.tar.xz">kinit-5.94.0</a></td>
   <td align="right">116kB</td>
   <td><tt>43ccd99b7c49e2ad35f7ae769223540d5e38bc1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kio-5.94.0.tar.xz">kio-5.94.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>ce795520e31e732c22848de12c3907ad8aef9dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kirigami2-5.94.0.tar.xz">kirigami2-5.94.0</a></td>
   <td align="right">348kB</td>
   <td><tt>100900a2c059680157e7b5aaedf3f7202e977751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kitemmodels-5.94.0.tar.xz">kitemmodels-5.94.0</a></td>
   <td align="right">397kB</td>
   <td><tt>4a14cfdd4d6959e9486611cfc84ad7a39093ed9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kitemviews-5.94.0.tar.xz">kitemviews-5.94.0</a></td>
   <td align="right">75kB</td>
   <td><tt>c9bac4ce33fd02ef6a68a6be5548602c930319e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kjobwidgets-5.94.0.tar.xz">kjobwidgets-5.94.0</a></td>
   <td align="right">99kB</td>
   <td><tt>f3c1870d8b2f0d06c07c439fe63e6c98da4f4453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/knewstuff-5.94.0.tar.xz">knewstuff-5.94.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0a84b4e9d0400393550f854f96844c693138131d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/knotifications-5.94.0.tar.xz">knotifications-5.94.0</a></td>
   <td align="right">128kB</td>
   <td><tt>718389754689715c089f39adde567ce5a46beece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/knotifyconfig-5.94.0.tar.xz">knotifyconfig-5.94.0</a></td>
   <td align="right">85kB</td>
   <td><tt>2742db34b4006eac896f757e849a80b009814a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kpackage-5.94.0.tar.xz">kpackage-5.94.0</a></td>
   <td align="right">137kB</td>
   <td><tt>502dc21bf0fc00909a3633f7bd4b53eb22f526eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kparts-5.94.0.tar.xz">kparts-5.94.0</a></td>
   <td align="right">192kB</td>
   <td><tt>fd9695c7989eaf6210e3de0c5ff80f6291a42a35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kpeople-5.94.0.tar.xz">kpeople-5.94.0</a></td>
   <td align="right">58kB</td>
   <td><tt>79fc428cb41ed70852d5fab6122e94cfad6e72da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kplotting-5.94.0.tar.xz">kplotting-5.94.0</a></td>
   <td align="right">32kB</td>
   <td><tt>939f78eec4869770b4108451f8623186211b3420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kpty-5.94.0.tar.xz">kpty-5.94.0</a></td>
   <td align="right">58kB</td>
   <td><tt>886dd7395ad929e82c080cf65e52132ac15b968b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kquickcharts-5.94.0.tar.xz">kquickcharts-5.94.0</a></td>
   <td align="right">106kB</td>
   <td><tt>38ad5214627bb8c9cdfa339c631d7fe1a9466e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/krunner-5.94.0.tar.xz">krunner-5.94.0</a></td>
   <td align="right">84kB</td>
   <td><tt>72c5ea449b5bea93078f70a327e213a18631d564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kservice-5.94.0.tar.xz">kservice-5.94.0</a></td>
   <td align="right">261kB</td>
   <td><tt>540f0cfe5acde10f6a099c9f5874bf9916e055d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/ktexteditor-5.94.0.tar.xz">ktexteditor-5.94.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>82227ab82e8bcdfa00f50c3226d3b8e6c2c0771d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/ktextwidgets-5.94.0.tar.xz">ktextwidgets-5.94.0</a></td>
   <td align="right">321kB</td>
   <td><tt>664cf65892881295c6b70d238bcdcc8afe4c6ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kunitconversion-5.94.0.tar.xz">kunitconversion-5.94.0</a></td>
   <td align="right">871kB</td>
   <td><tt>7b646e0ad45c005cd49f04810ff92424f0a06300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kwallet-5.94.0.tar.xz">kwallet-5.94.0</a></td>
   <td align="right">300kB</td>
   <td><tt>50ab6cb8c8d4300efbc06e6883d15113c01dd50d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kwayland-5.94.0.tar.xz">kwayland-5.94.0</a></td>
   <td align="right">327kB</td>
   <td><tt>92e423e15be4f14f94a6d150f95849ed37c04d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kwidgetsaddons-5.94.0.tar.xz">kwidgetsaddons-5.94.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>46236096fd021547586af8f52b1ee547e0c0f491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kwindowsystem-5.94.0.tar.xz">kwindowsystem-5.94.0</a></td>
   <td align="right">177kB</td>
   <td><tt>58410255bc0f35a06b519cc6169062cdc3018789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/kxmlgui-5.94.0.tar.xz">kxmlgui-5.94.0</a></td>
   <td align="right">877kB</td>
   <td><tt>c9433121ede14757d2ff06e77d79f011a4aaffe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/modemmanager-qt-5.94.0.tar.xz">modemmanager-qt-5.94.0</a></td>
   <td align="right">118kB</td>
   <td><tt>44c25a1b43200b4f0073dcb0f868dc183910a65e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/networkmanager-qt-5.94.0.tar.xz">networkmanager-qt-5.94.0</a></td>
   <td align="right">193kB</td>
   <td><tt>bef4f2eaec1d07b26d2810a92062859d0a22d5b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/oxygen-icons5-5.94.0.tar.xz">oxygen-icons5-5.94.0</a></td>
   <td align="right">227MB</td>
   <td><tt>2f7aaabeb30d84bc8d543784fb28455ff89ad075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/plasma-framework-5.94.0.tar.xz">plasma-framework-5.94.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>32d576a9e25040dd1cf01cc01a63c6bddaa7d6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/prison-5.94.0.tar.xz">prison-5.94.0</a></td>
   <td align="right">53kB</td>
   <td><tt>4d389075d33482eea3716fa0db3dad9a643c052e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/purpose-5.94.0.tar.xz">purpose-5.94.0</a></td>
   <td align="right">168kB</td>
   <td><tt>06cfe7abc793f5ccbc8ee62228ad06cd399c695f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/qqc2-desktop-style-5.94.0.tar.xz">qqc2-desktop-style-5.94.0</a></td>
   <td align="right">64kB</td>
   <td><tt>9f9f58667e5256d7913d2540a9639751910b07d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/solid-5.94.0.tar.xz">solid-5.94.0</a></td>
   <td align="right">252kB</td>
   <td><tt>79d5e49dfa466b0bcc6e62127bbb9aab385fb8d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/sonnet-5.94.0.tar.xz">sonnet-5.94.0</a></td>
   <td align="right">300kB</td>
   <td><tt>8cf6b4b13922a33164e15dce144ac24b1837ec21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/syndication-5.94.0.tar.xz">syndication-5.94.0</a></td>
   <td align="right">498kB</td>
   <td><tt>178ce9449344d33401f21174580ef86b7d891799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/syntax-highlighting-5.94.0.tar.xz">syntax-highlighting-5.94.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>79835c273d5739ed70419d51efcf02db221d350f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.94/threadweaver-5.94.0.tar.xz">threadweaver-5.94.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>30608c600ee386b5c86dcb5e31526bb78ffd0fd4</tt></td>
</tr>

</table>
