<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/amor-14.12.1.tar.xz">amor-14.12.1</a></td>
   <td align="right">171kB</td>
   <td><tt>07576fb51b1bbf7c531efa3223ebcbd4ce1b4244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/analitza-14.12.1.tar.xz">analitza-14.12.1</a></td>
   <td align="right">222kB</td>
   <td><tt>363c4c8df73eb52b66c24fd263916bc6093f85cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ark-14.12.1.tar.xz">ark-14.12.1</a></td>
   <td align="right">232kB</td>
   <td><tt>df0764ce3c32358c4b1c7515d57431f4707f9da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/artikulate-14.12.1.tar.xz">artikulate-14.12.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>33e8a7953295a741f3fb582f095dec992a8c2b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/audiocd-kio-14.12.1.tar.xz">audiocd-kio-14.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>f2242d75330f1fe4fbb94587700a05515d4b3107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/blinken-14.12.1.tar.xz">blinken-14.12.1</a></td>
   <td align="right">552kB</td>
   <td><tt>c7ee9adbef11cc3f30858e9dc1f32d9dada6adea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/bomber-14.12.1.tar.xz">bomber-14.12.1</a></td>
   <td align="right">382kB</td>
   <td><tt>9f15f9e38b34c01567e4c178a971674a9996ca4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/bovo-14.12.1.tar.xz">bovo-14.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>ee106ab6dff6058aa3d4f6457a439e3000580ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/cantor-14.12.1.tar.xz">cantor-14.12.1</a></td>
   <td align="right">335kB</td>
   <td><tt>f805f276be935faa18684723394666d7c7b18b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/cervisia-14.12.1.tar.xz">cervisia-14.12.1</a></td>
   <td align="right">364kB</td>
   <td><tt>bfc5bfbbb0fe87301a5507a244150f5aea29f171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/dolphin-plugins-14.12.1.tar.xz">dolphin-plugins-14.12.1</a></td>
   <td align="right">57kB</td>
   <td><tt>e80a445044a13b1154b0686e1e73b2640f99cf28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/dragon-14.12.1.tar.xz">dragon-14.12.1</a></td>
   <td align="right">388kB</td>
   <td><tt>f90b263ba4d69dd9dd66d6889974a99ef48f4ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ffmpegthumbs-14.12.1.tar.xz">ffmpegthumbs-14.12.1</a></td>
   <td align="right">19kB</td>
   <td><tt>451851a2343196ea1e1d3a4475f2e8225ef65a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/filelight-14.12.1.tar.xz">filelight-14.12.1</a></td>
   <td align="right">280kB</td>
   <td><tt>68ad3c98b6f79d5b32121d99e8e5e6b16a58cc0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/granatier-14.12.1.tar.xz">granatier-14.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>37775a0a92b8911ce235e9d9d7ce3f30b6e7cab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/gwenview-14.12.1.tar.xz">gwenview-14.12.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>eb4415328bea6309ac0a51fe1852b715ed263883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/jovie-14.12.1.tar.xz">jovie-14.12.1</a></td>
   <td align="right">370kB</td>
   <td><tt>aa2072338b9b0b20ee875d301cd86a30bbedcc77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/juk-14.12.1.tar.xz">juk-14.12.1</a></td>
   <td align="right">432kB</td>
   <td><tt>5e064ae817c84e10e9a7332fbafee3822c597475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kaccessible-14.12.1.tar.xz">kaccessible-14.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>59a031c5d290e6d521519ce054b814b02acf782f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kajongg-14.12.1.tar.xz">kajongg-14.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>47a1807e3e50d0938a666d485abe017e536c320a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kalgebra-14.12.1.tar.xz">kalgebra-14.12.1</a></td>
   <td align="right">263kB</td>
   <td><tt>fb3b4908467c6bd0f7a54b1209fa497e2c66ad34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kalzium-14.12.1.tar.xz">kalzium-14.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>0e25175c5af160792bc8992870cbdc440aea2804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kamera-14.12.1.tar.xz">kamera-14.12.1</a></td>
   <td align="right">34kB</td>
   <td><tt>5685b8e59ee960d33d80c19fecfa7aafa2bfb9be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kanagram-14.12.1.tar.xz">kanagram-14.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5508ff7aba8172b4f3e1fd0efffc6c28c80751d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kapman-14.12.1.tar.xz">kapman-14.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1f16ff8814d67b32e92f9cc5eed569982e76924e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kapptemplate-14.12.1.tar.xz">kapptemplate-14.12.1</a></td>
   <td align="right">719kB</td>
   <td><tt>d270eab781d071da3a38afca5b8f91f924250e06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kate-14.12.1.tar.xz">kate-14.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e7097f07f9876c44e482a88d7fdae0db92aa2359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/katomic-14.12.1.tar.xz">katomic-14.12.1</a></td>
   <td align="right">643kB</td>
   <td><tt>b0d9b5d4f4acf85e2f36639e0d4c3ccf54b97c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kblackbox-14.12.1.tar.xz">kblackbox-14.12.1</a></td>
   <td align="right">251kB</td>
   <td><tt>420f7baf5aca45f68486433ade21b33ea1c555db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kblocks-14.12.1.tar.xz">kblocks-14.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c734f1cf16db61e98fd762a034311e7414e8d82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kbounce-14.12.1.tar.xz">kbounce-14.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f0360ec63587af26d1f11f46471644c06de07b46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kbreakout-14.12.1.tar.xz">kbreakout-14.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9194113ada60c17821110919330fb298368258c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kbruch-14.12.1.tar.xz">kbruch-14.12.1</a></td>
   <td align="right">882kB</td>
   <td><tt>fe38a7cf080e644ef8304fc983e96c1e297f951a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kcachegrind-14.12.1.tar.xz">kcachegrind-14.12.1</a></td>
   <td align="right">230kB</td>
   <td><tt>23eddf2eee34b4525ec01bd70dabfcf55684e441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kcalc-14.12.1.tar.xz">kcalc-14.12.1</a></td>
   <td align="right">80kB</td>
   <td><tt>6ebda807134de51097fddfbc54a491abd7e3d880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kcharselect-14.12.1.tar.xz">kcharselect-14.12.1</a></td>
   <td align="right">82kB</td>
   <td><tt>4aec9e5325b20049e8d05ce0326f9922446dd5cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kcolorchooser-14.12.1.tar.xz">kcolorchooser-14.12.1</a></td>
   <td align="right">4kB</td>
   <td><tt>bfb838eef8252a8cf43670a883570de82012ec7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kcron-14.12.1.tar.xz">kcron-14.12.1</a></td>
   <td align="right">170kB</td>
   <td><tt>dcc0afa985e5a6acb924bc941a1a9679b87e8858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdeartwork-14.12.1.tar.xz">kdeartwork-14.12.1</a></td>
   <td align="right">134MB</td>
   <td><tt>4f822e13335798de8d688e03ef15ec8d6ea04898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-baseapps-14.12.1.tar.xz">kde-baseapps-14.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>fefc86d7fb176689012f4ee8710f715a68c899f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-base-artwork-14.12.1.tar.xz">kde-base-artwork-14.12.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>1bd00c76952373c776cb72941a1b7a1db485ce9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-dev-scripts-14.12.1.tar.xz">kde-dev-scripts-14.12.1</a></td>
   <td align="right">296kB</td>
   <td><tt>611ef3029dff1af158ea6da98537eeb8990fe606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-dev-utils-14.12.1.tar.xz">kde-dev-utils-14.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>d82dab60376767c091386f4d4001971d1faaa8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdeedu-data-14.12.1.tar.xz">kdeedu-data-14.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>f885a3cb12849bdba33d400e26164bf2b5b9fea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdegraphics-mobipocket-14.12.1.tar.xz">kdegraphics-mobipocket-14.12.1</a></td>
   <td align="right">14kB</td>
   <td><tt>1a0fc88f5c4efe5a5f4a0ee6e49a984bad66dc79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdegraphics-strigi-analyzer-14.12.1.tar.xz">kdegraphics-strigi-analyzer-14.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>7405cb8fba21e4c836080b39fcdc5756ac45e4b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdegraphics-thumbnailers-14.12.1.tar.xz">kdegraphics-thumbnailers-14.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>0141586a39365707f7044aef2a976d59023cf0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdelibs-4.14.4.tar.xz">kdelibs-4.14.4</a></td>
   <td align="right">11MB</td>
   <td><tt>8e5b35ac26a3ee65331ead30d0d9f192534a02d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdenetwork-filesharing-14.12.1.tar.xz">kdenetwork-filesharing-14.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>0598889a183888cbd1b14ed087ceff63bafd9e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdenetwork-strigi-analyzers-14.12.1.tar.xz">kdenetwork-strigi-analyzers-14.12.1</a></td>
   <td align="right">14kB</td>
   <td><tt>3295a11b996df766e50908f63d2b96d43f40efe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdepim-4.14.4.tar.xz">kdepim-4.14.4</a></td>
   <td align="right">13MB</td>
   <td><tt>9301b2acf2fc73f23008905450ad0eb231fed1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdepimlibs-4.14.4.tar.xz">kdepimlibs-4.14.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ca731775d8ebcf702b6e5306d044b0c751a7cd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdepim-runtime-4.14.4.tar.xz">kdepim-runtime-4.14.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>36bf4f5c652538410bb33d2f938942e5f224bf5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-runtime-14.12.1.tar.xz">kde-runtime-14.12.1</a></td>
   <td align="right">7.5MB</td>
   <td><tt>5f6e1e5ac3dcb7a42a945d003881ab47756a940b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdesdk-kioslaves-14.12.1.tar.xz">kdesdk-kioslaves-14.12.1</a></td>
   <td align="right">353kB</td>
   <td><tt>9a7bbd1727289ba475424d728004f4264159dabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdesdk-strigi-analyzers-14.12.1.tar.xz">kdesdk-strigi-analyzers-14.12.1</a></td>
   <td align="right">17kB</td>
   <td><tt>88e371cd74b9ec26bf58f19652734f00f0867881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdesdk-thumbnailers-14.12.1.tar.xz">kdesdk-thumbnailers-14.12.1</a></td>
   <td align="right">11kB</td>
   <td><tt>efd32fa3de0816a12e79a3cbe3cbcae585a0dd92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-wallpapers-14.12.1.tar.xz">kde-wallpapers-14.12.1</a></td>
   <td align="right">86MB</td>
   <td><tt>22fcde196cfb493374ce1a32c626b9ee3e4b292b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdewebdev-14.12.1.tar.xz">kdewebdev-14.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3b9bcde1a320a87a743c1c393f381897bb112acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-workspace-4.11.15.tar.xz">kde-workspace-4.11.15</a></td>
   <td align="right">12MB</td>
   <td><tt>0ce2720e497f2125c356d95fac515470d86b673e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdf-14.12.1.tar.xz">kdf-14.12.1</a></td>
   <td align="right">145kB</td>
   <td><tt>de4c02a32074f11aa70951069864e4ed518b36d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kdiamond-14.12.1.tar.xz">kdiamond-14.12.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>433101496990ebee0e53eb5d5cfa276141f14364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kfloppy-14.12.1.tar.xz">kfloppy-14.12.1</a></td>
   <td align="right">52kB</td>
   <td><tt>58bb83780c703baea471932c50cbd3b9c096a97f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kfourinline-14.12.1.tar.xz">kfourinline-14.12.1</a></td>
   <td align="right">276kB</td>
   <td><tt>beabbe2dd32c3bbebf449441258ad36ef2182955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kgamma-14.12.1.tar.xz">kgamma-14.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>090da6d678bc0d2d6bcbc598a7a25627b0990282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kgeography-14.12.1.tar.xz">kgeography-14.12.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>6f4a15d74bf1a1242cf735d849c1f117c3a9e8f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kget-14.12.1.tar.xz">kget-14.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7407e964419ea9df53b831358a3a5d49d67df6ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kgoldrunner-14.12.1.tar.xz">kgoldrunner-14.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1afbb588ee59290f87414d75584a4c37e2b52cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kgpg-14.12.1.tar.xz">kgpg-14.12.1</a></td>
   <td align="right">790kB</td>
   <td><tt>a9e3aa11e4f3d30076dcbf202aceaae2c38670d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/khangman-14.12.1.tar.xz">khangman-14.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>f33f60d290d815af583e05c240a52fee90bcf48e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kig-14.12.1.tar.xz">kig-14.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>03efba505fd1fbefd5ab05adc512e2feda957afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kigo-14.12.1.tar.xz">kigo-14.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>131ce0dec4d37dd17c13c365588123aeb661a4ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/killbots-14.12.1.tar.xz">killbots-14.12.1</a></td>
   <td align="right">940kB</td>
   <td><tt>392fc0b32f9309514274dce9a77c7d8281ac6458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kiriki-14.12.1.tar.xz">kiriki-14.12.1</a></td>
   <td align="right">114kB</td>
   <td><tt>170a058073e802c751d69848d2ca345701a222c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kiten-14.12.1.tar.xz">kiten-14.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>7d74632ccec1842888ac9d19260d236a72311bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kjumpingcube-14.12.1.tar.xz">kjumpingcube-14.12.1</a></td>
   <td align="right">161kB</td>
   <td><tt>9810c4862ef1fc39553a6b07fad7aa78fe02c62f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/klettres-14.12.1.tar.xz">klettres-14.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>2abd8ec4527fe47bf6e20a1d6f5aa8d090d70894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/klickety-14.12.1.tar.xz">klickety-14.12.1</a></td>
   <td align="right">765kB</td>
   <td><tt>b1af92f2856d1857c9f48720e25264939fee5896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/klines-14.12.1.tar.xz">klines-14.12.1</a></td>
   <td align="right">927kB</td>
   <td><tt>fb8a2907580241f8a9334696c8a7deb694e76346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kmag-14.12.1.tar.xz">kmag-14.12.1</a></td>
   <td align="right">84kB</td>
   <td><tt>506d00f7170509b1fe7a4b71086998378490393c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kmahjongg-14.12.1.tar.xz">kmahjongg-14.12.1</a></td>
   <td align="right">984kB</td>
   <td><tt>fcdf1090e2144e239d6cbade4deb4b203cedfc71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kmines-14.12.1.tar.xz">kmines-14.12.1</a></td>
   <td align="right">613kB</td>
   <td><tt>f3cbbc636087869d690ad5a5fa82610b7499407f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kmix-14.12.1.tar.xz">kmix-14.12.1</a></td>
   <td align="right">377kB</td>
   <td><tt>13774012a4a2ed8fab3cdf4b207de81a448e40d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kmousetool-14.12.1.tar.xz">kmousetool-14.12.1</a></td>
   <td align="right">34kB</td>
   <td><tt>90a839df03e0744379aade4461270e6d1034c5e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kmouth-14.12.1.tar.xz">kmouth-14.12.1</a></td>
   <td align="right">301kB</td>
   <td><tt>ab41a8f8bae66de82cdb92d88cd836c642ecd6f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kmplot-14.12.1.tar.xz">kmplot-14.12.1</a></td>
   <td align="right">644kB</td>
   <td><tt>b4a17d1bb1507ef0152851c02d1a941de964b0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/knavalbattle-14.12.1.tar.xz">knavalbattle-14.12.1</a></td>
   <td align="right">834kB</td>
   <td><tt>896365885e3412565911cd010fef0243b886b24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/knetwalk-14.12.1.tar.xz">knetwalk-14.12.1</a></td>
   <td align="right">763kB</td>
   <td><tt>b33404d6ef77e75c547fd457eb67bbbe648881c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kolf-14.12.1.tar.xz">kolf-14.12.1</a></td>
   <td align="right">750kB</td>
   <td><tt>2c242b66f3e386affabe6bf4252f0921fde229ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kollision-14.12.1.tar.xz">kollision-14.12.1</a></td>
   <td align="right">202kB</td>
   <td><tt>88461706009b471410e698636ed1df084f93acd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kolourpaint-14.12.1.tar.xz">kolourpaint-14.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0ba95fb5b89ac7fa411a336394502da81af8a2b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kompare-14.12.1.tar.xz">kompare-14.12.1</a></td>
   <td align="right">336kB</td>
   <td><tt>e6cc4e60b45bfefbdafa52138cc2aa70d42c49cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/konquest-14.12.1.tar.xz">konquest-14.12.1</a></td>
   <td align="right">396kB</td>
   <td><tt>dae2e31356962748a02b559c1bda90d625b77a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/konsole-14.12.1.tar.xz">konsole-14.12.1</a></td>
   <td align="right">448kB</td>
   <td><tt>c046088af65e3c8146d688ac4650996f6a534492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kopete-14.12.1.tar.xz">kopete-14.12.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>bf5c8b45c6706ed26e5257817e838fd538033aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kpat-14.12.1.tar.xz">kpat-14.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>83bed28b704f139cbda0ed55429883cb930b967e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kppp-14.12.1.tar.xz">kppp-14.12.1</a></td>
   <td align="right">683kB</td>
   <td><tt>819d4c821d01428a393f06dee7854ab8cc5094e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kqtquickcharts-14.12.1.tar.xz">kqtquickcharts-14.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>8baa1266d1b7b8f1d4df6dfceb99fdddcdfeaf9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/krdc-14.12.1.tar.xz">krdc-14.12.1</a></td>
   <td align="right">389kB</td>
   <td><tt>aec1fc1f8ac1102a4dea9f120655eef7a6f13050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kremotecontrol-14.12.1.tar.xz">kremotecontrol-14.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f0346328a82e04f1a44357491c5f9e314236ad47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kreversi-14.12.1.tar.xz">kreversi-14.12.1</a></td>
   <td align="right">464kB</td>
   <td><tt>0617817b79204b9a676f800c9e3c240d450c6ce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/krfb-14.12.1.tar.xz">krfb-14.12.1</a></td>
   <td align="right">319kB</td>
   <td><tt>6fd45786dc2dd9c50cb5bea9465c6303956dcb12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kruler-14.12.1.tar.xz">kruler-14.12.1</a></td>
   <td align="right">125kB</td>
   <td><tt>f13188821680b563a9da3c725bf66e09aceffd69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ksaneplugin-14.12.1.tar.xz">ksaneplugin-14.12.1</a></td>
   <td align="right">12kB</td>
   <td><tt>7eb06a931d2447527ed66559cd532c1f0760c77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kscd-14.12.1.tar.xz">kscd-14.12.1</a></td>
   <td align="right">90kB</td>
   <td><tt>672c6d9684c571f1c5b0b1039ff24b48f092e8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kshisen-14.12.1.tar.xz">kshisen-14.12.1</a></td>
   <td align="right">133kB</td>
   <td><tt>d5641d08f71b6d35499821a12e94e5c6797e1199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ksirk-14.12.1.tar.xz">ksirk-14.12.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>83195139e54233acb8b3fe1b484f92df5d323caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ksnakeduel-14.12.1.tar.xz">ksnakeduel-14.12.1</a></td>
   <td align="right">312kB</td>
   <td><tt>68ef87da752854709be6e563ee52ce4e30ea162d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ksnapshot-14.12.1.tar.xz">ksnapshot-14.12.1</a></td>
   <td align="right">252kB</td>
   <td><tt>26f9dc2152990dabf3d608aec736865cf09114e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kspaceduel-14.12.1.tar.xz">kspaceduel-14.12.1</a></td>
   <td align="right">247kB</td>
   <td><tt>6a5ec9e11176cf1333171f2054e823d6f3025c98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ksquares-14.12.1.tar.xz">ksquares-14.12.1</a></td>
   <td align="right">78kB</td>
   <td><tt>9076bd722e116f284c7c6b4718523ca5102c124f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kstars-14.12.1.tar.xz">kstars-14.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>84b779c5e48d57a90b28763c314f75db7d18d1d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ksudoku-14.12.1.tar.xz">ksudoku-14.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>21af40c78581364fc553fefce21cb1adf48684d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ksystemlog-14.12.1.tar.xz">ksystemlog-14.12.1</a></td>
   <td align="right">372kB</td>
   <td><tt>2b0a361e9c0b707a63ea6d4b194afc31b9bade3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kteatime-14.12.1.tar.xz">kteatime-14.12.1</a></td>
   <td align="right">98kB</td>
   <td><tt>4b76c2c51a9defaecd8d8c9261f8dfb574e9bb0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ktimer-14.12.1.tar.xz">ktimer-14.12.1</a></td>
   <td align="right">143kB</td>
   <td><tt>3e8566823942948eae9f6db1c99bb0ef77a50ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ktouch-14.12.1.tar.xz">ktouch-14.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>fc628775f065b68f5579c9a10f4e77beb664786d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ktuberling-14.12.1.tar.xz">ktuberling-14.12.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>9b93463a25f0c428efca15d81504164d6f75f20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kturtle-14.12.1.tar.xz">kturtle-14.12.1</a></td>
   <td align="right">188kB</td>
   <td><tt>a5875ad501722fb3b79ea938a2f3fc16d50063df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/ktux-14.12.1.tar.xz">ktux-14.12.1</a></td>
   <td align="right">105kB</td>
   <td><tt>50ed649cdcbcb0abf8ddd658b67fd2b4bb87576e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kubrick-14.12.1.tar.xz">kubrick-14.12.1</a></td>
   <td align="right">104kB</td>
   <td><tt>346ba541fddccfb8dbb716ffbd43051dab6cf0fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kuser-14.12.1.tar.xz">kuser-14.12.1</a></td>
   <td align="right">132kB</td>
   <td><tt>77628efa1b98db1e1c627a954841e54ca2ca454b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kwalletmanager-14.12.1.tar.xz">kwalletmanager-14.12.1</a></td>
   <td align="right">445kB</td>
   <td><tt>d0cde23797e869782bd6a4bedba51f67b99b2d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kwordquiz-14.12.1.tar.xz">kwordquiz-14.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>100e033c05cbb59041574cebb62ffc82f30c3b96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkcddb-14.12.1.tar.xz">libkcddb-14.12.1</a></td>
   <td align="right">154kB</td>
   <td><tt>2408d11fc7e3d70bc779a54f3e947557ee546263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkcompactdisc-14.12.1.tar.xz">libkcompactdisc-14.12.1</a></td>
   <td align="right">74kB</td>
   <td><tt>75be7a25cdc20d9c9a7711e28b50d8e6dc18e27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkdcraw-14.12.1.tar.xz">libkdcraw-14.12.1</a></td>
   <td align="right">100kB</td>
   <td><tt>e07dc93b5914674717c37e794313796d5b84a122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkdeedu-14.12.1.tar.xz">libkdeedu-14.12.1</a></td>
   <td align="right">127kB</td>
   <td><tt>ba6a83c8dfe758930b1883469e52845ea3986208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkdegames-14.12.1.tar.xz">libkdegames-14.12.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>1ba6f6e0800b75d955b354a31fb71e5ce02d6e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkeduvocdocument-14.12.1.tar.xz">libkeduvocdocument-14.12.1</a></td>
   <td align="right">96kB</td>
   <td><tt>094b6ad501b43644a178c2381dc3d7eb7ce14552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkexiv2-14.12.1.tar.xz">libkexiv2-14.12.1</a></td>
   <td align="right">134kB</td>
   <td><tt>53baf69f02c1eec83c26eeecf764397ed55155cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkface-14.12.1.tar.xz">libkface-14.12.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>4d81b15fc9d1b56da52be9b938688060329340a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkipi-14.12.1.tar.xz">libkipi-14.12.1</a></td>
   <td align="right">93kB</td>
   <td><tt>940f796c4d69db0d68756450fbb577295287e8f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkmahjongg-14.12.1.tar.xz">libkmahjongg-14.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ca7bf409bd6f16ecd17996f80f9e62a633e1f9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libkomparediff2-14.12.1.tar.xz">libkomparediff2-14.12.1</a></td>
   <td align="right">55kB</td>
   <td><tt>a245f7f6fa775c03c2452d8c7d75b297dc26e1ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/libksane-14.12.1.tar.xz">libksane-14.12.1</a></td>
   <td align="right">79kB</td>
   <td><tt>826d93754b855b99aaf5abc9398fde1c08fd39a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/lokalize-14.12.1.tar.xz">lokalize-14.12.1</a></td>
   <td align="right">826kB</td>
   <td><tt>036b0718170f3bc62c17246cbd84d2222103399c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/lskat-14.12.1.tar.xz">lskat-14.12.1</a></td>
   <td align="right">908kB</td>
   <td><tt>05f87ecd10a6c28736382b5f5767ca7d19fbf93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/marble-14.12.1.tar.xz">marble-14.12.1</a></td>
   <td align="right">18MB</td>
   <td><tt>9f027b548fecb6d36fd6ecef6c89373518be8f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/mplayerthumbs-14.12.1.tar.xz">mplayerthumbs-14.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>2de61c471b8bb08cb6e2d02a1bf6cede44c4369e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/okteta-14.12.1.tar.xz">okteta-14.12.1</a></td>
   <td align="right">491kB</td>
   <td><tt>3d9caab4e6fa31e96ceb51032e9a97db663f0060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/okular-14.12.1.tar.xz">okular-14.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3f8a1587d68a5768bf600b3dadc8d73a74a0ef58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/oxygen-icons-14.12.1.tar.xz">oxygen-icons-14.12.1</a></td>
   <td align="right">219MB</td>
   <td><tt>602b1f4911914e77bb1e6f17ced9b8c5e59e2900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/pairs-14.12.1.tar.xz">pairs-14.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>16e737b8a168420b3f6782b093f610d4f3bae2b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/palapeli-14.12.1.tar.xz">palapeli-14.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e550fe5123be725923353917ea4f60de80c24618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/parley-14.12.1.tar.xz">parley-14.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>561b91a9b854ff47fa43387ffc6de18f17528fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/picmi-14.12.1.tar.xz">picmi-14.12.1</a></td>
   <td align="right">714kB</td>
   <td><tt>6c3155196d27e368a207b039c072976c88b29739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/poxml-14.12.1.tar.xz">poxml-14.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>481921bf15009c993f26ee39963b333cd2c099a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/print-manager-14.12.1.tar.xz">print-manager-14.12.1</a></td>
   <td align="right">90kB</td>
   <td><tt>e7c74290d49e4cb998f51f542a58d986da49fc0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/rocs-14.12.1.tar.xz">rocs-14.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b0673223825c1ea390f4e556888488c34679ca74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/step-14.12.1.tar.xz">step-14.12.1</a></td>
   <td align="right">372kB</td>
   <td><tt>c987b006f4103b7cfc5574abc136d17367ec4ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/superkaramba-14.12.1.tar.xz">superkaramba-14.12.1</a></td>
   <td align="right">372kB</td>
   <td><tt>e4db8bde85e9727ca07b1e5142b3fb9a2a37dbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/svgpart-14.12.1.tar.xz">svgpart-14.12.1</a></td>
   <td align="right">8kB</td>
   <td><tt>16b86c7cf74f6b129e9626a7d637dff2042995d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/sweeper-14.12.1.tar.xz">sweeper-14.12.1</a></td>
   <td align="right">80kB</td>
   <td><tt>a32040614e559433ad4c8e14125690cd5ee937a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/umbrello-14.12.1.tar.xz">umbrello-14.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>424658713e36e54a508efc1dbf8be57da9dbc554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/zeroconf-ioslave-14.12.1.tar.xz">zeroconf-ioslave-14.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>26ea8b09b34f491cc48a18fabc3f0da6542cac06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ar-14.12.1.tar.xz">kde-l10n-ar-14.12.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2a65e9cc6c906d6f266e095ff9200f45cbaac986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-bg-14.12.1.tar.xz">kde-l10n-bg-14.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>be5f3e8bcf746604129454e6902935e22fc54265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-bs-14.12.1.tar.xz">kde-l10n-bs-14.12.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f9af63b9c2da0290fa931b603c61fc918964708e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ca-14.12.1.tar.xz">kde-l10n-ca-14.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>3b5076131f8fc9d74e132fb9165c66aee80c1d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ca@valencia-14.12.1.tar.xz">kde-l10n-ca@valencia-14.12.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ab3ea5716aef534d58a4b3dca341a11ee33765db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-cs-14.12.1.tar.xz">kde-l10n-cs-14.12.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5b32ae6b680b188632f73a2d540d147079574efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-da-14.12.1.tar.xz">kde-l10n-da-14.12.1</a></td>
   <td align="right">12MB</td>
   <td><tt>88174f48213fb6244eb8c124a0650fe7e7cdaefd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-de-14.12.1.tar.xz">kde-l10n-de-14.12.1</a></td>
   <td align="right">34MB</td>
   <td><tt>f50536818c7dc53f36111e5171f3a41025de2153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-el-14.12.1.tar.xz">kde-l10n-el-14.12.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>7bccc50a91089ada935303aeedb4cc3f84cb0bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-en_GB-14.12.1.tar.xz">kde-l10n-en_GB-14.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a408c4e6d17036ac95f244df446615a2c5b36d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-es-14.12.1.tar.xz">kde-l10n-es-14.12.1</a></td>
   <td align="right">20MB</td>
   <td><tt>4f980690553a514464a6af31ebfbaab91d935907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-et-14.12.1.tar.xz">kde-l10n-et-14.12.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>8663d5790948475611da5cfd72798b469ec1770e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-eu-14.12.1.tar.xz">kde-l10n-eu-14.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fd4373c5eb2c86dad0a1ea2b14ec67dfecea37f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-fa-14.12.1.tar.xz">kde-l10n-fa-14.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>df1622485caf7560c68a96f8e0858f7435ef938c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-fi-14.12.1.tar.xz">kde-l10n-fi-14.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d9e34cb5d4c15ffb421e37a642e1b9203f2c9080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-fr-14.12.1.tar.xz">kde-l10n-fr-14.12.1</a></td>
   <td align="right">44MB</td>
   <td><tt>316f05588e865570b66230fa8845864055ae0944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ga-14.12.1.tar.xz">kde-l10n-ga-14.12.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2ed09a669c624f70fa2fe860200235065a972a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-gl-14.12.1.tar.xz">kde-l10n-gl-14.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>8372c3b52908c0a4027d6488dd4a590c7aaba653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-he-14.12.1.tar.xz">kde-l10n-he-14.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>cd0954cc05c70cd5cbda004729eebfbf357f8d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-hi-14.12.1.tar.xz">kde-l10n-hi-14.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5f760ee886d89d6f9f9a22639431035010fce352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-hr-14.12.1.tar.xz">kde-l10n-hr-14.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>888a5eca0bc45df33d54a1674fd0d700f74395c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-hu-14.12.1.tar.xz">kde-l10n-hu-14.12.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>be149bb0049d6ea74c9467c911319bf21a1414f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ia-14.12.1.tar.xz">kde-l10n-ia-14.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d2b441eb5a3688c89dcddab7cd27fd0092215640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-id-14.12.1.tar.xz">kde-l10n-id-14.12.1</a></td>
   <td align="right">518kB</td>
   <td><tt>b0fcbf9343fb4a0c830796d40e5bf8ab54332c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-is-14.12.1.tar.xz">kde-l10n-is-14.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fea6b926ed6f8a67877f26f49218fac6b18e4b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-it-14.12.1.tar.xz">kde-l10n-it-14.12.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>a6bfbc54310411acb9efc422bc69f1ca26722fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ja-14.12.1.tar.xz">kde-l10n-ja-14.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2660439442600f45416b59bd72fdfc9ccc39670c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-kk-14.12.1.tar.xz">kde-l10n-kk-14.12.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>6d71c8320021253501d662ddf491473529752fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-km-14.12.1.tar.xz">kde-l10n-km-14.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>59969ddb8b1e5468ea612b341dc8f624eb929724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ko-14.12.1.tar.xz">kde-l10n-ko-14.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>11d64f83e9a21b34873e592410ed05c3ee56175f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-lt-14.12.1.tar.xz">kde-l10n-lt-14.12.1</a></td>
   <td align="right">12MB</td>
   <td><tt>597e1b207f17b17c7630cca9d71732899e927995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-lv-14.12.1.tar.xz">kde-l10n-lv-14.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>fbf9a5c17e583b6efaa99a1fba3b4445c95577d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-mr-14.12.1.tar.xz">kde-l10n-mr-14.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c9ab803cb5dd7e21ab219802287de92c5e411b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-nb-14.12.1.tar.xz">kde-l10n-nb-14.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1d67a755f620a0518076f6d12973f397f027e1cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-nds-14.12.1.tar.xz">kde-l10n-nds-14.12.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f5533b54b29e1c21df039fe4985038764f5922d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-nl-14.12.1.tar.xz">kde-l10n-nl-14.12.1</a></td>
   <td align="right">13MB</td>
   <td><tt>8ac0548f669dc5ce73365c3f33201b8bf1eb6590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-nn-14.12.1.tar.xz">kde-l10n-nn-14.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8c91d809a81161c0e519b007d6dccac648608282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-pa-14.12.1.tar.xz">kde-l10n-pa-14.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5d84963a7da27640730122b60f4448701b93f054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-pl-14.12.1.tar.xz">kde-l10n-pl-14.12.1</a></td>
   <td align="right">18MB</td>
   <td><tt>0968ad2714aa11cb71474db878ddfd33d44970ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-pt-14.12.1.tar.xz">kde-l10n-pt-14.12.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>8a0d714c395bf144b0cccf6434cf4a2ba4b9ff3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-pt_BR-14.12.1.tar.xz">kde-l10n-pt_BR-14.12.1</a></td>
   <td align="right">23MB</td>
   <td><tt>9e80a8b5b19e2d893c2f6e23c8862cf227dffcbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ro-14.12.1.tar.xz">kde-l10n-ro-14.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d66ec1fc73e438471da3d35fbf8b613cd93db32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ru-14.12.1.tar.xz">kde-l10n-ru-14.12.1</a></td>
   <td align="right">22MB</td>
   <td><tt>4858a84d71cdf66545bab02cf7731bb534c86a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-sk-14.12.1.tar.xz">kde-l10n-sk-14.12.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>3676b7badd58531375fdfa455ee0c3b70c2512e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-sl-14.12.1.tar.xz">kde-l10n-sl-14.12.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>534a08c02ee363021092e48c44aa309071a5b674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-sr-14.12.1.tar.xz">kde-l10n-sr-14.12.1</a></td>
   <td align="right">5.8MB</td>
   <td><tt>e21eed99a1e1b9a5b78dfeb6cfe76e1a68185fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-sv-14.12.1.tar.xz">kde-l10n-sv-14.12.1</a></td>
   <td align="right">13MB</td>
   <td><tt>ace6515d72f92787cda09409de32cade34fc6428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-tr-14.12.1.tar.xz">kde-l10n-tr-14.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>fd8716c5782fcfd28813e986f16900ef5c164bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-ug-14.12.1.tar.xz">kde-l10n-ug-14.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c1734bba115f03c77f0741601725ddc7f1458207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-uk-14.12.1.tar.xz">kde-l10n-uk-14.12.1</a></td>
   <td align="right">25MB</td>
   <td><tt>48a56349e1bf1ec979f538741ae105e5012ceafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-wa-14.12.1.tar.xz">kde-l10n-wa-14.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>002d076d3e0610b36e560ccabb177b21dcfd109f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-zh_CN-14.12.1.tar.xz">kde-l10n-zh_CN-14.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ea4692f5c51da09eec06873dfe950996c3cf21de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.1/src/kde-l10n/kde-l10n-zh_TW-14.12.1.tar.xz">kde-l10n-zh_TW-14.12.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>196a6c3e33212cafc6af289d669ea0ac32481726</tt></td>
</tr>

</table>
