<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-16.11.80.tar.xz">akonadi-16.11.80</a></td>
   <td align="right">1011kB</td>
   <td><tt>ead9cff8f59ad13081c550e6ffd22b548e89eedc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-calendar-16.11.80.tar.xz">akonadi-calendar-16.11.80</a></td>
   <td align="right">112kB</td>
   <td><tt>d97db1fc9fe5c6ce6653dbe690ac7bc405e438d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-calendar-tools-16.11.80.tar.xz">akonadi-calendar-tools-16.11.80</a></td>
   <td align="right">60kB</td>
   <td><tt>a5d9c3b55123355ac83c78b7a190e6a33e5c61b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadiconsole-16.11.80.tar.xz">akonadiconsole-16.11.80</a></td>
   <td align="right">173kB</td>
   <td><tt>11241545a0445653672c57b82f38dd733eec8d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-contacts-16.11.80.tar.xz">akonadi-contacts-16.11.80</a></td>
   <td align="right">145kB</td>
   <td><tt>e01c363192b15aa042f73bf2fae779500cc9597b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-import-wizard-16.11.80.tar.xz">akonadi-import-wizard-16.11.80</a></td>
   <td align="right">234kB</td>
   <td><tt>de268ee43fa5de6f89c5223d189703d0a4f67fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-mime-16.11.80.tar.xz">akonadi-mime-16.11.80</a></td>
   <td align="right">54kB</td>
   <td><tt>1a11779737197a388909a357678c79b644cb86f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-notes-16.11.80.tar.xz">akonadi-notes-16.11.80</a></td>
   <td align="right">18kB</td>
   <td><tt>67898d345dad1844e9e8fa703aa15a59c426d7f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akonadi-search-16.11.80.tar.xz">akonadi-search-16.11.80</a></td>
   <td align="right">70kB</td>
   <td><tt>40196cb4ec85cef16b73f5b33393751dca749297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/akregator-16.11.80.tar.xz">akregator-16.11.80</a></td>
   <td align="right">864kB</td>
   <td><tt>33d51cf42d2b310910c6c0b3fb045c996153b6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/analitza-16.11.80.tar.xz">analitza-16.11.80</a></td>
   <td align="right">228kB</td>
   <td><tt>95dc98651fc2b6225de45a030bbb680f5d6b90e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ark-16.11.80.tar.xz">ark-16.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>7eab37d0a8064a97163ba807e34b209959a330d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/artikulate-16.11.80.tar.xz">artikulate-16.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>fa75dac8da8af3ddc5a25a270d952d16c168dbc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/audiocd-kio-16.11.80.tar.xz">audiocd-kio-16.11.80</a></td>
   <td align="right">52kB</td>
   <td><tt>3bf6d02b05657db5be56645f536636fe16d4ae13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/baloo-widgets-16.11.80.tar.xz">baloo-widgets-16.11.80</a></td>
   <td align="right">55kB</td>
   <td><tt>c308d4bb93cfb46044a23b2baf9ce16ac1e8ea46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/blinken-16.11.80.tar.xz">blinken-16.11.80</a></td>
   <td align="right">549kB</td>
   <td><tt>2ab044f30209f157595426eecd954dfa055996f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/blogilo-16.11.80.tar.xz">blogilo-16.11.80</a></td>
   <td align="right">323kB</td>
   <td><tt>19497d70dbdd18969cf661850be11f3410a75571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/bomber-16.11.80.tar.xz">bomber-16.11.80</a></td>
   <td align="right">698kB</td>
   <td><tt>ee836e3ec7b306d3040a526e515acb75c60e6eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/bovo-16.11.80.tar.xz">bovo-16.11.80</a></td>
   <td align="right">135kB</td>
   <td><tt>49d4f66b72b307156c79757169567650c7af3061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/calendarsupport-16.11.80.tar.xz">calendarsupport-16.11.80</a></td>
   <td align="right">98kB</td>
   <td><tt>9aad7303e6320a3eeb459425cbc6db077b19e070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/cantor-16.11.80.tar.xz">cantor-16.11.80</a></td>
   <td align="right">368kB</td>
   <td><tt>5cedf8b109dc0946b4f38eb8fc769060583708d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/cervisia-16.11.80.tar.xz">cervisia-16.11.80</a></td>
   <td align="right">463kB</td>
   <td><tt>d5c1fbacb9cf4c5e08eae8098ed949017d326388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/dolphin-16.11.80.tar.xz">dolphin-16.11.80</a></td>
   <td align="right">660kB</td>
   <td><tt>b3c95f73c517ab86ad585d27f4e1d356441b8b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/dolphin-plugins-16.11.80.tar.xz">dolphin-plugins-16.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>6f0eae2f7bbaebb39c878744a9cdccf18451d782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/dragon-16.11.80.tar.xz">dragon-16.11.80</a></td>
   <td align="right">467kB</td>
   <td><tt>5b5742f127cb39756c9f99508ae2438475e1a7b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/eventviews-16.11.80.tar.xz">eventviews-16.11.80</a></td>
   <td align="right">143kB</td>
   <td><tt>3f161cc9f1256b63f8f1ead6bbedcb93098c59e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ffmpegthumbs-16.11.80.tar.xz">ffmpegthumbs-16.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>75496f8727a1a643957d8065e700804052d7f367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/filelight-16.11.80.tar.xz">filelight-16.11.80</a></td>
   <td align="right">206kB</td>
   <td><tt>35a28a7769433f699171e95e92196a7826766a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/granatier-16.11.80.tar.xz">granatier-16.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4b42a7917bc21ff010ad8af0c2f59d3edd5a9bd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/grantlee-editor-16.11.80.tar.xz">grantlee-editor-16.11.80</a></td>
   <td align="right">44kB</td>
   <td><tt>b87bd712d896f9d14e857992409fa382c189b449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/grantleetheme-16.11.80.tar.xz">grantleetheme-16.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>d7fb6b72fb2fbb6cb77c9412e7c092d60b2de777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/gwenview-16.11.80.tar.xz">gwenview-16.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9946e8405331838d5c2ab639cdf57466d3b9db9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/incidenceeditor-16.11.80.tar.xz">incidenceeditor-16.11.80</a></td>
   <td align="right">118kB</td>
   <td><tt>e617d9fe5fd25f8b00c82285fcf206a37ee2edce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/jovie-16.11.80.tar.xz">jovie-16.11.80</a></td>
   <td align="right">385kB</td>
   <td><tt>6bddbbfc1a407853fc3e801faf85dcefdf9e4f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/juk-16.11.80.tar.xz">juk-16.11.80</a></td>
   <td align="right">435kB</td>
   <td><tt>85c6821c7cff1b279ccc775afe8fc223cf2ce830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kaccessible-16.11.80.tar.xz">kaccessible-16.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>8ad298ce7f831b58deee2e0f74c5cac5d5cae376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kaccounts-integration-16.11.80.tar.xz">kaccounts-integration-16.11.80</a></td>
   <td align="right">45kB</td>
   <td><tt>4f4a637f1da53f3e71fe7f30183a7a141da6dc92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kaccounts-providers-16.11.80.tar.xz">kaccounts-providers-16.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>c5949daa8173106cf833c43775219fd195063ee2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kaddressbook-16.11.80.tar.xz">kaddressbook-16.11.80</a></td>
   <td align="right">160kB</td>
   <td><tt>df8a77fbb4aea7b11933938b28304e8c7188d033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kajongg-16.11.80.tar.xz">kajongg-16.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>53c64b20d0a330b2e283a732c09eecdc44402796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kalarm-16.11.80.tar.xz">kalarm-16.11.80</a></td>
   <td align="right">552kB</td>
   <td><tt>9cb291e361ee9dbc3b75ff88cdf2bd9ba4a5e05a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kalarmcal-16.11.80.tar.xz">kalarmcal-16.11.80</a></td>
   <td align="right">85kB</td>
   <td><tt>1ff78a8042716db16cfd3b4af76b510d0ca1fd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kalgebra-16.11.80.tar.xz">kalgebra-16.11.80</a></td>
   <td align="right">315kB</td>
   <td><tt>a0fd8855aab852bd1e9b377c68d0b17f6c5d9edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kalzium-16.11.80.tar.xz">kalzium-16.11.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>dffe51a0e2f58b1a3de5f9039466589c098b8c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kamera-16.11.80.tar.xz">kamera-16.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>fc6747b55768a205d781ca1d7f7c0656f7619ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kanagram-16.11.80.tar.xz">kanagram-16.11.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>46710c0b58f1e9bf47907f913be118ee872fa0be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kapman-16.11.80.tar.xz">kapman-16.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6b0c05ad94a603dc5a3f324b4401a6f19aa6fc5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kapptemplate-16.11.80.tar.xz">kapptemplate-16.11.80</a></td>
   <td align="right">474kB</td>
   <td><tt>29b115b1c616ea8a601674603d5f07511f3dcffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kate-16.11.80.tar.xz">kate-16.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e67a084bff40f6f8ef12cbafffdc21e4e014eab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/katomic-16.11.80.tar.xz">katomic-16.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7b03a2f14136b63a9725fca1fa5fbc8647427644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kblackbox-16.11.80.tar.xz">kblackbox-16.11.80</a></td>
   <td align="right">216kB</td>
   <td><tt>d2f4ea4c3df18dc721fa2f56d4fe93fc8485711f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kblocks-16.11.80.tar.xz">kblocks-16.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8a0dc2bc7dd5cb5345740e25e1132ee7f358931c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kblog-16.11.80.tar.xz">kblog-16.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>1f2a056f610b7ac1157ba1a70f740d7b1551a66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kbounce-16.11.80.tar.xz">kbounce-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>cfb245a9f51bca7e2d6fae9cae58cca1e580ed55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kbreakout-16.11.80.tar.xz">kbreakout-16.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>96c03655342c3904dbfb09b06f4ff741e5b55ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kbruch-16.11.80.tar.xz">kbruch-16.11.80</a></td>
   <td align="right">701kB</td>
   <td><tt>627915fb7fdbaba9da9dd1d884292785e288a19f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcachegrind-16.11.80.tar.xz">kcachegrind-16.11.80</a></td>
   <td align="right">234kB</td>
   <td><tt>4f6cfb3af069e59d0e3e08174f36c113b8ae39c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcalc-16.11.80.tar.xz">kcalc-16.11.80</a></td>
   <td align="right">82kB</td>
   <td><tt>c7ad79a3236112d58fd517e796949fae7cae9c04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcalcore-16.11.80.tar.xz">kcalcore-16.11.80</a></td>
   <td align="right">288kB</td>
   <td><tt>68c83c9db48477b4889f107eb5c4344b0183725f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcalutils-16.11.80.tar.xz">kcalutils-16.11.80</a></td>
   <td align="right">92kB</td>
   <td><tt>494ad24cdc4528754e1131342c33f94d91c2a34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcharselect-16.11.80.tar.xz">kcharselect-16.11.80</a></td>
   <td align="right">81kB</td>
   <td><tt>d5b0b683e284e81ccd348550d9594908925250c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcolorchooser-16.11.80.tar.xz">kcolorchooser-16.11.80</a></td>
   <td align="right">4kB</td>
   <td><tt>141aef8e01082729c764a6d9910a3fc72bf629c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcontacts-16.11.80.tar.xz">kcontacts-16.11.80</a></td>
   <td align="right">144kB</td>
   <td><tt>4c29f62e521797a198d7d6533f099acb632e1987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kcron-16.11.80.tar.xz">kcron-16.11.80</a></td>
   <td align="right">136kB</td>
   <td><tt>9ab60e7ad18d43a42f918fb474ecaaa8e869e8e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdebugsettings-16.11.80.tar.xz">kdebugsettings-16.11.80</a></td>
   <td align="right">28kB</td>
   <td><tt>1c9ce2b04d74f44f2d2f0ffc12b508504d31fe11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-dev-scripts-16.11.80.tar.xz">kde-dev-scripts-16.11.80</a></td>
   <td align="right">304kB</td>
   <td><tt>828dfa35c2464269a90a7720e71f954474f8b4cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-dev-utils-16.11.80.tar.xz">kde-dev-utils-16.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>f70c8c6aae2629d11d7b872372be472887a399ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdeedu-data-16.11.80.tar.xz">kdeedu-data-16.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>8ddc29dea67d387e515e7de26b733304bbad03ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdegraphics-mobipocket-16.11.80.tar.xz">kdegraphics-mobipocket-16.11.80</a></td>
   <td align="right">13kB</td>
   <td><tt>5012269192910babbf7613eb4aa41c1896c25b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdegraphics-thumbnailers-16.11.80.tar.xz">kdegraphics-thumbnailers-16.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>e31d3e668d17299d26ba65ef69db7e459d0de810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdenetwork-filesharing-16.11.80.tar.xz">kdenetwork-filesharing-16.11.80</a></td>
   <td align="right">27kB</td>
   <td><tt>51ca2a9bf1356f28ca1b5cec0ab7b99035e2e3b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdenlive-16.11.80.tar.xz">kdenlive-16.11.80</a></td>
   <td align="right">6.3MB</td>
   <td><tt>8f61a090034416cf6f11e3d3cadb2b174b5e2b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdepim-addons-16.11.80.tar.xz">kdepim-addons-16.11.80</a></td>
   <td align="right">319kB</td>
   <td><tt>41c3cc1b12eb7747348b913c5f2e9308d93ad556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdepim-apps-libs-16.11.80.tar.xz">kdepim-apps-libs-16.11.80</a></td>
   <td align="right">46kB</td>
   <td><tt>1b005bc2ccbaa64005d8e9ceed1cfcd71c46e1fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdepim-runtime-16.11.80.tar.xz">kdepim-runtime-16.11.80</a></td>
   <td align="right">720kB</td>
   <td><tt>2ae8a97b368310784acee615a0ac73593ae637a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-runtime-16.11.80.tar.xz">kde-runtime-16.11.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>319d795bc8e4cea9d4a031d0d2c51059f17ce45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdesdk-kioslaves-16.11.80.tar.xz">kdesdk-kioslaves-16.11.80</a></td>
   <td align="right">353kB</td>
   <td><tt>fb6980cafdec851ad94068889146a602ba497317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdesdk-thumbnailers-16.11.80.tar.xz">kdesdk-thumbnailers-16.11.80</a></td>
   <td align="right">11kB</td>
   <td><tt>4cbf5b192ec7fa271fb35bfda6c1bd7ff5ba34a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdf-16.11.80.tar.xz">kdf-16.11.80</a></td>
   <td align="right">140kB</td>
   <td><tt>6da911a412bdc1e4005450ddf36ff0e9fe20a737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdialog-16.11.80.tar.xz">kdialog-16.11.80</a></td>
   <td align="right">30kB</td>
   <td><tt>cf7a761504efea4151cb166d2a9d332a2029075d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kdiamond-16.11.80.tar.xz">kdiamond-16.11.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>e966993d632ce769e6158cbf50608a2a8510e419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/keditbookmarks-16.11.80.tar.xz">keditbookmarks-16.11.80</a></td>
   <td align="right">62kB</td>
   <td><tt>3e860e9c7359c1da0b8b95f0d2882d51debe279b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kfilereplace-16.11.80.tar.xz">kfilereplace-16.11.80</a></td>
   <td align="right">745kB</td>
   <td><tt>ae0b42866f63f3c1b38fdc21538dbc6c1a7faa10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kfind-16.11.80.tar.xz">kfind-16.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>861b71cca4dd0bdc0510b10ef74b35a57d08113e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kfloppy-16.11.80.tar.xz">kfloppy-16.11.80</a></td>
   <td align="right">52kB</td>
   <td><tt>80b1ddb1ca4aaee95e6a66dd085b05aaffd6d39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kfourinline-16.11.80.tar.xz">kfourinline-16.11.80</a></td>
   <td align="right">449kB</td>
   <td><tt>d33ab9b242b46d00e21daa5d4c057200c6804342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kgeography-16.11.80.tar.xz">kgeography-16.11.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>fffa47343dca22c850c0c78a75f17bee3fb65d06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kget-16.11.80.tar.xz">kget-16.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>68edbf311e944d87674b5127997511b61f782750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kgoldrunner-16.11.80.tar.xz">kgoldrunner-16.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>96fb712920c0e5d36d9a3d2eb596d1e0a2d3d262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kgpg-16.11.80.tar.xz">kgpg-16.11.80</a></td>
   <td align="right">798kB</td>
   <td><tt>389345972ca0cc333d45d64ef7d9067bf398d4f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/khangman-16.11.80.tar.xz">khangman-16.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3a1f627fdaa4559feb213022ef01f86c687d4142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/khelpcenter-16.11.80.tar.xz">khelpcenter-16.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>46b05e687071f94fdf81d9244ac0ab4c6789f88c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kholidays-16.11.80.tar.xz">kholidays-16.11.80</a></td>
   <td align="right">171kB</td>
   <td><tt>1eaa5c580a879ec5a6a49537f20c983d9ade7c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kidentitymanagement-16.11.80.tar.xz">kidentitymanagement-16.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>9b8d3d19012ad86be000fc5286d6ae7d6283890f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kig-16.11.80.tar.xz">kig-16.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>63d3aac27017a55305937f907c2822607a0f3675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kigo-16.11.80.tar.xz">kigo-16.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>81ecd2773ed85f751d6bc7d734e5ef68c8e3f85c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/killbots-16.11.80.tar.xz">killbots-16.11.80</a></td>
   <td align="right">941kB</td>
   <td><tt>19e3d2d3831c9b894990964cbb5f36fd8b46a8e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kimagemapeditor-16.11.80.tar.xz">kimagemapeditor-16.11.80</a></td>
   <td align="right">397kB</td>
   <td><tt>4cfcf1bdb1b5b5fc6b4965c85918aca3c7fdf1cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kimap-16.11.80.tar.xz">kimap-16.11.80</a></td>
   <td align="right">90kB</td>
   <td><tt>324711c7cbffac83ddb23e93ae03f0d823e434d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kio-extras-16.11.80.tar.xz">kio-extras-16.11.80</a></td>
   <td align="right">272kB</td>
   <td><tt>b910a1449d4ede3bfcbbac0ed42945c2330f0de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kiriki-16.11.80.tar.xz">kiriki-16.11.80</a></td>
   <td align="right">253kB</td>
   <td><tt>2b77f6d85c6da03fe793c060192859e5bf0c7c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kiten-16.11.80.tar.xz">kiten-16.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>657338f48526340d0a501879dbb4fd05d562deed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kjumpingcube-16.11.80.tar.xz">kjumpingcube-16.11.80</a></td>
   <td align="right">134kB</td>
   <td><tt>ba5c45c66a01a2b2143968a04400342553dcf2eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kldap-16.11.80.tar.xz">kldap-16.11.80</a></td>
   <td align="right">58kB</td>
   <td><tt>820f0e6b1eaba007b27a2fc75a8295e82c9b1b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kleopatra-16.11.80.tar.xz">kleopatra-16.11.80</a></td>
   <td align="right">693kB</td>
   <td><tt>d948ebc17567f3e1c8990a7f3baa58e7d2dc3803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/klettres-16.11.80.tar.xz">klettres-16.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>c53f17f948071d9d9704a8c762cdb11814d2e8a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/klickety-16.11.80.tar.xz">klickety-16.11.80</a></td>
   <td align="right">650kB</td>
   <td><tt>ab97355672cd8d3168886f86acfebbc4b0a41b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/klines-16.11.80.tar.xz">klines-16.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3167e72ec5c8bc61de1105ec59b6a9e29413418f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/klinkstatus-16.11.80.tar.xz">klinkstatus-16.11.80</a></td>
   <td align="right">440kB</td>
   <td><tt>25fa40d83cbcdd34588f7b4442e27b72ec785e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmag-16.11.80.tar.xz">kmag-16.11.80</a></td>
   <td align="right">84kB</td>
   <td><tt>585bdb814ffaeef32df01e3726af659d68f76531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmahjongg-16.11.80.tar.xz">kmahjongg-16.11.80</a></td>
   <td align="right">989kB</td>
   <td><tt>3f9b5a6063560f25fb163ef0b14daf3f2c844427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmail-16.11.80.tar.xz">kmail-16.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c84daaa1ec99a6891e3cc397bda11d30bfb85cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmail-account-wizard-16.11.80.tar.xz">kmail-account-wizard-16.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>8fccca458b5bb403c4e6a93f63976b485a0e9982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmailtransport-16.11.80.tar.xz">kmailtransport-16.11.80</a></td>
   <td align="right">89kB</td>
   <td><tt>5f929df604d0f012d5e458ef7666c40af757d176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmbox-16.11.80.tar.xz">kmbox-16.11.80</a></td>
   <td align="right">23kB</td>
   <td><tt>8799b2a86cc91f844dd0a4ff9b0d03e349d8ba83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmime-16.11.80.tar.xz">kmime-16.11.80</a></td>
   <td align="right">119kB</td>
   <td><tt>f72b117663c77129d6545083b21369ea38d8da9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmines-16.11.80.tar.xz">kmines-16.11.80</a></td>
   <td align="right">647kB</td>
   <td><tt>c030548ca74443e9a6eb58cc94b051cacd2cfd67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmix-16.11.80.tar.xz">kmix-16.11.80</a></td>
   <td align="right">379kB</td>
   <td><tt>4cf3dedb8a561bd80521ff4ae3da521f9f9725bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmousetool-16.11.80.tar.xz">kmousetool-16.11.80</a></td>
   <td align="right">35kB</td>
   <td><tt>6b4d06106d4d14673fc8200ced36cb1383a58a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmouth-16.11.80.tar.xz">kmouth-16.11.80</a></td>
   <td align="right">271kB</td>
   <td><tt>f245c15ea1d317cd2661be1872e7c8fbb8b86a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kmplot-16.11.80.tar.xz">kmplot-16.11.80</a></td>
   <td align="right">558kB</td>
   <td><tt>926c43b4ae0e79f0b77ca81769d81dd3e9ca5da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/knavalbattle-16.11.80.tar.xz">knavalbattle-16.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>17fbd121697c9b27590b1096cdafcebb6cc0f777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/knetwalk-16.11.80.tar.xz">knetwalk-16.11.80</a></td>
   <td align="right">883kB</td>
   <td><tt>3272f6465edd315324343b83f869d8e68a1f9051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/knotes-16.11.80.tar.xz">knotes-16.11.80</a></td>
   <td align="right">159kB</td>
   <td><tt>8e0dbe746c1e5079e65617c344378ead6a70bb26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kolf-16.11.80.tar.xz">kolf-16.11.80</a></td>
   <td align="right">751kB</td>
   <td><tt>fce2b1030119af8d84b31dd156a128fc7b9dd058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kollision-16.11.80.tar.xz">kollision-16.11.80</a></td>
   <td align="right">221kB</td>
   <td><tt>8a59cb09c0e606671e795126679058f0b53d3b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kolourpaint-16.11.80.tar.xz">kolourpaint-16.11.80</a></td>
   <td align="right">858kB</td>
   <td><tt>357adb1f24efed1ba2127d2f8c0ee3d55a1e6ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kommander-16.11.80.tar.xz">kommander-16.11.80</a></td>
   <td align="right">925kB</td>
   <td><tt>d3676a5d6da8b2a654650551364b87aed13e75ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kompare-16.11.80.tar.xz">kompare-16.11.80</a></td>
   <td align="right">231kB</td>
   <td><tt>1fc61ce3473a6ba3354054a5bdf4c52da4853ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/konqueror-16.11.80.tar.xz">konqueror-16.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f0515deccaf47704a47bd95cb7daebe4486a9de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/konquest-16.11.80.tar.xz">konquest-16.11.80</a></td>
   <td align="right">396kB</td>
   <td><tt>bf6cbf6c634dae37a75c09fac334ba3e01f99414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/konsole-16.11.80.tar.xz">konsole-16.11.80</a></td>
   <td align="right">452kB</td>
   <td><tt>161e7af951a1e8a06c45f2a73c8ac537bd552015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kontact-16.11.80.tar.xz">kontact-16.11.80</a></td>
   <td align="right">804kB</td>
   <td><tt>26ba435067350e2b82a2d80ca092575dfcbc4b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kontactinterface-16.11.80.tar.xz">kontactinterface-16.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>cfdd3e85293ee274eb86571b5834104ea6b1ac38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kopete-16.11.80.tar.xz">kopete-16.11.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>0ff77bf64b1e3fbf956a72b19ac9cc2ce5c47003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/korganizer-16.11.80.tar.xz">korganizer-16.11.80</a></td>
   <td align="right">811kB</td>
   <td><tt>522a812d427c97037cf82398d6bf1c0e03a79863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kpat-16.11.80.tar.xz">kpat-16.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>a6792e3864eed1ff1df7bcf7049580e00ffc8d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kpimtextedit-16.11.80.tar.xz">kpimtextedit-16.11.80</a></td>
   <td align="right">77kB</td>
   <td><tt>1d157190fce9c19f26360c578906279317724f0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kppp-16.11.80.tar.xz">kppp-16.11.80</a></td>
   <td align="right">684kB</td>
   <td><tt>1dc3fec2d8c6d464379ecb3358b42e685849ddca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kqtquickcharts-16.11.80.tar.xz">kqtquickcharts-16.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>434ed08839b66a32c5192a8ef5c738849419486e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/krdc-16.11.80.tar.xz">krdc-16.11.80</a></td>
   <td align="right">284kB</td>
   <td><tt>0171aa4989bfa33d15c3f94be3f4b0f64b3ca486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kremotecontrol-16.11.80.tar.xz">kremotecontrol-16.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>574a4cf978c5b52a9a7188fbf448e4dd2126f5b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kreversi-16.11.80.tar.xz">kreversi-16.11.80</a></td>
   <td align="right">463kB</td>
   <td><tt>8ed5773c4177a58c3f89e7f8374637b79d2f1024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/krfb-16.11.80.tar.xz">krfb-16.11.80</a></td>
   <td align="right">161kB</td>
   <td><tt>d20cb544fffd419d1b7c6fd2be96fda18c2e0073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kross-interpreters-16.11.80.tar.xz">kross-interpreters-16.11.80</a></td>
   <td align="right">141kB</td>
   <td><tt>26148fd2a8e203d8d63efac2c13d44f0a4b1f0c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kruler-16.11.80.tar.xz">kruler-16.11.80</a></td>
   <td align="right">122kB</td>
   <td><tt>c6106ab97824fb151c80b58da9db161391d9918f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ksaneplugin-16.11.80.tar.xz">ksaneplugin-16.11.80</a></td>
   <td align="right">12kB</td>
   <td><tt>f5652a493b4c378d1af5eb3ba82b9f28a202d920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kscd-16.11.80.tar.xz">kscd-16.11.80</a></td>
   <td align="right">90kB</td>
   <td><tt>669be38745aa18daea870664702068461d788626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kshisen-16.11.80.tar.xz">kshisen-16.11.80</a></td>
   <td align="right">336kB</td>
   <td><tt>51c82c150bbd41bd9e12b189e9c568eafcfb9669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ksirk-16.11.80.tar.xz">ksirk-16.11.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>ae21503efa3cb39ec10c2e2903523fac04c50515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ksnakeduel-16.11.80.tar.xz">ksnakeduel-16.11.80</a></td>
   <td align="right">291kB</td>
   <td><tt>7bd653dbd72aeb4f1803d74d9b1e4eeeb10e314f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kspaceduel-16.11.80.tar.xz">kspaceduel-16.11.80</a></td>
   <td align="right">247kB</td>
   <td><tt>a1d22d2020e63395417b14452918b0a66f54f6b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ksquares-16.11.80.tar.xz">ksquares-16.11.80</a></td>
   <td align="right">133kB</td>
   <td><tt>dc5cae7862ab8d24c5eaab1a0ac2d2a212cc520b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kstars-16.11.80.tar.xz">kstars-16.11.80</a></td>
   <td align="right">37MB</td>
   <td><tt>4f2b41045784206e6db646e409d2f3bbf4f7368d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ksudoku-16.11.80.tar.xz">ksudoku-16.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9fa6e7bda90da96a359958ba89451e3a4dbd8791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ksystemlog-16.11.80.tar.xz">ksystemlog-16.11.80</a></td>
   <td align="right">342kB</td>
   <td><tt>f82fb1f891eb3424a5c5928cad9c7b61cccffeef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kteatime-16.11.80.tar.xz">kteatime-16.11.80</a></td>
   <td align="right">88kB</td>
   <td><tt>d8818db97b5e94bb56a2ad380ddf4c82cdf0f467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktimer-16.11.80.tar.xz">ktimer-16.11.80</a></td>
   <td align="right">157kB</td>
   <td><tt>be9b15b9e12a5dd54c5510a573b0fc59da020479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktnef-16.11.80.tar.xz">ktnef-16.11.80</a></td>
   <td align="right">227kB</td>
   <td><tt>5fd5d6764494ea7af23d65783f30b3d5f1ac10ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktouch-16.11.80.tar.xz">ktouch-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4f51c72bdfc3c504080fe7cef3ce1889bc5eae79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-accounts-kcm-16.11.80.tar.xz">ktp-accounts-kcm-16.11.80</a></td>
   <td align="right">87kB</td>
   <td><tt>0ed4ede08c3c94c65e96680f2369d407725d30de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-approver-16.11.80.tar.xz">ktp-approver-16.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>0e5e161016a24c8748b5ff6ee35ce57a5a14cfef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-auth-handler-16.11.80.tar.xz">ktp-auth-handler-16.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>d01e75b1049190641380bd19646021ff77d411df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-call-ui-16.11.80.tar.xz">ktp-call-ui-16.11.80</a></td>
   <td align="right">44kB</td>
   <td><tt>cb73b38a3c183973e566f998fb33b63e06b1583c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-common-internals-16.11.80.tar.xz">ktp-common-internals-16.11.80</a></td>
   <td align="right">309kB</td>
   <td><tt>ea91eae7d22a717992cdf786004360b20623b235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-contact-list-16.11.80.tar.xz">ktp-contact-list-16.11.80</a></td>
   <td align="right">47kB</td>
   <td><tt>9c5784c810eb724dd2c4f6f2872340d6d1274bf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-contact-runner-16.11.80.tar.xz">ktp-contact-runner-16.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>8112c754a632fbfd5b425c63d50b5b54ac9568af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-desktop-applets-16.11.80.tar.xz">ktp-desktop-applets-16.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>53e70d1b1b57ad70776d5a8240eea0f68b806b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-filetransfer-handler-16.11.80.tar.xz">ktp-filetransfer-handler-16.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>e4399d066300b4f408dbd3138329e83f07fa42d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-kded-module-16.11.80.tar.xz">ktp-kded-module-16.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>6a73fcee9ebcf289fd53764b819188bf45905c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-send-file-16.11.80.tar.xz">ktp-send-file-16.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>82bbd74731b232c5473e78f09de4f5c03ddddfa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktp-text-ui-16.11.80.tar.xz">ktp-text-ui-16.11.80</a></td>
   <td align="right">288kB</td>
   <td><tt>9a1849d658523d41aa04f6fa1ba3555ebe9f6638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/ktuberling-16.11.80.tar.xz">ktuberling-16.11.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>32d804f0722193abecc7b7c566db668a1cb24bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kturtle-16.11.80.tar.xz">kturtle-16.11.80</a></td>
   <td align="right">192kB</td>
   <td><tt>d75fa8f67d1f34eb9a59180e6ad6c2f9b78b657f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kubrick-16.11.80.tar.xz">kubrick-16.11.80</a></td>
   <td align="right">105kB</td>
   <td><tt>53494827ae9ef20709985716ef75c65283dfea5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kwalletmanager-16.11.80.tar.xz">kwalletmanager-16.11.80</a></td>
   <td align="right">372kB</td>
   <td><tt>b66001d09bf1ccc58cf85334b8568c554add6fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kwave-16.11.80.tar.xz">kwave-16.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ee2d43c518c32280cc412b83a286ba03720c997c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kwordquiz-16.11.80.tar.xz">kwordquiz-16.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b275a21961250fc5d68a0da75edb95b80f6460ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libgravatar-16.11.80.tar.xz">libgravatar-16.11.80</a></td>
   <td align="right">21kB</td>
   <td><tt>85f9ecfcdccc09f316da84178e09ace0e02529b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkcddb-16.11.80.tar.xz">libkcddb-16.11.80</a></td>
   <td align="right">155kB</td>
   <td><tt>3008c811a8b36cf8f843f6d8a0beb012b7a4e9ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkcompactdisc-16.11.80.tar.xz">libkcompactdisc-16.11.80</a></td>
   <td align="right">75kB</td>
   <td><tt>453fe3815644d2d2e8b6d809029392719ef761a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkdcraw-16.11.80.tar.xz">libkdcraw-16.11.80</a></td>
   <td align="right">41kB</td>
   <td><tt>330a631dfc0b0275e8177482e478ed8444817d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkdegames-16.11.80.tar.xz">libkdegames-16.11.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>bdc867d5d6105962a409fb28e700c9de6774f67e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkdepim-16.11.80.tar.xz">libkdepim-16.11.80</a></td>
   <td align="right">112kB</td>
   <td><tt>a72c3335c98c4859d89762b2ba1d13e2ce2911c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkeduvocdocument-16.11.80.tar.xz">libkeduvocdocument-16.11.80</a></td>
   <td align="right">89kB</td>
   <td><tt>4caeeeef05993f52780a415e76dba27b8c9c1e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkexiv2-16.11.80.tar.xz">libkexiv2-16.11.80</a></td>
   <td align="right">63kB</td>
   <td><tt>3deafc2282099948325039f6383e00b5390037e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkface-16.11.80.tar.xz">libkface-16.11.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>624364342f8cc834c711dcc7fb3e30be790e610a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkgeomap-16.11.80.tar.xz">libkgeomap-16.11.80</a></td>
   <td align="right">122kB</td>
   <td><tt>38f089fc4e572f5f0e9c7bfb65109771baf0c962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkipi-16.11.80.tar.xz">libkipi-16.11.80</a></td>
   <td align="right">101kB</td>
   <td><tt>76570f62777e834174ad5ed7d2bccea8f60aa264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkleo-16.11.80.tar.xz">libkleo-16.11.80</a></td>
   <td align="right">127kB</td>
   <td><tt>4e9317ed377475ba3772e41c6c65cda1ff26b2a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkmahjongg-16.11.80.tar.xz">libkmahjongg-16.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2796aeea58e859b63d6ea6e217b258996a0f8e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libkomparediff2-16.11.80.tar.xz">libkomparediff2-16.11.80</a></td>
   <td align="right">55kB</td>
   <td><tt>3d29cbeb63eaa430ea6aad2ad6812be32c59a93e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libksane-16.11.80.tar.xz">libksane-16.11.80</a></td>
   <td align="right">79kB</td>
   <td><tt>30228441df5542759076513854cbfaa27e68047e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/libksieve-16.11.80.tar.xz">libksieve-16.11.80</a></td>
   <td align="right">166kB</td>
   <td><tt>61649062a2e155ba0b1532ef24ce87c1df29316a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/lokalize-16.11.80.tar.xz">lokalize-16.11.80</a></td>
   <td align="right">936kB</td>
   <td><tt>d07953c6213eaf84c60518c5fac96135c66ed747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/lskat-16.11.80.tar.xz">lskat-16.11.80</a></td>
   <td align="right">906kB</td>
   <td><tt>b4ab7549aebce26db1e0e64f0e1dbd0d99a914d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/mailcommon-16.11.80.tar.xz">mailcommon-16.11.80</a></td>
   <td align="right">184kB</td>
   <td><tt>cae572a0bf71c611ac800b7d21180ad9244e6017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/mailimporter-16.11.80.tar.xz">mailimporter-16.11.80</a></td>
   <td align="right">373kB</td>
   <td><tt>8d21a74a96bcb1a42f9f93d68155b3999dbaa8c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/marble-16.11.80.tar.xz">marble-16.11.80</a></td>
   <td align="right">22MB</td>
   <td><tt>ec37872de600a6594b35a372935ce894c113c3a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/mbox-importer-16.11.80.tar.xz">mbox-importer-16.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>65a8bfb3620639dec878dcd9af03c3f41cfe54c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/messagelib-16.11.80.tar.xz">messagelib-16.11.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>27716d0806a38a0eedc4f3eb498f8baad1d37bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/minuet-16.11.80.tar.xz">minuet-16.11.80</a></td>
   <td align="right">25MB</td>
   <td><tt>592222f8d058fcca7c7f115b39e0d6b1960302b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/okteta-16.11.80.tar.xz">okteta-16.11.80</a></td>
   <td align="right">495kB</td>
   <td><tt>e87cf6ce96ddd4990e65752d73abe5c16c20fac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/okular-16.11.80.tar.xz">okular-16.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>813e554f0ac923f8848a4d7d5e14a82df44e0fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/palapeli-16.11.80.tar.xz">palapeli-16.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>780133da035d0f81f2bd2dd6b57a0c71bc3ee764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/parley-16.11.80.tar.xz">parley-16.11.80</a></td>
   <td align="right">5.0MB</td>
   <td><tt>c5a5b36eea97d45b4eb2e9a76afccc9afa8b3f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/picmi-16.11.80.tar.xz">picmi-16.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e8b4fff954d64da5a9cb67a625a9272c02f46eef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/pimcommon-16.11.80.tar.xz">pimcommon-16.11.80</a></td>
   <td align="right">155kB</td>
   <td><tt>455480954b0018e8dde3444d7a6e19555a58d31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/pim-data-exporter-16.11.80.tar.xz">pim-data-exporter-16.11.80</a></td>
   <td align="right">100kB</td>
   <td><tt>fc7f8efffa4e17e79adba92fdfbf5c7b345db8a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/pim-sieve-editor-16.11.80.tar.xz">pim-sieve-editor-16.11.80</a></td>
   <td align="right">308kB</td>
   <td><tt>2477ccce632c9c484c50f60680974623f1f286e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/pim-storage-service-manager-16.11.80.tar.xz">pim-storage-service-manager-16.11.80</a></td>
   <td align="right">35kB</td>
   <td><tt>9d346035568fcaf17876003655ca3a1fc2076710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/poxml-16.11.80.tar.xz">poxml-16.11.80</a></td>
   <td align="right">31kB</td>
   <td><tt>9bbf87ca456920e58824cca66a8c3dc401ebfb1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/print-manager-16.11.80.tar.xz">print-manager-16.11.80</a></td>
   <td align="right">92kB</td>
   <td><tt>dab64408ec76955d6de9f958d3e455fec428be65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/rocs-16.11.80.tar.xz">rocs-16.11.80</a></td>
   <td align="right">520kB</td>
   <td><tt>0c2bb7353bcb44eda540510f06bbae2cb62bd0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/signon-kwallet-extension-16.11.80.tar.xz">signon-kwallet-extension-16.11.80</a></td>
   <td align="right">10kB</td>
   <td><tt>9d95a9bf67ceed331e3560cbec3b72ab69994af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/spectacle-16.11.80.tar.xz">spectacle-16.11.80</a></td>
   <td align="right">979kB</td>
   <td><tt>7edb4201263aff633bc75e072598fb83d1d219ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/step-16.11.80.tar.xz">step-16.11.80</a></td>
   <td align="right">380kB</td>
   <td><tt>cb38e1f1e0efa1c1de59465638ac71432c31988c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/svgpart-16.11.80.tar.xz">svgpart-16.11.80</a></td>
   <td align="right">8kB</td>
   <td><tt>a7727c811f618811619bfbd9d117d6367a40ec20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/sweeper-16.11.80.tar.xz">sweeper-16.11.80</a></td>
   <td align="right">80kB</td>
   <td><tt>b4c98f80dc89e9a5c7736d8ab5dffb6534ce39e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/syndication-16.11.80.tar.xz">syndication-16.11.80</a></td>
   <td align="right">156kB</td>
   <td><tt>868dc31c5a1331af3c30152b91a30f286100d964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/umbrello-16.11.80.tar.xz">umbrello-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>53822c35da02585ba2bd07254e6b01040a6e3f69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/zeroconf-ioslave-16.11.80.tar.xz">zeroconf-ioslave-16.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>ab66cf936a504dc51256cfba671d16cc52fb0efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ar-16.11.80.tar.xz">kde-l10n-ar-16.11.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>bdec3048c253ef3f7e0b71d89d7b95f5b1d30ae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ast-16.11.80.tar.xz">kde-l10n-ast-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e9c36cd732b0843aca1cbe03ab538562a5824821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-bg-16.11.80.tar.xz">kde-l10n-bg-16.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>38db12a9ae9ccaafdcb3a032279713d08e0f930a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-bs-16.11.80.tar.xz">kde-l10n-bs-16.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a5df069ebe4391b6b642e43b95e9ae0056747a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ca-16.11.80.tar.xz">kde-l10n-ca-16.11.80</a></td>
   <td align="right">19MB</td>
   <td><tt>4f29a13e1de8670eb3a32e7bf6b00dfb73c8ba62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ca@valencia-16.11.80.tar.xz">kde-l10n-ca@valencia-16.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>59d4b2b3620a6c9aad0cacd415b11d1ee83cf4b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-cs-16.11.80.tar.xz">kde-l10n-cs-16.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d11404d56f08fdefd7db90fda6771f00fb48ca97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-da-16.11.80.tar.xz">kde-l10n-da-16.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>9b5ed8f0bc5b9d31350c7f317b3b2e11c42d840f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-de-16.11.80.tar.xz">kde-l10n-de-16.11.80</a></td>
   <td align="right">30MB</td>
   <td><tt>a06d4423c40356cb170cd58c3ec2949fa79fd4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-el-16.11.80.tar.xz">kde-l10n-el-16.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>874c02a02d2699253036f35f6584b7872290a890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-en_GB-16.11.80.tar.xz">kde-l10n-en_GB-16.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>c0ad2acacdc07a331c16523cddd1f5f3aac270c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-eo-16.11.80.tar.xz">kde-l10n-eo-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>369649a32de7796563187d94a23ca651c3c5e6a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-es-16.11.80.tar.xz">kde-l10n-es-16.11.80</a></td>
   <td align="right">16MB</td>
   <td><tt>82b08909eb47c9a78fdeaaff1f267bba871935a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-et-16.11.80.tar.xz">kde-l10n-et-16.11.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>4f3de1ca8128eab7b3e22fe59acc812ad173da6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-eu-16.11.80.tar.xz">kde-l10n-eu-16.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b36090773f1f4cb29666a43274824e7692c27545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-fa-16.11.80.tar.xz">kde-l10n-fa-16.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>38870dd0a08f12bf854b498c751d61b30f7f9d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-fi-16.11.80.tar.xz">kde-l10n-fi-16.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>882cda2020653f3f0f5fe48ba27fba3d0cd90446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-fr-16.11.80.tar.xz">kde-l10n-fr-16.11.80</a></td>
   <td align="right">29MB</td>
   <td><tt>95525597b89f859acd4f1d122c2fa451777dc339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ga-16.11.80.tar.xz">kde-l10n-ga-16.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>68fe4e28dfe9d8d8ad98b80f14ecd8dc2cd413d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-gl-16.11.80.tar.xz">kde-l10n-gl-16.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f5f2128404370fe528d0a290502228329248b97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-he-16.11.80.tar.xz">kde-l10n-he-16.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>714181555bc7c073a5a9db9fee4d97d71f16f377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-hi-16.11.80.tar.xz">kde-l10n-hi-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>1c7a4adde8e24e4b87990627fd95d29e1afd0efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-hr-16.11.80.tar.xz">kde-l10n-hr-16.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4b7d8f00fcab1a55ebd89cf2c6178ac3c0e78407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-hu-16.11.80.tar.xz">kde-l10n-hu-16.11.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>a1be172aea70b61b2dcb601befe21c1f0f2104d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ia-16.11.80.tar.xz">kde-l10n-ia-16.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0a92c864b122d6da2488d567a9c395af8d17534a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-id-16.11.80.tar.xz">kde-l10n-id-16.11.80</a></td>
   <td align="right">374kB</td>
   <td><tt>72eda45d0523d19713988a043ec49998fc1fa77a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-is-16.11.80.tar.xz">kde-l10n-is-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d8a9abd5be91e1c88038775c755b0f79cd61850f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-it-16.11.80.tar.xz">kde-l10n-it-16.11.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>890dc8b96f12891f08e4c8317fa19a668dc7b415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ja-16.11.80.tar.xz">kde-l10n-ja-16.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9c5499a3bcffb24569e7ad03fa047cb9d33f86b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-kk-16.11.80.tar.xz">kde-l10n-kk-16.11.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5bd911e7f3d960db41bd6608389f635e8a145c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-km-16.11.80.tar.xz">kde-l10n-km-16.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>604add871a70e9dc3622cdc76cb4ffe531911d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ko-16.11.80.tar.xz">kde-l10n-ko-16.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d048d2d3caf85f74961dd304fb96f0901012fab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-lt-16.11.80.tar.xz">kde-l10n-lt-16.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>ca7579fb8d4dd10a80551621de4ff956eb46dc65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-lv-16.11.80.tar.xz">kde-l10n-lv-16.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>71d7ad08cb2bbb7ec97ad257a62cb7c46e012bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-mr-16.11.80.tar.xz">kde-l10n-mr-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>69661b4cf5e344332258205f2edd24b0da52ff0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-nb-16.11.80.tar.xz">kde-l10n-nb-16.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>53ff118b79dfb1722184d6b676b4cac826eb556a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-nds-16.11.80.tar.xz">kde-l10n-nds-16.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>1c08284103755ea9a7c1c2a95b7d7a21969e8a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-nl-16.11.80.tar.xz">kde-l10n-nl-16.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>761a387ce5f4782788afa9b2006a888c56031113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-nn-16.11.80.tar.xz">kde-l10n-nn-16.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a65d216af60fcace53632d2f4492630c8a34612a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-pa-16.11.80.tar.xz">kde-l10n-pa-16.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>489d94a0a399424d0ab88886ba1b1d5767d15e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-pl-16.11.80.tar.xz">kde-l10n-pl-16.11.80</a></td>
   <td align="right">14MB</td>
   <td><tt>f3fc2d294550234ebd1f16fd95697b8243450e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-pt-16.11.80.tar.xz">kde-l10n-pt-16.11.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>36016e8029b52d2fe32e0c75dd6b63b9f9d54958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-pt_BR-16.11.80.tar.xz">kde-l10n-pt_BR-16.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>53a2d6aa6d170c36952d373dac7128004762a32c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ro-16.11.80.tar.xz">kde-l10n-ro-16.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>889902c18831e4561ec0a74008c0443806f22195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ru-16.11.80.tar.xz">kde-l10n-ru-16.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>e6b1d16fa8cda0693a0ff43c21194cf04e70849c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-sk-16.11.80.tar.xz">kde-l10n-sk-16.11.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>dcfa9f1f479bdf828739e516387c9ae54def62ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-sl-16.11.80.tar.xz">kde-l10n-sl-16.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>4117c704dd5f4344eb6249e114c33550bcc3d9e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-sr-16.11.80.tar.xz">kde-l10n-sr-16.11.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>b74fce8976925e34f0613b6658093bac8afefe24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-sv-16.11.80.tar.xz">kde-l10n-sv-16.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>9e297cc886c8d83822f212863c4120c15e096deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-tr-16.11.80.tar.xz">kde-l10n-tr-16.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5b65f86f0e57da166a77bac9b8601b49a6710a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-ug-16.11.80.tar.xz">kde-l10n-ug-16.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bf7711215c999f06d4a9826ca9ec44dcceb01cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-uk-16.11.80.tar.xz">kde-l10n-uk-16.11.80</a></td>
   <td align="right">22MB</td>
   <td><tt>b12d503763a1d202815e317d88a9b083a3d47a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-wa-16.11.80.tar.xz">kde-l10n-wa-16.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>19770569fe105a5e63b4bcb90dbf55b6d98ffe9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-zh_CN-16.11.80.tar.xz">kde-l10n-zh_CN-16.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>e63c2b198d01d6af22e406eba04f4fce92a536d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.80/src/kde-l10n/kde-l10n-zh_TW-16.11.80.tar.xz">kde-l10n-zh_TW-16.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>370bbb63a637436464b19e9a75698ea1f93b6400</tt></td>
</tr>

</table>
