<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-19.03.90.tar.xz">akonadi-19.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3ec0e64a3df071ca0204847afb05f5b0e3c57882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-calendar-19.03.90.tar.xz">akonadi-calendar-19.03.90</a></td>
   <td align="right">325kB</td>
   <td><tt>6b57811d2db587eb12f7de1737cd8bd4e6cfbde9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-calendar-tools-19.03.90.tar.xz">akonadi-calendar-tools-19.03.90</a></td>
   <td align="right">218kB</td>
   <td><tt>fdc5e21f62f517208da59f9a86a5ad6c4e986ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadiconsole-19.03.90.tar.xz">akonadiconsole-19.03.90</a></td>
   <td align="right">189kB</td>
   <td><tt>12883b24644a53ea6778019c39b71c27e0ce2cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-contacts-19.03.90.tar.xz">akonadi-contacts-19.03.90</a></td>
   <td align="right">381kB</td>
   <td><tt>78a1451bb2e60546ebb6d21623f3e9391f7b0a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-import-wizard-19.03.90.tar.xz">akonadi-import-wizard-19.03.90</a></td>
   <td align="right">429kB</td>
   <td><tt>ccf46897420504aa4986842b4958e4178a0de7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-mime-19.03.90.tar.xz">akonadi-mime-19.03.90</a></td>
   <td align="right">133kB</td>
   <td><tt>11095b2c4adacd5f6fe2fa0edc9ebea065910e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-notes-19.03.90.tar.xz">akonadi-notes-19.03.90</a></td>
   <td align="right">23kB</td>
   <td><tt>c06583d5bcdc25a36b4c7ea12e962cde50859988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akonadi-search-19.03.90.tar.xz">akonadi-search-19.03.90</a></td>
   <td align="right">80kB</td>
   <td><tt>34bc93d65d37392d93e62af206c885d93d144238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/akregator-19.03.90.tar.xz">akregator-19.03.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c9f2d5bae2ad5f00b66949232e066eac908e77f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/analitza-19.03.90.tar.xz">analitza-19.03.90</a></td>
   <td align="right">324kB</td>
   <td><tt>545402fb735c398e124b54f4d6b22c4ddbf91f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ark-19.03.90.tar.xz">ark-19.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e000063731c0703bf0bf0d038c7f9daf55918578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/artikulate-19.03.90.tar.xz">artikulate-19.03.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>008a345c1367f26ea76cbe7f96418e6174ffbeae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/audiocd-kio-19.03.90.tar.xz">audiocd-kio-19.03.90</a></td>
   <td align="right">345kB</td>
   <td><tt>4dd713e07e2e541c1a525a548e4304e8a4c21817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/baloo-widgets-19.03.90.tar.xz">baloo-widgets-19.03.90</a></td>
   <td align="right">242kB</td>
   <td><tt>961b59703de3e1406e6283a30c1325461c5837e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/blinken-19.03.90.tar.xz">blinken-19.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5cbd9edddcb10eada1b3c643debed9b0a1c8cedc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/bomber-19.03.90.tar.xz">bomber-19.03.90</a></td>
   <td align="right">800kB</td>
   <td><tt>06522286a0a7b4800faeeb4a810a6f0ab8ca8546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/bovo-19.03.90.tar.xz">bovo-19.03.90</a></td>
   <td align="right">194kB</td>
   <td><tt>4283096f8757d4fe44db8279b99c79a7f7b355e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/calendarsupport-19.03.90.tar.xz">calendarsupport-19.03.90</a></td>
   <td align="right">631kB</td>
   <td><tt>ae4f3bfb884aebd6a9ff4de3a1e24092340456a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/cantor-19.03.90.tar.xz">cantor-19.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9ef39114f723f620f3ade5ee2717156db55e509d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/cervisia-19.03.90.tar.xz">cervisia-19.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4dd4a2fe296be42361a7c7bcf21b686621d423ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/dolphin-19.03.90.tar.xz">dolphin-19.03.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>9e62200b525789b9fe9dae275db373fa64250d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/dolphin-plugins-19.03.90.tar.xz">dolphin-plugins-19.03.90</a></td>
   <td align="right">187kB</td>
   <td><tt>771333f7dcea93f8a9c00210d9675e242d78acdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/dragon-19.03.90.tar.xz">dragon-19.03.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b9e6e0065e7d84f6196e9393eb340dc088ccab5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/eventviews-19.03.90.tar.xz">eventviews-19.03.90</a></td>
   <td align="right">433kB</td>
   <td><tt>da385c478357882a2a2aebb4dd12a4ea2ea0d78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ffmpegthumbs-19.03.90.tar.xz">ffmpegthumbs-19.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>489b91c5d0d1c0d1bd5f212b46d67e3c5d72e84a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/filelight-19.03.90.tar.xz">filelight-19.03.90</a></td>
   <td align="right">645kB</td>
   <td><tt>eb3d34b36dadedfcd911a263aad36e61bb0b5fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/granatier-19.03.90.tar.xz">granatier-19.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>45340dbb834bff87ec3e05709dbc5796223e53cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/grantlee-editor-19.03.90.tar.xz">grantlee-editor-19.03.90</a></td>
   <td align="right">108kB</td>
   <td><tt>4879e4ce1627a8827a079d8993a3d8f31df112d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/grantleetheme-19.03.90.tar.xz">grantleetheme-19.03.90</a></td>
   <td align="right">50kB</td>
   <td><tt>14025231d43ecb470629c793b0b45a1d204b1e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/gwenview-19.03.90.tar.xz">gwenview-19.03.90</a></td>
   <td align="right">5.4MB</td>
   <td><tt>0c12c12dc46f0723ebc480fb2f06dda6b4abf423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/incidenceeditor-19.03.90.tar.xz">incidenceeditor-19.03.90</a></td>
   <td align="right">537kB</td>
   <td><tt>0f52bc81095403bd6dcae523d773f2c101f53427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/juk-19.03.90.tar.xz">juk-19.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>eb59c9b72f811e9d91042458f6355720d0c16580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/k3b-19.03.90.tar.xz">k3b-19.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>6372749c362dccc9424809524fe5093b32bfbf65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kaccounts-integration-19.03.90.tar.xz">kaccounts-integration-19.03.90</a></td>
   <td align="right">69kB</td>
   <td><tt>688cd6a089d87537cfc075ab2901031b12ebb7c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kaccounts-providers-19.03.90.tar.xz">kaccounts-providers-19.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>147bc115f966e0e2f053caa29e8226c9e9d555ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kaddressbook-19.03.90.tar.xz">kaddressbook-19.03.90</a></td>
   <td align="right">461kB</td>
   <td><tt>1807773b3feb742f9d7f13ff1639f68c087a869c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kajongg-19.03.90.tar.xz">kajongg-19.03.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>81d698c24e6c72d907fc64659d7259fae7c27bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kalarm-19.03.90.tar.xz">kalarm-19.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5f11ab7a0eaabd5ea453751fc04076cb28d90605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kalarmcal-19.03.90.tar.xz">kalarmcal-19.03.90</a></td>
   <td align="right">559kB</td>
   <td><tt>eedd5e289295ec2c25c23daec1144c01c0796a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kalgebra-19.03.90.tar.xz">kalgebra-19.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>edb4f11f288b428ac6c4ccaa38ad85a6fa9eee91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kalzium-19.03.90.tar.xz">kalzium-19.03.90</a></td>
   <td align="right">25MB</td>
   <td><tt>06879fd04c8ba87a3a0f80bc41ef10e4b7ccbdb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kamera-19.03.90.tar.xz">kamera-19.03.90</a></td>
   <td align="right">96kB</td>
   <td><tt>d2c5939520854724bdd92327dc5848e2c28411ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kamoso-19.03.90.tar.xz">kamoso-19.03.90</a></td>
   <td align="right">195kB</td>
   <td><tt>abc7dd2b284f540b61c2b0e861ff2e548d20a0b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kanagram-19.03.90.tar.xz">kanagram-19.03.90</a></td>
   <td align="right">7.6MB</td>
   <td><tt>74f6f930245d46946c9f53a05ae67c0a8eebc332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kapman-19.03.90.tar.xz">kapman-19.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ae7e61e0312a1ca04f402f08a57af5674e6725c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kapptemplate-19.03.90.tar.xz">kapptemplate-19.03.90</a></td>
   <td align="right">310kB</td>
   <td><tt>f175006644c418c811cf4eae447be59e66f85f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kate-19.03.90.tar.xz">kate-19.03.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>68ffa2979e375b24531066b02e97e3b0926a542b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/katomic-19.03.90.tar.xz">katomic-19.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>625f399ed48a1f5835806f142b7eb779204d2abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kbackup-19.03.90.tar.xz">kbackup-19.03.90</a></td>
   <td align="right">346kB</td>
   <td><tt>b994be62b05520f3ea5957673071924d346eddda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kblackbox-19.03.90.tar.xz">kblackbox-19.03.90</a></td>
   <td align="right">433kB</td>
   <td><tt>ce19aad6c4a23bc0fdfca4a59b7a421c0c1f5cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kblocks-19.03.90.tar.xz">kblocks-19.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0dc4d62ba85449dae8ea1caf21691063abd1885b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kblog-19.03.90.tar.xz">kblog-19.03.90</a></td>
   <td align="right">71kB</td>
   <td><tt>5dbd6da4175734102bdaeda68f652ac1443a31ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kbounce-19.03.90.tar.xz">kbounce-19.03.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>88afbbced138d04e69d70cabb0312f068028d1f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kbreakout-19.03.90.tar.xz">kbreakout-19.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2a6aa037dfea3ae8786ec4e5514e800a8ecf8e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kbruch-19.03.90.tar.xz">kbruch-19.03.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>b597eea93e7ba05f7a8496bd349ff0451d4c77e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcachegrind-19.03.90.tar.xz">kcachegrind-19.03.90</a></td>
   <td align="right">789kB</td>
   <td><tt>c665ab6c01733468251ae9d924b91eda51a93a0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcalc-19.03.90.tar.xz">kcalc-19.03.90</a></td>
   <td align="right">357kB</td>
   <td><tt>46f544b65099171f30ac7a5502cc7b2eeaeb1b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcalcore-19.03.90.tar.xz">kcalcore-19.03.90</a></td>
   <td align="right">246kB</td>
   <td><tt>7f61609ab4676a0ba7bf32f77356c486b326cb81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcalutils-19.03.90.tar.xz">kcalutils-19.03.90</a></td>
   <td align="right">321kB</td>
   <td><tt>f38f82d63806dafee29e722ddc4f8c9b8add3721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcharselect-19.03.90.tar.xz">kcharselect-19.03.90</a></td>
   <td align="right">326kB</td>
   <td><tt>d1843a34227aeac87ab284b970792817b3d97c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcolorchooser-19.03.90.tar.xz">kcolorchooser-19.03.90</a></td>
   <td align="right">17kB</td>
   <td><tt>9d3ca2d5a58c4ea42d37d6006cc0202106b45191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcontacts-19.03.90.tar.xz">kcontacts-19.03.90</a></td>
   <td align="right">589kB</td>
   <td><tt>df21c8b2d238d3611d03bd5c5e0a71ab59e978c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kcron-19.03.90.tar.xz">kcron-19.03.90</a></td>
   <td align="right">905kB</td>
   <td><tt>7c3bcb8469e5343f3d9507419fa292ae83e4fa16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdav-19.03.90.tar.xz">kdav-19.03.90</a></td>
   <td align="right">48kB</td>
   <td><tt>c5c387b38d045586b0ec177417d568c5d72eefa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdebugsettings-19.03.90.tar.xz">kdebugsettings-19.03.90</a></td>
   <td align="right">54kB</td>
   <td><tt>e11ebf396a508ed6cd831c3770c3fa618038df71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kde-dev-scripts-19.03.90.tar.xz">kde-dev-scripts-19.03.90</a></td>
   <td align="right">369kB</td>
   <td><tt>d998cbe53cb52863be13cbfdeab35e1d54f1291d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kde-dev-utils-19.03.90.tar.xz">kde-dev-utils-19.03.90</a></td>
   <td align="right">60kB</td>
   <td><tt>ce26b8609c5178278f44aecba6b7bee3b913206e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdeedu-data-19.03.90.tar.xz">kdeedu-data-19.03.90</a></td>
   <td align="right">320kB</td>
   <td><tt>cc5ba40fef6a9f3c15716949dfb8471d9698817f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdegraphics-mobipocket-19.03.90.tar.xz">kdegraphics-mobipocket-19.03.90</a></td>
   <td align="right">13kB</td>
   <td><tt>365825f29e54ee627cc2a172f25c8ff77bafda3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdegraphics-thumbnailers-19.03.90.tar.xz">kdegraphics-thumbnailers-19.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>599b4b988dd27e0f84160e2a1e37c78732109c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdenetwork-filesharing-19.03.90.tar.xz">kdenetwork-filesharing-19.03.90</a></td>
   <td align="right">305kB</td>
   <td><tt>73cd2339575f44a5a834d9ffba1cf2ee2b14e804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdenlive-19.03.90.tar.xz">kdenlive-19.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>bfbc2eb0650dc78213ef46787f035586430b8b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdepim-addons-19.03.90.tar.xz">kdepim-addons-19.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2ccaea2aa9b5aabe5fdecc0a4f5cc6195ebc1156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdepim-apps-libs-19.03.90.tar.xz">kdepim-apps-libs-19.03.90</a></td>
   <td align="right">83kB</td>
   <td><tt>95dde7953504aa0b186df4fd51da12e13771f42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdepim-runtime-19.03.90.tar.xz">kdepim-runtime-19.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>180e1420b810c8a0523685fe3b97d536e2908c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdesdk-kioslaves-19.03.90.tar.xz">kdesdk-kioslaves-19.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>c9082f0f6ef624324108befdb6593649402980e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdesdk-thumbnailers-19.03.90.tar.xz">kdesdk-thumbnailers-19.03.90</a></td>
   <td align="right">16kB</td>
   <td><tt>59e7562b4e7543e429ef0315ed2fe2f8f713fd90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdf-19.03.90.tar.xz">kdf-19.03.90</a></td>
   <td align="right">528kB</td>
   <td><tt>554450255e7fa5fff53b80ffc1a2e2487b38bf8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdialog-19.03.90.tar.xz">kdialog-19.03.90</a></td>
   <td align="right">96kB</td>
   <td><tt>ab845ea478b865f909be5be01c5903e6015badbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kdiamond-19.03.90.tar.xz">kdiamond-19.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>31f4f6f4a23988d5b4480e851efcddca83d3ec0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/keditbookmarks-19.03.90.tar.xz">keditbookmarks-19.03.90</a></td>
   <td align="right">180kB</td>
   <td><tt>80bbc4f122c7108215f6b3b5043ef170b5b3fd2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kfind-19.03.90.tar.xz">kfind-19.03.90</a></td>
   <td align="right">261kB</td>
   <td><tt>e6f0b14cbfb4aeb8388acd84ac5deea69f14de95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kfloppy-19.03.90.tar.xz">kfloppy-19.03.90</a></td>
   <td align="right">194kB</td>
   <td><tt>4ffaf6f6f04cd19234d565a37b9a702c2e9a9dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kfourinline-19.03.90.tar.xz">kfourinline-19.03.90</a></td>
   <td align="right">621kB</td>
   <td><tt>8dcb52b6c21e9c0cfd58132b5019335f352f8c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kgeography-19.03.90.tar.xz">kgeography-19.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>ebee5d97cee2ec19fed0045a793c12d20f3dfe48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kget-19.03.90.tar.xz">kget-19.03.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>6817c7f90eb064c44752bc860238c62c264d7f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kgoldrunner-19.03.90.tar.xz">kgoldrunner-19.03.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6fa4eb41d3e161820323ccdd2cc31f708e8744d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kgpg-19.03.90.tar.xz">kgpg-19.03.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ab70a7fe2929fed1bb65830e2d21e5520822f48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/khangman-19.03.90.tar.xz">khangman-19.03.90</a></td>
   <td align="right">6.7MB</td>
   <td><tt>2c3122803b07df7e1d8ae8f6e5fec5c43b1a80f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/khelpcenter-19.03.90.tar.xz">khelpcenter-19.03.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>ec907c4ac2c54dcef0196c1654de54a99cbf04bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kidentitymanagement-19.03.90.tar.xz">kidentitymanagement-19.03.90</a></td>
   <td align="right">145kB</td>
   <td><tt>f952da90ffa93d2b51b24d91c803e6f009f0c692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kig-19.03.90.tar.xz">kig-19.03.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>90aa57042eeee544714ee8d8a704d6bdd4cfac8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kigo-19.03.90.tar.xz">kigo-19.03.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>7119da51c52db8abdd01a92e0293683ea75d77d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/killbots-19.03.90.tar.xz">killbots-19.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a42bd9b50ca3319e1b62bd7d8aa120457e97e21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kimagemapeditor-19.03.90.tar.xz">kimagemapeditor-19.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d4601db5c4cfe7b4b411ded204a4777544c7fac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kimap-19.03.90.tar.xz">kimap-19.03.90</a></td>
   <td align="right">116kB</td>
   <td><tt>6fa266a6825faf70c2f5ed1c51d98d18ea330310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kio-extras-19.03.90.tar.xz">kio-extras-19.03.90</a></td>
   <td align="right">556kB</td>
   <td><tt>cf5b62c4d462f6e724cb5bbb89f02bf0f654920d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kirigami-gallery-19.03.90.tar.xz">kirigami-gallery-19.03.90</a></td>
   <td align="right">263kB</td>
   <td><tt>4314e6f3336b84df0b362f006ad35553b9348583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kiriki-19.03.90.tar.xz">kiriki-19.03.90</a></td>
   <td align="right">363kB</td>
   <td><tt>90a9c80fcbfea78307f80e8c36758d72f43fa856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kiten-19.03.90.tar.xz">kiten-19.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>89bd71761b5529606b9680c798befef818f6d13c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kitinerary-19.03.90.tar.xz">kitinerary-19.03.90</a></td>
   <td align="right">673kB</td>
   <td><tt>d30c5ea2531c50370609aad4a04a8e0bc6737812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kjumpingcube-19.03.90.tar.xz">kjumpingcube-19.03.90</a></td>
   <td align="right">280kB</td>
   <td><tt>2b2321abb705ad0f6d592794e209f71152fd54c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kldap-19.03.90.tar.xz">kldap-19.03.90</a></td>
   <td align="right">151kB</td>
   <td><tt>8b8144d6d8e0bde37c45b21894e3ce8773c91dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kleopatra-19.03.90.tar.xz">kleopatra-19.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>74f069e5694b91a40453c7b84528de46601a06e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/klettres-19.03.90.tar.xz">klettres-19.03.90</a></td>
   <td align="right">20MB</td>
   <td><tt>8fdea78eafde69096304583b5427253fe5059daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/klickety-19.03.90.tar.xz">klickety-19.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6dcae5227476ce95dd91852217b17651a55b3ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/klines-19.03.90.tar.xz">klines-19.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a4dd7802fe6a2304af28e51339247bad342222fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmag-19.03.90.tar.xz">kmag-19.03.90</a></td>
   <td align="right">722kB</td>
   <td><tt>8e8a4af9f5f07a4aee6a0da55405e2b0927a4daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmahjongg-19.03.90.tar.xz">kmahjongg-19.03.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>0266c6aefa03721003883739ca0de5adf1dca3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmail-19.03.90.tar.xz">kmail-19.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>0667af762bde34623640e3b3461fe5190ee65ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmail-account-wizard-19.03.90.tar.xz">kmail-account-wizard-19.03.90</a></td>
   <td align="right">152kB</td>
   <td><tt>4274930e6c760b87ccbbaf545391f076ba234d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmailtransport-19.03.90.tar.xz">kmailtransport-19.03.90</a></td>
   <td align="right">162kB</td>
   <td><tt>718ee4ea723fa6835f54dd3f5b0fa5d2b04be3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmbox-19.03.90.tar.xz">kmbox-19.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>4df68c3d49875da65e97042afeb4e03dfc52da58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmime-19.03.90.tar.xz">kmime-19.03.90</a></td>
   <td align="right">143kB</td>
   <td><tt>82ba7ebfe8265ecc173eab92196f12aa7887f573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmines-19.03.90.tar.xz">kmines-19.03.90</a></td>
   <td align="right">883kB</td>
   <td><tt>65a858ca2e644d8db218eb2fff4320d258a65c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmix-19.03.90.tar.xz">kmix-19.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>58b4b24dd217b3da1121c6752cd4ea5a9c8e0356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmousetool-19.03.90.tar.xz">kmousetool-19.03.90</a></td>
   <td align="right">110kB</td>
   <td><tt>b77a5d707c9da2d33db6c64bd948dcd51256dff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmouth-19.03.90.tar.xz">kmouth-19.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>381c7b93a1716c50086af9e8bab18189acf2d41f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kmplot-19.03.90.tar.xz">kmplot-19.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>98ab6fcc122a161fdf888b8b8c77788d5ed3f547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/knavalbattle-19.03.90.tar.xz">knavalbattle-19.03.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f917154ae63a418dd0e3d804f396e75ca45cc898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/knetwalk-19.03.90.tar.xz">knetwalk-19.03.90</a></td>
   <td align="right">1013kB</td>
   <td><tt>b782ce86d2e0ad089cec11590f12e0d96a2af8ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/knights-19.03.90.tar.xz">knights-19.03.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e3200e7b6dad9ad9de1114c5240e55e460e0f813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/knotes-19.03.90.tar.xz">knotes-19.03.90</a></td>
   <td align="right">312kB</td>
   <td><tt>d953664eb0c07c276594985be47ee7b9322bd762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kolf-19.03.90.tar.xz">kolf-19.03.90</a></td>
   <td align="right">997kB</td>
   <td><tt>50d49bfaa795e425ee976b056b43c01cf0ad00fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kollision-19.03.90.tar.xz">kollision-19.03.90</a></td>
   <td align="right">274kB</td>
   <td><tt>edee106525ac2bbc467670ca5f2d7f295e522d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kolourpaint-19.03.90.tar.xz">kolourpaint-19.03.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>7c39b7ec50923ec961ca02041f230d561d3167b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kompare-19.03.90.tar.xz">kompare-19.03.90</a></td>
   <td align="right">783kB</td>
   <td><tt>a83f40e73cefe5a466aeaab8d717fbed0b123e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/konqueror-19.03.90.tar.xz">konqueror-19.03.90</a></td>
   <td align="right">7.3MB</td>
   <td><tt>0d269faed6c7f64aad9b6eb29738980631317594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/konquest-19.03.90.tar.xz">konquest-19.03.90</a></td>
   <td align="right">643kB</td>
   <td><tt>ca0e286f2441553d21eeceb0344a8460c9513c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/konsole-19.03.90.tar.xz">konsole-19.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8d66f93de36528a5c39eefa43aa7021fb9402a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kontact-19.03.90.tar.xz">kontact-19.03.90</a></td>
   <td align="right">774kB</td>
   <td><tt>acac4a2a224b832b6278a07ae22fef4cca83acc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kontactinterface-19.03.90.tar.xz">kontactinterface-19.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>e87dd0694ce16514b7b6b7774316784a0410fde1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kopete-19.03.90.tar.xz">kopete-19.03.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>fb4e271bed6c77d22f32e942bef15b3bd7c5e267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/korganizer-19.03.90.tar.xz">korganizer-19.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1c61d2fd287fc858e150e18ccb144a33449756b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kpat-19.03.90.tar.xz">kpat-19.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>13a4240f960f71c460477adede2eb5360dab6968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kpimtextedit-19.03.90.tar.xz">kpimtextedit-19.03.90</a></td>
   <td align="right">148kB</td>
   <td><tt>95ca19f964d565c4b3a90d25efe9e2d64151ec5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kpkpass-19.03.90.tar.xz">kpkpass-19.03.90</a></td>
   <td align="right">22kB</td>
   <td><tt>33cc2e487b43e28ccfbe42b707c6cc55f9fb762a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kqtquickcharts-19.03.90.tar.xz">kqtquickcharts-19.03.90</a></td>
   <td align="right">25kB</td>
   <td><tt>bd26d090adb02b5f8253d38ff7afca8a674c8d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/krdc-19.03.90.tar.xz">krdc-19.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ec90b602e5ebca4c3be4197cb8a6322e1e03375c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kreversi-19.03.90.tar.xz">kreversi-19.03.90</a></td>
   <td align="right">921kB</td>
   <td><tt>c282c336decaf917ae8a18fb99159765bf2dc836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/krfb-19.03.90.tar.xz">krfb-19.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>cb6c8471d3655f645c3dd30b3df7b53227886572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kross-interpreters-19.03.90.tar.xz">kross-interpreters-19.03.90</a></td>
   <td align="right">146kB</td>
   <td><tt>34bc3663b10212f21529fde559a912a5de173667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kruler-19.03.90.tar.xz">kruler-19.03.90</a></td>
   <td align="right">243kB</td>
   <td><tt>ffef21278c2fc18d34e5bede2d6adc5f39d1ba12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kshisen-19.03.90.tar.xz">kshisen-19.03.90</a></td>
   <td align="right">802kB</td>
   <td><tt>4b04efefb62bda37650740012737e546fb5d2dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ksirk-19.03.90.tar.xz">ksirk-19.03.90</a></td>
   <td align="right">6.6MB</td>
   <td><tt>f41943d247d67b90cc5518f5f58faa1e0851bd3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ksmtp-19.03.90.tar.xz">ksmtp-19.03.90</a></td>
   <td align="right">39kB</td>
   <td><tt>feea6d2c08ffc868159bffd00a840088abd3bd3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ksnakeduel-19.03.90.tar.xz">ksnakeduel-19.03.90</a></td>
   <td align="right">590kB</td>
   <td><tt>f767ebb15a31e34537f7ba343c292e234642a804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kspaceduel-19.03.90.tar.xz">kspaceduel-19.03.90</a></td>
   <td align="right">596kB</td>
   <td><tt>109ddc96d955ebaf1cbe5be683f57aeb43b46652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ksquares-19.03.90.tar.xz">ksquares-19.03.90</a></td>
   <td align="right">253kB</td>
   <td><tt>89d67690bcf94dd42f9fbf1c5cae1222c296c2d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ksudoku-19.03.90.tar.xz">ksudoku-19.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f50097ab4449e41d4b79aac672a990dddb7c560c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ksystemlog-19.03.90.tar.xz">ksystemlog-19.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ebf91e2dbbf37c498d439db28257a829af917456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kteatime-19.03.90.tar.xz">kteatime-19.03.90</a></td>
   <td align="right">291kB</td>
   <td><tt>7d84b6d114773c5a39ac9c81a988cc54095e48ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktimer-19.03.90.tar.xz">ktimer-19.03.90</a></td>
   <td align="right">368kB</td>
   <td><tt>051602b5743c1b797c61e656b55a90099f2fb3d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktnef-19.03.90.tar.xz">ktnef-19.03.90</a></td>
   <td align="right">292kB</td>
   <td><tt>f37b7e16d1b5e3a5bd82cdae24a6908a98ededfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktouch-19.03.90.tar.xz">ktouch-19.03.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>c4e2be690047dbfc244dc90aa8b0840ec75cb42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-accounts-kcm-19.03.90.tar.xz">ktp-accounts-kcm-19.03.90</a></td>
   <td align="right">255kB</td>
   <td><tt>e7a04ea772631a7e6847348eb818ef4d809bc66e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-approver-19.03.90.tar.xz">ktp-approver-19.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>1add3b0e7b85cf7ca2d85327b4ae21d82ddfcb6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-auth-handler-19.03.90.tar.xz">ktp-auth-handler-19.03.90</a></td>
   <td align="right">44kB</td>
   <td><tt>22db7b2332fdf93049e6572c0ea30dfc38365175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-call-ui-19.03.90.tar.xz">ktp-call-ui-19.03.90</a></td>
   <td align="right">93kB</td>
   <td><tt>82143351ddcd2343f346eb0123601ba01eb0106f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-common-internals-19.03.90.tar.xz">ktp-common-internals-19.03.90</a></td>
   <td align="right">431kB</td>
   <td><tt>b261d899401c48f85f8858ab7f9e3a79866ff128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-contact-list-19.03.90.tar.xz">ktp-contact-list-19.03.90</a></td>
   <td align="right">143kB</td>
   <td><tt>8b1139ca6bb086150123b4db54e8c05f7c9d0e84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-contact-runner-19.03.90.tar.xz">ktp-contact-runner-19.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>8d505c68c975efb4a94aaf066e28f58bb68a626f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-desktop-applets-19.03.90.tar.xz">ktp-desktop-applets-19.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>c50f6962562fa62e998bf94158a8683e38cda0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-filetransfer-handler-19.03.90.tar.xz">ktp-filetransfer-handler-19.03.90</a></td>
   <td align="right">44kB</td>
   <td><tt>d75a01e4073e662adc064e2890808d1989eaab95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-kded-module-19.03.90.tar.xz">ktp-kded-module-19.03.90</a></td>
   <td align="right">92kB</td>
   <td><tt>7071edc9710b36cdb04732e6fb8d15b7b7dd6bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-send-file-19.03.90.tar.xz">ktp-send-file-19.03.90</a></td>
   <td align="right">27kB</td>
   <td><tt>9e380fb542493c4898bdf1607ea1f3e040ecce66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktp-text-ui-19.03.90.tar.xz">ktp-text-ui-19.03.90</a></td>
   <td align="right">455kB</td>
   <td><tt>b539c9c2dfd0da36ac8997e0e690c09bc06fba64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/ktuberling-19.03.90.tar.xz">ktuberling-19.03.90</a></td>
   <td align="right">31MB</td>
   <td><tt>c5805b194f5b2505bc006db5666f0e846dbb8e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kturtle-19.03.90.tar.xz">kturtle-19.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e1a4fbf1493b25fbcdc3782d5168d12ff3789bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kubrick-19.03.90.tar.xz">kubrick-19.03.90</a></td>
   <td align="right">303kB</td>
   <td><tt>6b8f210ff04ccb2394edb7b0e267bdc0cb28d421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kwalletmanager-19.03.90.tar.xz">kwalletmanager-19.03.90</a></td>
   <td align="right">767kB</td>
   <td><tt>f3fcc28adce2aecf080f10f4671e4430598f5408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kwave-19.03.90.tar.xz">kwave-19.03.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>69b7602a3ca7be8c2e5267a511342825a4879cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/kwordquiz-19.03.90.tar.xz">kwordquiz-19.03.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>5217ba523b31a5f9d0ed966f5a6cac3f996bc322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libgravatar-19.03.90.tar.xz">libgravatar-19.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>20f5c85ac9e3e8f717e4821f97db6263f21a702b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkcddb-19.03.90.tar.xz">libkcddb-19.03.90</a></td>
   <td align="right">416kB</td>
   <td><tt>43596a07a136bc8b23b343fc6cd79a148ecdc968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkcompactdisc-19.03.90.tar.xz">libkcompactdisc-19.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>721306c28af94c766be5c1ed8cba2646d693dbfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkdcraw-19.03.90.tar.xz">libkdcraw-19.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>0bac8002688cf3e5dcf451ae750176ceabee93c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkdegames-19.03.90.tar.xz">libkdegames-19.03.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>682a5b7d5384bb1a843eb09020a18671784f8df6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkdepim-19.03.90.tar.xz">libkdepim-19.03.90</a></td>
   <td align="right">329kB</td>
   <td><tt>4bebd558882757dd06c0cb75ffdde39170022a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkeduvocdocument-19.03.90.tar.xz">libkeduvocdocument-19.03.90</a></td>
   <td align="right">202kB</td>
   <td><tt>ee6d339b43461afae18574dfcb6c8b4e704f64bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkexiv2-19.03.90.tar.xz">libkexiv2-19.03.90</a></td>
   <td align="right">62kB</td>
   <td><tt>539a8b6afb8d5399f1d7803a79c5a5dd53aaf26b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkgapi-19.03.90.tar.xz">libkgapi-19.03.90</a></td>
   <td align="right">219kB</td>
   <td><tt>d95b8350725ee726f1bba3bdcc3d616ac82d136e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkgeomap-19.03.90.tar.xz">libkgeomap-19.03.90</a></td>
   <td align="right">147kB</td>
   <td><tt>2f4a11b221f4c9d5610392eb23a342379739d63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkipi-19.03.90.tar.xz">libkipi-19.03.90</a></td>
   <td align="right">100kB</td>
   <td><tt>d51c8040071da3eed4427f21fa757f20ad016c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkleo-19.03.90.tar.xz">libkleo-19.03.90</a></td>
   <td align="right">325kB</td>
   <td><tt>c4f5978d37ee128e25c60da84887a05b26115b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkmahjongg-19.03.90.tar.xz">libkmahjongg-19.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2364adc84efd8c5aec385701fcba22a4237e694e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libkomparediff2-19.03.90.tar.xz">libkomparediff2-19.03.90</a></td>
   <td align="right">169kB</td>
   <td><tt>9be068eae83e7f1a8700371780b7fce86f454adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libksane-19.03.90.tar.xz">libksane-19.03.90</a></td>
   <td align="right">134kB</td>
   <td><tt>c3c4668b1ea37fe1045b2517bba55931056eb99d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/libksieve-19.03.90.tar.xz">libksieve-19.03.90</a></td>
   <td align="right">537kB</td>
   <td><tt>44db3e5749b650124a2a0653e3e661e43cc2f372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/lokalize-19.03.90.tar.xz">lokalize-19.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>594532b905e4d1ae6d771b72823e6f47f7cfd43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/lskat-19.03.90.tar.xz">lskat-19.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a9628cf9ed382484baf8be3db0ee48cb39e7bbd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/mailcommon-19.03.90.tar.xz">mailcommon-19.03.90</a></td>
   <td align="right">677kB</td>
   <td><tt>bd66911f444385513df4c3e624213139264de0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/mailimporter-19.03.90.tar.xz">mailimporter-19.03.90</a></td>
   <td align="right">527kB</td>
   <td><tt>5a65985d3317d85a76956582b83fcd0975691700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/marble-19.03.90.tar.xz">marble-19.03.90</a></td>
   <td align="right">49MB</td>
   <td><tt>683efe064befe5336e5574f6a3599c554fb1509a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/mbox-importer-19.03.90.tar.xz">mbox-importer-19.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>cc04f3b4484820b652c6514d7bb15b9520510afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/messagelib-19.03.90.tar.xz">messagelib-19.03.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>7edd0a27df1ac149ea3e7402b624826c0dc34ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/minuet-19.03.90.tar.xz">minuet-19.03.90</a></td>
   <td align="right">26MB</td>
   <td><tt>14edb80f97e99cba2e0006eee47fb6a7450138d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/okular-19.03.90.tar.xz">okular-19.03.90</a></td>
   <td align="right">6.3MB</td>
   <td><tt>e184f7989b9908e6581e2c4768a6e5e6ae3c4309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/palapeli-19.03.90.tar.xz">palapeli-19.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1c6ceec085235e5859faf24540411bdde11ff3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/parley-19.03.90.tar.xz">parley-19.03.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>385e8d0196f42774effb030c3b7f28904f958a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/picmi-19.03.90.tar.xz">picmi-19.03.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>127e287f6f11469a98e0fb9e09b3dab06c89b14d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/pimcommon-19.03.90.tar.xz">pimcommon-19.03.90</a></td>
   <td align="right">288kB</td>
   <td><tt>d94265b05e0f496a0fe24d58e71c91ed99e51cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/pim-data-exporter-19.03.90.tar.xz">pim-data-exporter-19.03.90</a></td>
   <td align="right">264kB</td>
   <td><tt>4f537c7a7989bb93910c081c5332191be2f6097d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/pim-sieve-editor-19.03.90.tar.xz">pim-sieve-editor-19.03.90</a></td>
   <td align="right">440kB</td>
   <td><tt>0f1350f7e7b56492b719670c54e1e2845b63086a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/poxml-19.03.90.tar.xz">poxml-19.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>4f672051dd900e466f7a7dc87097a3ef34f41a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/print-manager-19.03.90.tar.xz">print-manager-19.03.90</a></td>
   <td align="right">234kB</td>
   <td><tt>30e9c63c287f311b43c4d3621895712eee83038a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/rocs-19.03.90.tar.xz">rocs-19.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b34923d0e2a5abc8fa255d5957f75db3908e5d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/signon-kwallet-extension-19.03.90.tar.xz">signon-kwallet-extension-19.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>a0f0e405592b7d756eba7961ce81e371906217ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/spectacle-19.03.90.tar.xz">spectacle-19.03.90</a></td>
   <td align="right">816kB</td>
   <td><tt>bc9dfb8f24cc4a3776d8f1787a089c735846bbaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/step-19.03.90.tar.xz">step-19.03.90</a></td>
   <td align="right">840kB</td>
   <td><tt>aa04f4b837c8914fadb0d23408db97648d8e366c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/svgpart-19.03.90.tar.xz">svgpart-19.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>2c4fecdfa15daf75ae66de6d47357d256493f170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/sweeper-19.03.90.tar.xz">sweeper-19.03.90</a></td>
   <td align="right">359kB</td>
   <td><tt>4befbec0cd22b73c5602fe3119a5acd4875cd5cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/umbrello-19.03.90.tar.xz">umbrello-19.03.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>aacc504a828df5c25737db659db3acda61bc70df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.90/src/zeroconf-ioslave-19.03.90.tar.xz">zeroconf-ioslave-19.03.90</a></td>
   <td align="right">37kB</td>
   <td><tt>bb8671c2cd9680b773b492cb1a0dc14bf785625d</tt></td>
</tr>

</table>
