<meta name="description" content="{{ partial "fn/i18n_description" . }}">
{{ $title := partial "fn/i18n_title" . }}
<title>{{ $title }} - {{ i18n "site-title" }}</title>
{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}

{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ "/" | absURL }}",
  "name": "{{ .Title }}",
  "inLanguage": {
      "@type": "Language",
      "name": "{{ .Site.Language.LanguageName }}"
  },
  "availableLanguage": [
    {{ $len := (len .Translations) }}
    {{ range $index, $element := .Translations }}
    {
      "@type": "Language",
      "name": "{{ $element.Language.LanguageName }}"
    }{{ if not (eq (add $index 1) $len) }},{{ end }}
    {{ end }}
  ],
  "sameAs": [
    "https://floss.social/@kde",
    "https://www.facebook.com/kde",
    "https://twitter.com/kdecommunity",
    "https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ",
    "https://tube.kockatoo.org/a/kde_community/video-channels",
    "https://www.instagram.com/kdecommunity/"
  ]
}
</script>
