{{/*
SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<div class="container">
  <div class="row">{{ range $.Page.Params.other }}
    <div class="col-12 col-md-6 my-3">
      <a href="{{ .link }}" class="dark-card d-flex gap-3">
          <img src="{{ .img }}" alt="">
        <div>
          <h3 class="h4 mt-0">{{- .name -}}</h3>
          <p>{{ .description | markdownify }}</p>
        </div>
      </a>
    </div>{{ end }}
  </div>
</div>
